cfm-trucking-nifi/src/main/resources/nifi-flows/FlowDesigner/Kohs-Kafka-to-Iceberg-and-Snowflake-version-2-Designer.json
{"snapshotMetadata":{"bucketIdentifier":null,"flowIdentifier":"980e19d7-9675-452d-8488-3dadb6db21d4","version":0,"timestamp":1678740937334,"author":null,"comments":null,"link":null},"flowContents":{"identifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa","instanceIdentifier":"e1d08f5b-0185-1000-0000-00002928c7d4","name":"Kafka to Iceberg and Snowflake","comments":"","position":{"x":80.0,"y":-64.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"33fe7e07-296d-4764-bd85-c570fc87d495","instanceIdentifier":null,"name":"MergeRecord","comments":"","position":{"x":1232.4520055221583,"y":568.4679681964544},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.9.0-1"},"properties":{"max-bin-age":"5 min","correlation-attribute-name":null,"Attribute Strategy":"Keep Only Common Attributes","min-records":"1","max-bin-size":null,"record-writer":"20ba6282-84ac-3176-b140-1ad0396ee815","merge-strategy":"Bin-Packing Algorithm","record-reader":"8ad40e41-bdec-3c27-a5e2-3638cd13a648","max-records":"1000","min-bin-size":"0 B","max.bin.count":"10"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"9329681a-c436-454b-bcf4-b8667b143ebb","instanceIdentifier":null,"name":"Filter Edits","comments":"","position":{"x":1226.4083251953125,"y":225.21536254882812},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.9.0-1"},"properties":{"cache-schema":"true","dbf-default-precision":"10","record-writer":"20ba6282-84ac-3176-b140-1ad0396ee815","Filtered edits":"Select * from FLOWFILE where edit_type='edit'","record-reader":"8ad40e41-bdec-3c27-a5e2-3638cd13a648","include-zero-record-flowfiles":"false","dbf-default-scale":"0"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"f47e9a02-df7a-3dbb-8bc8-834a0860d6fd","instanceIdentifier":"e5252627-0185-1000-0000-00005498da2b","name":"MergeRecords","comments":"","position":{"x":206.83816528320312,"y":231.19200134277344},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.9.0-1"},"properties":{"max-bin-age":"5 min","correlation-attribute-name":null,"Attribute Strategy":"Keep Only Common Attributes","min-records":"1","max-bin-size":"1 GB","record-writer":"20ba6282-84ac-3176-b140-1ad0396ee815","merge-strategy":"Bin-Packing Algorithm","record-reader":"8ad40e41-bdec-3c27-a5e2-3638cd13a648","max-records":"100000000","min-bin-size":"100 MB","max.bin.count":"5"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"92a9dbb6-efda-4a32-8036-f902f7d2a6b0","instanceIdentifier":null,"name":"WriteToIceberg","comments":"","position":{"x":1237.15576171875,"y":888.0584716796875},"type":"org.apache.nifi.processors.iceberg.PutIceberg","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-processors-nar","version":"1.20.0.2.3.9.0-1"},"properties":{"maximum-file-size":null,"file-format":"PARQUET","catalog-service":"0e6687eb-474c-31da-b47c-3ed1a4360a30","record-reader":"8ad40e41-bdec-3c27-a5e2-3638cd13a648","table-name":"#{Iceberg Table Edits}","kerberos-user-service":"059cf9c7-697e-39fc-bf93-33157764d988","catalog-namespace":"#{Hive Catalog Namespace}"},"propertyDescriptors":{"maximum-file-size":{"name":"maximum-file-size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"file-format":{"name":"file-format","displayName":"File Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"catalog-service":{"name":"catalog-service","displayName":"Catalog Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"table-name":{"name":"table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"catalog-namespace":{"name":"catalog-namespace","displayName":"Catalog Namespace","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"6c8a5052-7564-3920-8007-d72b01c853be","instanceIdentifier":"e8dafddb-03d9-3145-b37b-c90b9a3d8b7b","name":"ConsumeFromKafka","comments":"","position":{"x":944.947509765625,"y":-103.10253524780273},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafka2RecordCDP","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-kafka-2-nar","version":"1.0.0.2.3.9.0-1"},"properties":{"header-name-regex":null,"Commit Offsets":"true","record-writer":"20ba6282-84ac-3176-b140-1ad0396ee815","group.id":"#{Kafka Consumer Group Id}","bootstrap.servers":"#{Kafka Broker Endpoint}","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"max-uncommit-offset-wait":"1 secs","sasl.mechanism":"PLAIN","honor-transactions":"true","interceptor.classes":"com.hortonworks.smm.kafka.monitoring.interceptors.MonitoringConsumerInterceptor","record-reader":"4b704e25-543b-3ac0-b72f-1fccff198680","message-header-encoding":"UTF-8","sasl.username":"#{CDP Workload User}","max.poll.records":"10000","security.protocol":"SASL_SSL","ssl.context.service":"a48dac5c-e028-3ff9-b3ed-662def51d70b","sasl.token.auth":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"#{Kafka Source Topic}","separate-by-key":"false","sasl.password":"#{CDP Workload User Password}","key-attribute-encoding":"utf-8","auto.offset.reset":"earliest","output-strategy":"USE_VALUE","key-format":"byte-array"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"interceptor.classes":{"name":"interceptor.classes","displayName":"interceptor.classes","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":2,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"46560eba-5e3a-4931-aed5-064ea7a1836e","instanceIdentifier":null,"name":"PutSnowflakeInternalStage","comments":"","position":{"x":791.5922318716097,"y":566.3907233111602},"type":"org.apache.nifi.processors.snowflake.PutSnowflakeInternalStage","bundle":{"group":"org.apache.nifi","artifact":"nifi-snowflake-processors-nar","version":"1.20.0.2.3.9.0-1"},"properties":{"schema":"PUBLIC","database":"MYDATABASE","internal-stage-type":"table","snowflake-connection-provider":"8e7a5f89-ff20-48c3-8d06-d083450b204d","table":"WIKIPEDIA_CHANGES","internal-stage":null},"propertyDescriptors":{"schema":{"name":"schema","displayName":"Schema","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"database":{"name":"database","displayName":"Database","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"internal-stage-type":{"name":"internal-stage-type","displayName":"Internal Stage Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"snowflake-connection-provider":{"name":"snowflake-connection-provider","displayName":"Snowflake Connection Provider","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"table":{"name":"table","displayName":"Table","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"internal-stage":{"name":"internal-stage","displayName":"Stage","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"08b06b5e-c7c1-4471-ad32-1898be120e2c","instanceIdentifier":null,"name":"StartSnowflakeIngest","comments":"","position":{"x":205.63673237053683,"y":570.387500242844},"type":"org.apache.nifi.processors.snowflake.StartSnowflakeIngest","bundle":{"group":"org.apache.nifi","artifact":"nifi-snowflake-processors-nar","version":"1.20.0.2.3.9.0-1"},"properties":{"ingest-manager-provider":"6c326b7f-00a5-4207-b6b2-154a6c58b540"},"propertyDescriptors":{"ingest-manager-provider":{"name":"ingest-manager-provider","displayName":"Ingest Manager Provider","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"a77265e5-cef4-4127-a217-90d66a348c57","instanceIdentifier":null,"name":"ConvertAVROtoCSV","comments":"","position":{"x":791.439447417478,"y":231.11521686986225},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.9.0-1"},"properties":{"record-writer":"9d06d5ca-aa6f-4fa8-9819-648af6024a2f","record-reader":"8ad40e41-bdec-3c27-a5e2-3638cd13a648","include-zero-record-flowfiles":"false"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"4ad9f650-6278-403e-8825-1fc4a40e4766","instanceIdentifier":null,"name":"GetSnowflakeIngestStatus","comments":"","position":{"x":204.89768855642598,"y":883.0576368617608},"type":"org.apache.nifi.processors.snowflake.GetSnowflakeIngestStatus","bundle":{"group":"org.apache.nifi","artifact":"nifi-snowflake-processors-nar","version":"1.20.0.2.3.9.0-1"},"properties":{"ingest-manager-provider":"6c326b7f-00a5-4207-b6b2-154a6c58b540"},"propertyDescriptors":{"ingest-manager-provider":{"name":"ingest-manager-provider","displayName":"Ingest Manager Provider","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"5 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"}],"inputPorts":[],"outputPorts":[{"identifier":"dab0346b-cfe1-3d35-98bd-605d357edd92","instanceIdentifier":"ee196a42-9c59-32e4-bd9e-55dffe632b73","name":"Kafka Parse Failure","comments":"","position":{"x":1620.7899169921875,"y":-50.102535247802734},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"}],"connections":[{"identifier":"f6a420fb-dc9c-3d38-bc62-f1ed153e05c8","instanceIdentifier":"f9cf6d77-4663-3cdb-be5e-4910633e26ff","name":"success_ConsumeFromKafka-MergeContent","comments":null,"position":null,"source":{"id":"6c8a5052-7564-3920-8007-d72b01c853be","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":"ConsumeFromKafka","comments":"","instanceIdentifier":"e8dafddb-03d9-3145-b37b-c90b9a3d8b7b"},"destination":{"id":"f47e9a02-df7a-3dbb-8bc8-834a0860d6fd","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":"MergeRecords","comments":"","instanceIdentifier":"e5252627-0185-1000-0000-00005498da2b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"d0eeafce-6f65-4e87-9e85-69d89ea04f96","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"9329681a-c436-454b-bcf4-b8667b143ebb","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"33fe7e07-296d-4764-bd85-c570fc87d495","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["Filtered edits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"009c8104-df69-4d8a-bec2-c2caf4e60d71","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"4ad9f650-6278-403e-8825-1fc4a40e4766","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"4ad9f650-6278-403e-8825-1fc4a40e4766","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":666.8976885564259,"y":935.5576368617608},{"x":666.8976885564259,"y":1005.5576368617608}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"027aa726-5118-4441-9cab-1b79073d3fec","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"6c8a5052-7564-3920-8007-d72b01c853be","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"9329681a-c436-454b-bcf4-b8667b143ebb","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"64555283-c944-3de0-bbc1-ba1a2bd55851","instanceIdentifier":"15e22f8d-285c-3990-8fc8-65bfac1ca5fc","name":"parse.failure_ConsumeFromKafka","comments":null,"position":null,"source":{"id":"6c8a5052-7564-3920-8007-d72b01c853be","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":"ConsumeFromKafka","comments":"","instanceIdentifier":"e8dafddb-03d9-3145-b37b-c90b9a3d8b7b"},"destination":{"id":"dab0346b-cfe1-3d35-98bd-605d357edd92","type":"OUTPUT_PORT","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":"Kafka Parse Failure","comments":"","instanceIdentifier":"ee196a42-9c59-32e4-bd9e-55dffe632b73"},"labelIndex":1,"zIndex":0,"selectedRelationships":["parse.failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"22c911e9-42cd-4e61-8ced-f4e6b1a0d1df","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"33fe7e07-296d-4764-bd85-c570fc87d495","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"92a9dbb6-efda-4a32-8036-f902f7d2a6b0","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"7d0597d2-4a9a-4831-94cf-955aa03ffb68","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"f47e9a02-df7a-3dbb-8bc8-834a0860d6fd","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"a77265e5-cef4-4127-a217-90d66a348c57","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"c623cecb-2e03-4e90-91e0-51344191039d","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"a77265e5-cef4-4127-a217-90d66a348c57","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"46560eba-5e3a-4931-aed5-064ea7a1836e","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"9ccab1d7-e9c4-441a-9ec1-aa4f1482990d","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"46560eba-5e3a-4931-aed5-064ea7a1836e","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"08b06b5e-c7c1-4471-ad32-1898be120e2c","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"102bbf84-2064-4a88-af4f-040070d961f6","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"08b06b5e-c7c1-4471-ad32-1898be120e2c","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"4ad9f650-6278-403e-8825-1fc4a40e4766","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"}],"labels":[{"identifier":"70e617c7-86b6-4992-8bf5-21100a614031","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":1572.3153970269257,"y":282.41960985873243},"label":"Filter Edits: This processor filters \nout any events which are not edits","zIndex":0,"width":240.0,"height":56.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"92f5abed-bd9f-35ad-8188-1b80f5928cb7","instanceIdentifier":"e5c41ab1-0185-1000-0000-00000418bfc4","name":null,"comments":null,"position":{"x":162.90438842773438,"y":430.05870056152344},"label":"MergeRecords: To avoid writing lots of small files, this processor is \nconfigured to write out a file every time its size has either reached \n100MB or five minutes have passed. Files can reach a maximum \nsize of 1GB.","zIndex":0,"width":384.0,"height":104.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"a1f16ea1-9d5c-4ef4-8fc3-1badcc454632","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":739.7058001409068,"y":763.4592210409369},"label":"PutSnowflakeInternalStage: Writes data to Snowflake's table stage area. \nSubsequent processors then trigger the Snowflake pipe to ingest into \nthe actual table.","zIndex":0,"width":384.0,"height":64.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"f02f6594-f2c5-3283-be0d-bbe59c974baa","instanceIdentifier":"748736e8-ee0d-19e4-b4df-4c6d20979716","name":null,"comments":null,"position":{"x":1581.6738060712814,"y":949.6892700195312},"label":"WriteToIceberg: This processor ingests the data as Parquet files \ninto the destination Iceberg table. ","zIndex":0,"width":424.0,"height":48.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"aae57c04-3705-325e-b0b3-3a8d77dedc24","instanceIdentifier":"e51ad306-0185-1000-0000-00006c93d2ca","name":null,"comments":null,"position":{"x":891.3155517578125,"y":-204.52378845214844},"label":"This flow consumes CSV, JSON or AVRO data from a source \nKafka topic, parses the data using a schema provided by the \nCDP Schema Registry and ingests it into an Iceberg table.","zIndex":0,"width":456.0,"height":80.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"00f7a0c3-fd83-3150-a24d-ed7e3244f49d","instanceIdentifier":"e51e8e6c-0185-1000-ffff-ffff80a09847","name":null,"comments":null,"position":{"x":470.5653991699219,"y":-61.717806816101074},"label":"ConsumeFromKafka: This processor consumes data from a Kafka\ntopic. The processor then converts the data to AVRO format. It uses\nRecordReaders and RecordWriters to accomplish this. Data is parsed\nusing a schema provided by the CDP Schema Registry. Source data\nformats supported by this flow are CSV, JSON and AVRO.","zIndex":0,"width":448.0,"height":96.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"}],"funnels":[],"controllerServices":[{"identifier":"bc4eba59-eec3-31da-8f80-14e1a9bc9673","instanceIdentifier":"7b851874-15ba-3cfd-b906-e19563d5ddc6","name":"JSON_Message_Reader","comments":"","position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.9.0-1"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"#{Schema Name}","starting-field-strategy":"ROOT_NODE","schema-registry":"9aeaac44-73b9-38d1-a1e1-2ab39cd1888f","starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.9.0-1"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"0ca3b3ed-812f-31d5-9cc1-cc0bd3c8ee8b","instanceIdentifier":"2227526c-0719-34a6-8433-b06c0152739d","name":"Avro_Message_Reader","comments":"","position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.9.0-1"},"properties":{"schema-branch":null,"schema-name":"#{Schema Name}","cache-size":"1000","schema-registry":"9aeaac44-73b9-38d1-a1e1-2ab39cd1888f","schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.9.0-1"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"8e7a5f89-ff20-48c3-8d06-d083450b204d","instanceIdentifier":null,"name":"SnowflakeComputingConnectionPool","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.snowflake.service.SnowflakeComputingConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-snowflake-services-nar","version":"1.20.0.2.3.9.0-1"},"properties":{"schema":"PUBLIC","account-name":null,"cloud-type":null,"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","connection-url-format":"full-url","account-locator":null,"proxy-configuration-service":null,"dbcp-min-evictable-idle-time":"30 mins","warehouse":null,"Max Total Connections":"8","cloud-region":null,"database":"MYDATABASE","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:snowflake://sx41684.us-east-2.aws.snowflakecomputing.com","dbcp-time-between-eviction-runs":"-1","Database User":"andrewlim","dbcp-soft-min-evictable-idle-time":"-1","organization-name":null,"dbcp-max-idle-conns":"8","Password":"#{SnowflakePassword}"},"propertyDescriptors":{"schema":{"name":"schema","displayName":"Schema","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"account-name":{"name":"account-name","displayName":"Account Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"cloud-type":{"name":"cloud-type","displayName":"Cloud Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"connection-url-format":{"name":"connection-url-format","displayName":"Connection URL Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"account-locator":{"name":"account-locator","displayName":"Account Locator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"warehouse":{"name":"warehouse","displayName":"Warehouse","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"cloud-region":{"name":"cloud-region","displayName":"Cloud Region","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"database":{"name":"database","displayName":"Database","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Database Connection URL":{"name":"Database Connection URL","displayName":"Snowflake URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Database User":{"name":"Database User","displayName":"Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"organization-name":{"name":"organization-name","displayName":"Organization Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.9.0-1"}},{"type":"org.apache.nifi.processors.snowflake.SnowflakeConnectionProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-snowflake-services-api-nar","version":"1.20.0.2.3.9.0-1"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"059cf9c7-697e-39fc-bf93-33157764d988","instanceIdentifier":"94d64502-d672-3890-ac3f-a454d77c6242","name":"KerberosPasswordUserService","comments":"","position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.kerberos.KerberosPasswordUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-user-service-nar","version":"1.20.0.2.3.9.0-1"},"properties":{"Kerberos Password":"#{CDP Workload User Password}","Kerberos Principal":"#{CDP Workload User}"},"propertyDescriptors":{"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.9.0-1"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"58bfde6b-292c-356a-af75-1e49a956d91e","instanceIdentifier":"68173fe3-d487-3a26-9036-944078ed3084","name":"CSV_Message_Reader","comments":"","position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.9.0-1"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":"#{CSV Delimiter}","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"#{Schema Name}","schema-registry":"9aeaac44-73b9-38d1-a1e1-2ab39cd1888f","csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-name","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.9.0-1"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"6c326b7f-00a5-4207-b6b2-154a6c58b540","instanceIdentifier":null,"name":"StandardSnowflakeIngestManagerProviderService","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.snowflake.service.StandardSnowflakeIngestManagerProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-snowflake-services-nar","version":"1.20.0.2.3.9.0-1"},"properties":{"schema":"PUBLIC","account-name":null,"account-identifier-format":"full-url","database":"MYDATABASE","cloud-type":null,"user-name":"andrewlim","private-key-service":"526e1d6b-ade1-4309-a6c1-0209fd25d126","account-locator":null,"pipe":"WIKIPEDIA","host-url":"sx41684.us-east-2.aws.snowflakecomputing.com","organization-name":null,"cloud-region":null},"propertyDescriptors":{"schema":{"name":"schema","displayName":"Schema","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"account-name":{"name":"account-name","displayName":"Account Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"account-identifier-format":{"name":"account-identifier-format","displayName":"Account Identifier Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"database":{"name":"database","displayName":"Database","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"cloud-type":{"name":"cloud-type","displayName":"Cloud Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"user-name":{"name":"user-name","displayName":"User Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"private-key-service":{"name":"private-key-service","displayName":"Private Key Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"account-locator":{"name":"account-locator","displayName":"Account Locator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"pipe":{"name":"pipe","displayName":"Pipe","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"host-url":{"name":"host-url","displayName":"Snowflake URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"organization-name":{"name":"organization-name","displayName":"Organization Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"cloud-region":{"name":"cloud-region","displayName":"Cloud Region","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.snowflake.SnowflakeIngestManagerProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-snowflake-services-api-nar","version":"1.20.0.2.3.9.0-1"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"20ba6282-84ac-3176-b140-1ad0396ee815","instanceIdentifier":"443c0e22-65c6-3afe-bf10-54848bb78f53","name":"Avro_Message_Writer","comments":"","position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.9.0-1"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.9.0-1"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"526e1d6b-ade1-4309-a6c1-0209fd25d126","instanceIdentifier":null,"name":"StandardPrivateKeyService","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.key.service.StandardPrivateKeyService","bundle":{"group":"org.apache.nifi","artifact":"nifi-key-service-nar","version":"1.20.0.2.3.9.0-1"},"properties":{"key-password":"#{Key Password}","key-file":"#{SnowflakeKey}","key":null},"propertyDescriptors":{"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"key-file":{"name":"key-file","displayName":"Key File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"key":{"name":"key","displayName":"Key","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.key.service.api.PrivateKeyService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.9.0-1"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"8ad40e41-bdec-3c27-a5e2-3638cd13a648","instanceIdentifier":"a01e3624-6db9-3d51-88a1-72dc4305d571","name":"AvroReader","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.9.0-1"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.9.0-1"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"0e6687eb-474c-31da-b47c-3ed1a4360a30","instanceIdentifier":"b95c94b2-fedf-3995-90a2-2dbf4f9dd965","name":"HiveCatalogService","comments":"","position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.services.iceberg.HiveCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-nar","version":"1.20.0.2.3.9.0-1"},"properties":{"hadoop-config-resources":"#{CDPEnvironment}","warehouse-location":null,"hive-metastore-uri":null},"propertyDescriptors":{"hadoop-config-resources":{"name":"hadoop-config-resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"warehouse-location":{"name":"warehouse-location","displayName":"Default Warehouse Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"hive-metastore-uri":{"name":"hive-metastore-uri","displayName":"Hive Metastore URI","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.services.iceberg.IcebergCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-api-nar","version":"1.20.0.2.3.9.0-1"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"9d06d5ca-aa6f-4fa8-9819-648af6024a2f","instanceIdentifier":null,"name":"CSVRecordSetWriter","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.9.0-1"},"properties":{"schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Include Header Line":"false","Value Separator":",","schema-cache":null,"Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Schema Write Strategy":"no-schema","Null String":null,"Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","Quote Mode":"NON_NUMERIC","Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.9.0-1"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"9aeaac44-73b9-38d1-a1e1-2ab39cd1888f","instanceIdentifier":"c125e201-443c-31d9-9226-39f8478515c2","name":"CDP_Schema_Registry","comments":"","position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-hwx-schema-registry-nar","version":"1.20.0.2.3.9.0-1"},"properties":{"cache-expiration":"1 min","kerberos-credentials-service":null,"kerberos-password":"#{CDP Workload User Password}","ssl-context-service":"a48dac5c-e028-3ff9-b3ed-662def51d70b","cache-size":"1000","kerberos-principal":"#{CDP Workload User}","basic-auth-username":null,"url":"https://#{Schema Registry Hostname}:7790/api/v1"},"propertyDescriptors":{"cache-expiration":{"name":"cache-expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"basic-auth-password":{"name":"basic-auth-password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"basic-auth-username":{"name":"basic-auth-username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"url":{"name":"url","displayName":"Schema Registry URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.9.0-1"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"4b704e25-543b-3ac0-b72f-1fccff198680","instanceIdentifier":"77f7432c-0cf1-34f7-b7e2-c547f2eccff1","name":"Parameterized_Message_Reader","comments":"","position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.lookup.ReaderLookup","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.9.0-1"},"properties":{"CSV":"58bfde6b-292c-356a-af75-1e49a956d91e","JSON":"bc4eba59-eec3-31da-8f80-14e1a9bc9673","AVRO":"0ca3b3ed-812f-31d5-9cc1-cc0bd3c8ee8b","Service to Use":"#{Data Input Format}"},"propertyDescriptors":{"CSV":{"name":"CSV","displayName":"CSV","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"JSON":{"name":"JSON","displayName":"JSON","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"AVRO":{"name":"AVRO","displayName":"AVRO","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Service to Use":{"name":"Service to Use","displayName":"Service to Use","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.9.0-1"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"}],"versionedFlowCoordinates":null,"variables":{},"parameterContextName":"Kafka to Iceberg and Snowflake","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":null},"externalControllerServices":{"a48dac5c-e028-3ff9-b3ed-662def51d70b":{"identifier":"a48dac5c-e028-3ff9-b3ed-662def51d70b","name":"Default NiFi SSL Context Service"}},"parameterProviders":null,"parameterContexts":{"Kafka to Iceberg and Snowflake":{"identifier":"6c9c1b08-60e7-4675-be04-a274e59f69e9","instanceIdentifier":null,"name":"Kafka to Iceberg and Snowflake","comments":null,"position":null,"parameters":[{"name":"Iceberg Table Edits","description":null,"sensitive":false,"provided":false,"value":"wikipedia_edits"},{"name":"Schema Registry Hostname","description":"Specify the hostname of the Schema Registry you want to connect to. This must be the direct hostname of the Schema Registry itself, not the Knox Endpoint.","sensitive":false,"provided":false,"value":"streams-messaging-master0.cdf-priv.xcu2-8y8x.dev.cldr.work"},{"name":"CDP Workload User","description":"Specify the CDP machine user or workload user name that you want to use to authenticate to Kafka and Hive. Ensure this user has the appropriate access rights in Ranger for the Kafka topic and ID Broker for Hive access.","sensitive":false,"provided":false,"value":"srv_nifi-kafka-ingest"},{"name":"CSV Delimiter","description":"If your source data is CSV, specify the delimiter here.","sensitive":false,"provided":false,"value":","},{"name":"Data Input Format","description":"Specify the format of your input data. You can use \"CSV\", \"JSON\" or \"AVRO\" with this ReadyFlow.","sensitive":false,"provided":false,"value":"JSON"},{"name":"Hive Catalog Namespace","description":"Specify the Hive Catalog Namespace. The default value is default, which references the database catalog created automatically when you activate an environment in Cloudera Data Warehouse.","sensitive":false,"provided":false,"value":"default"},{"name":"CDPEnvironment","description":"The CDP Environment configuration resources","sensitive":false,"provided":false,"value":null},{"name":"SnowflakePassword","description":null,"sensitive":true,"provided":false,"value":null},{"name":"Schema Name","description":"Specify the schema name to be looked up in the Schema Registry for the Source Kafka Topic","sensitive":false,"provided":false,"value":"wikipedia_changes"},{"name":"CDP Workload User Password","description":"Specify the password of the CDP machine user or workload user you're using to authenticate against Kafka and Hive.","sensitive":true,"provided":false,"value":null},{"name":"Key Password","description":null,"sensitive":true,"provided":false,"value":null},{"name":"Kafka Consumer Group Id","description":"The name of the consumer group used for the source topic you are consuming from.","sensitive":false,"provided":false,"value":"cdf"},{"name":"SnowflakeKey","description":null,"sensitive":false,"provided":false,"value":null},{"name":"Kafka Broker Endpoint","description":"Specify the Kafka bootstrap servers string as a comma separated list.","sensitive":false,"provided":false,"value":"streams-messaging-corebroker0.cdf-priv.xcu2-8y8x.dev.cldr.work:9093"},{"name":"Kafka Source Topic","description":"Specify a topic name that you want to read from.","sensitive":false,"provided":false,"value":"wikipedia_changes"}],"inheritedParameterContexts":null,"description":null,"parameterProvider":null,"parameterGroupName":null,"synchronized":null,"componentType":"PARAMETER_CONTEXT","groupIdentifier":null}},"flowEncodingVersion":null,"flow":null,"bucket":null}