cfm-trucking-nifi/src/main/resources/nifi-flows/FlowDesigner/Vett-Kafka-to-Snowflake-Via-Snowpipe-Designer-version-2.json
{"snapshotMetadata":{"bucketIdentifier":null,"flowIdentifier":"31f135bf-f97b-4f8f-90ff-2caacee38520","version":0,"timestamp":1680066911978,"author":null,"comments":null,"link":null},"flowContents":{"identifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa","instanceIdentifier":"e1d08f5b-0185-1000-0000-00002928c7d4","name":"kafka-to-snowflake-via-snowpipe-processing-2","comments":"","position":{"x":80.0,"y":-64.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"c688d3c0-ba51-4c4b-82ed-7308a2f24f6c","instanceIdentifier":null,"name":"Filter Telemetry Events","comments":"","position":{"x":941.1411448247704,"y":263.5730164867837},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.0-31"},"properties":{"cache-schema":"true","dbf-default-precision":"10","record-writer":"20ba6282-84ac-3176-b140-1ad0396ee815","record-reader":"8ad40e41-bdec-3c27-a5e2-3638cd13a648","include-zero-record-flowfiles":"true","dbf-default-scale":"0","truck_geo_event":"SELECT * FROM FLOWFILE where eventSource = 'truck_geo_event'"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"c2f15cf9-d63d-4c15-9f5e-7a3ebdd4dacc","instanceIdentifier":null,"name":"PutSnowflakeInternalStage","comments":"","position":{"x":935.9628295898438,"y":807.0285034179688},"type":"org.apache.nifi.processors.snowflake.PutSnowflakeInternalStage","bundle":{"group":"org.apache.nifi","artifact":"nifi-snowflake-processors-nar","version":"1.20.0.2.3.8.0-31"},"properties":{"schema":"#{snowflake_schema}","database":"#{snowflake_database}","internal-stage-type":"table","snowflake-connection-provider":"28a4ff3c-5fac-458c-9078-3a43df5bfb29","table":"#{snowflake_table_geo_event}","internal-stage":null},"propertyDescriptors":{"schema":{"name":"schema","displayName":"Schema","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"database":{"name":"database","displayName":"Database","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"internal-stage-type":{"name":"internal-stage-type","displayName":"Internal Stage Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"snowflake-connection-provider":{"name":"snowflake-connection-provider","displayName":"Snowflake Connection Provider","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"table":{"name":"table","displayName":"Table","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"internal-stage":{"name":"internal-stage","displayName":"Stage","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"6c8a5052-7564-3920-8007-d72b01c853be","instanceIdentifier":"e8dafddb-03d9-3145-b37b-c90b9a3d8b7b","name":"ConsumeFromKafka","comments":"","position":{"x":948.8941650390625,"y":57.977325439453125},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafka2RecordCDP","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-kafka-2-nar","version":"1.0.0.2.3.8.0-31"},"properties":{"header-name-regex":null,"Commit Offsets":"true","record-writer":"20ba6282-84ac-3176-b140-1ad0396ee815","group.id":"#{Kafka Consumer Group Id}","bootstrap.servers":"#{Kafka Broker Endpoint}","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"max-uncommit-offset-wait":"1 secs","sasl.mechanism":"PLAIN","honor-transactions":"true","interceptor.classes":"com.hortonworks.smm.kafka.monitoring.interceptors.MonitoringConsumerInterceptor","record-reader":"4b704e25-543b-3ac0-b72f-1fccff198680","message-header-encoding":"UTF-8","sasl.username":"#{CDP Workload User}","max.poll.records":"10000","security.protocol":"SASL_SSL","ssl.context.service":"a48dac5c-e028-3ff9-b3ed-662def51d70b","sasl.token.auth":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"#{Kafka Source Topic}","separate-by-key":"false","sasl.password":"#{CDP Workload User Password}","key-attribute-encoding":"utf-8","auto.offset.reset":"earliest","output-strategy":"USE_VALUE","key-format":"byte-array"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"interceptor.classes":{"name":"interceptor.classes","displayName":"interceptor.classes","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":2,"autoTerminatedRelationships":["parse.failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"af89ed85-e403-4775-a748-1981c54b01ed","instanceIdentifier":null,"name":"GetSnowflakeIngestStatus","comments":"","position":{"x":2139.0,"y":813.5},"type":"org.apache.nifi.processors.snowflake.GetSnowflakeIngestStatus","bundle":{"group":"org.apache.nifi","artifact":"nifi-snowflake-processors-nar","version":"1.20.0.2.3.8.0-31"},"properties":{"ingest-manager-provider":"229e12ca-e88a-4b31-a9fb-8cc8c1b2cf79"},"propertyDescriptors":{"ingest-manager-provider":{"name":"ingest-manager-provider","displayName":"Ingest Manager Provider","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"5 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"be1158f5-afc3-4385-b5eb-aec0d9fd90d0","instanceIdentifier":null,"name":"MergeRecords","comments":"","position":{"x":936.6492588235315,"y":509.1629116724073},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.0-31"},"properties":{"max-bin-age":"5 mins","correlation-attribute-name":null,"Attribute Strategy":"Keep Only Common Attributes","min-records":"500","max-bin-size":null,"record-writer":"7c1d52b4-e49e-4df5-8717-a166ea696c58","merge-strategy":"Bin-Packing Algorithm","record-reader":"8ad40e41-bdec-3c27-a5e2-3638cd13a648","max-records":"1000","min-bin-size":"0 B","max.bin.count":"5"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"af7965a5-5156-4864-a333-beb478599319","instanceIdentifier":null,"name":"StartSnowflakeIngest","comments":"","position":{"x":1559.0,"y":813.5},"type":"org.apache.nifi.processors.snowflake.StartSnowflakeIngest","bundle":{"group":"org.apache.nifi","artifact":"nifi-snowflake-processors-nar","version":"1.20.0.2.3.8.0-31"},"properties":{"ingest-manager-provider":"229e12ca-e88a-4b31-a9fb-8cc8c1b2cf79"},"propertyDescriptors":{"ingest-manager-provider":{"name":"ingest-manager-provider","displayName":"Ingest Manager Provider","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"b83d1c36-c268-4752-b428-5f5d9fff7b28","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"c2f15cf9-d63d-4c15-9f5e-7a3ebdd4dacc","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"d50cce71-04a2-4164-b671-b025ae8e6006","type":"FUNNEL","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"078d60c9-4188-4173-9090-ee62abc35bbe","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"af7965a5-5156-4864-a333-beb478599319","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"af89ed85-e403-4775-a748-1981c54b01ed","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"49ddc66f-b138-40ee-a765-598e6a6b6761","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"af7965a5-5156-4864-a333-beb478599319","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"d50cce71-04a2-4164-b671-b025ae8e6006","type":"FUNNEL","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"45d84346-cab3-4030-b05e-4e2b5135430b","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"be1158f5-afc3-4385-b5eb-aec0d9fd90d0","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"c2f15cf9-d63d-4c15-9f5e-7a3ebdd4dacc","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":0,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":1421.4351806640625,"y":743.18798828125}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"c8f99636-f12a-4ed4-9e3b-4e0344b83a39","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"af89ed85-e403-4775-a748-1981c54b01ed","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"af89ed85-e403-4775-a748-1981c54b01ed","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":2601.0,"y":866.0},{"x":2601.0,"y":936.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"0e10bed4-972a-4f8a-b4a3-d1a7169cf55d","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"af89ed85-e403-4775-a748-1981c54b01ed","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"d50cce71-04a2-4164-b671-b025ae8e6006","type":"FUNNEL","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"5be93c39-ed2d-4b1f-9e15-27c3b0ca99f3","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"c2f15cf9-d63d-4c15-9f5e-7a3ebdd4dacc","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"af7965a5-5156-4864-a333-beb478599319","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"ba64510b-3c91-48de-85b9-32870c930492","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"c688d3c0-ba51-4c4b-82ed-7308a2f24f6c","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"be1158f5-afc3-4385-b5eb-aec0d9fd90d0","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":0,"zIndex":0,"selectedRelationships":["truck_geo_event"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":1453.169677734375,"y":492.5947570800781}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"c585f643-21be-49a6-a6d4-16ab9a0ae60c","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"6c8a5052-7564-3920-8007-d72b01c853be","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"c688d3c0-ba51-4c4b-82ed-7308a2f24f6c","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[{"x":1437.0242919921875,"y":225.8992919921875}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"}],"labels":[{"identifier":"aae57c04-3705-325e-b0b3-3a8d77dedc24","instanceIdentifier":"e51ad306-0185-1000-0000-00006c93d2ca","name":null,"comments":null,"position":{"x":905.0943603515625,"y":-40.0},"label":"This flow consumes CSV, JSON or AVRO data from a source \nKafka topic, parses the data using a schema provided by the \nCDP Schema Registry and ingests it into Snowflake Table using Snowpipe","zIndex":0,"width":456.0,"height":80.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"e9b9781a-e78f-34ca-80b1-7aec0ea6c055","instanceIdentifier":"e520ea2b-0185-1000-0000-000062afc43c","name":null,"comments":null,"position":{"x":1552.0,"y":592.0},"label":"Define a KPI on this connection to monitor\nfailed write operations.","zIndex":0,"width":280.0,"height":40.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"}],"funnels":[{"identifier":"d50cce71-04a2-4164-b671-b025ae8e6006","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":1712.0,"y":1184.0},"componentType":"FUNNEL","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"}],"controllerServices":[{"identifier":"58bfde6b-292c-356a-af75-1e49a956d91e","instanceIdentifier":"68173fe3-d487-3a26-9036-944078ed3084","name":"CSV_Message_Reader","comments":"","position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.0-31"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":"#{CSV Delimiter}","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"#{Schema Name}","schema-registry":"9aeaac44-73b9-38d1-a1e1-2ab39cd1888f","csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-name","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.0-31"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"20ba6282-84ac-3176-b140-1ad0396ee815","instanceIdentifier":"443c0e22-65c6-3afe-bf10-54848bb78f53","name":"Avro_Message_Writer","comments":"","position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.0-31"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.0-31"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"bc4eba59-eec3-31da-8f80-14e1a9bc9673","instanceIdentifier":"7b851874-15ba-3cfd-b906-e19563d5ddc6","name":"JSON_Message_Reader","comments":"","position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.0-31"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"#{Schema Name}","starting-field-strategy":"ROOT_NODE","schema-registry":"9aeaac44-73b9-38d1-a1e1-2ab39cd1888f","starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.0-31"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"0ca3b3ed-812f-31d5-9cc1-cc0bd3c8ee8b","instanceIdentifier":"2227526c-0719-34a6-8433-b06c0152739d","name":"Avro_Message_Reader","comments":"","position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.0-31"},"properties":{"schema-branch":null,"schema-name":"#{Schema Name}","cache-size":"1000","schema-registry":"9aeaac44-73b9-38d1-a1e1-2ab39cd1888f","schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.0-31"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"8ad40e41-bdec-3c27-a5e2-3638cd13a648","instanceIdentifier":"a01e3624-6db9-3d51-88a1-72dc4305d571","name":"AvroReader","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.0-31"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.0-31"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"c067e316-931b-4de3-918d-f0b52b6a3027","instanceIdentifier":null,"name":"StandardPrivateKeyService","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.key.service.StandardPrivateKeyService","bundle":{"group":"org.apache.nifi","artifact":"nifi-key-service-nar","version":"1.20.0.2.3.8.0-31"},"properties":{"key-password":"#{snowflake_key_password}","key-file":null,"key":"#{snowflake_key}"},"propertyDescriptors":{"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"key-file":{"name":"key-file","displayName":"Key File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"key":{"name":"key","displayName":"Key","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.key.service.api.PrivateKeyService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.0-31"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"28a4ff3c-5fac-458c-9078-3a43df5bfb29","instanceIdentifier":null,"name":"SnowflakeComputingConnectionPool","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.snowflake.service.SnowflakeComputingConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-snowflake-services-nar","version":"1.20.0.2.3.8.0-31"},"properties":{"schema":"#{snowflake_schema}","account-name":null,"cloud-type":null,"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","connection-url-format":"full-url","account-locator":null,"proxy-configuration-service":null,"dbcp-min-evictable-idle-time":"30 mins","warehouse":null,"Max Total Connections":"8","cloud-region":null,"database":"#{snowflake_database}","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"#{snowflake_url}","dbcp-time-between-eviction-runs":"-1","Database User":"#{snowflake_user}","dbcp-soft-min-evictable-idle-time":"-1","organization-name":null,"dbcp-max-idle-conns":"8","Password":"#{snowflake_password}"},"propertyDescriptors":{"schema":{"name":"schema","displayName":"Schema","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"account-name":{"name":"account-name","displayName":"Account Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"cloud-type":{"name":"cloud-type","displayName":"Cloud Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"connection-url-format":{"name":"connection-url-format","displayName":"Connection URL Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"account-locator":{"name":"account-locator","displayName":"Account Locator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"warehouse":{"name":"warehouse","displayName":"Warehouse","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"cloud-region":{"name":"cloud-region","displayName":"Cloud Region","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"database":{"name":"database","displayName":"Database","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Database Connection URL":{"name":"Database Connection URL","displayName":"Snowflake URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Database User":{"name":"Database User","displayName":"Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"organization-name":{"name":"organization-name","displayName":"Organization Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.snowflake.SnowflakeConnectionProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-snowflake-services-api-nar","version":"1.20.0.2.3.8.0-31"}},{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.0-31"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"9aeaac44-73b9-38d1-a1e1-2ab39cd1888f","instanceIdentifier":"c125e201-443c-31d9-9226-39f8478515c2","name":"CDP_Schema_Registry","comments":"","position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-hwx-schema-registry-nar","version":"1.20.0.2.3.8.0-31"},"properties":{"cache-expiration":"1 hour","kerberos-credentials-service":null,"kerberos-password":"#{CDP Workload User Password}","ssl-context-service":"a48dac5c-e028-3ff9-b3ed-662def51d70b","cache-size":"1000","kerberos-principal":"#{CDP Workload User}","basic-auth-username":null,"url":"https://#{Schema Registry Hostname}:7790/api/v1"},"propertyDescriptors":{"cache-expiration":{"name":"cache-expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"basic-auth-password":{"name":"basic-auth-password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"basic-auth-username":{"name":"basic-auth-username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"url":{"name":"url","displayName":"Schema Registry URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.0-31"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"4b704e25-543b-3ac0-b72f-1fccff198680","instanceIdentifier":"77f7432c-0cf1-34f7-b7e2-c547f2eccff1","name":"Parameterized_Message_Reader","comments":"","position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.lookup.ReaderLookup","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.0-31"},"properties":{"CSV":"58bfde6b-292c-356a-af75-1e49a956d91e","JSON":"bc4eba59-eec3-31da-8f80-14e1a9bc9673","AVRO":"0ca3b3ed-812f-31d5-9cc1-cc0bd3c8ee8b","Service to Use":"#{Data Input Format}"},"propertyDescriptors":{"CSV":{"name":"CSV","displayName":"CSV","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"JSON":{"name":"JSON","displayName":"JSON","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"AVRO":{"name":"AVRO","displayName":"AVRO","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Service to Use":{"name":"Service to Use","displayName":"Service to Use","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.0-31"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"229e12ca-e88a-4b31-a9fb-8cc8c1b2cf79","instanceIdentifier":null,"name":"StandardSnowflakeIngestManagerProviderService","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.snowflake.service.StandardSnowflakeIngestManagerProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-snowflake-services-nar","version":"1.20.0.2.3.8.0-31"},"properties":{"schema":"#{snowflake_schema}","account-name":null,"account-identifier-format":"full-url","database":"#{snowflake_database}","cloud-type":null,"user-name":"#{snowflake_user}","private-key-service":"c067e316-931b-4de3-918d-f0b52b6a3027","account-locator":null,"pipe":"#{snowflake_ingest_pipe}","host-url":"#{snowflake_url_for_ingest_manager}","organization-name":"#{snowflake_url_for_ingest_manager}","cloud-region":null},"propertyDescriptors":{"schema":{"name":"schema","displayName":"Schema","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"account-name":{"name":"account-name","displayName":"Account Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"account-identifier-format":{"name":"account-identifier-format","displayName":"Account Identifier Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"database":{"name":"database","displayName":"Database","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"cloud-type":{"name":"cloud-type","displayName":"Cloud Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"user-name":{"name":"user-name","displayName":"User Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"private-key-service":{"name":"private-key-service","displayName":"Private Key Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"account-locator":{"name":"account-locator","displayName":"Account Locator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"pipe":{"name":"pipe","displayName":"Pipe","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"host-url":{"name":"host-url","displayName":"Snowflake URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"organization-name":{"name":"organization-name","displayName":"Organization Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"cloud-region":{"name":"cloud-region","displayName":"Cloud Region","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.snowflake.SnowflakeIngestManagerProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-snowflake-services-api-nar","version":"1.20.0.2.3.8.0-31"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"7c1d52b4-e49e-4df5-8717-a166ea696c58","instanceIdentifier":null,"name":"CSVRecordSetWriterForSnowPipeStage","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.0-31"},"properties":{"schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Include Header Line":"false","Value Separator":",","schema-cache":null,"Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Schema Write Strategy":"no-schema","Null String":null,"Trim Fields":"true","schema-name":"#{snowflake_dest_schema}","schema-registry":"9aeaac44-73b9-38d1-a1e1-2ab39cd1888f","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","Quote Mode":"MINIMAL","Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.0-31"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"}],"versionedFlowCoordinates":null,"variables":{},"parameterContextName":"kafka-to-snowflake-via-snowpipe-processing-2","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":null},"externalControllerServices":{"a48dac5c-e028-3ff9-b3ed-662def51d70b":{"identifier":"a48dac5c-e028-3ff9-b3ed-662def51d70b","name":"Default NiFi SSL Context Service"}},"parameterProviders":null,"parameterContexts":{"kafka-to-snowflake-via-snowpipe-processing-2":{"identifier":"c3a4df8e-bd10-4a08-9ceb-e94847fac471","instanceIdentifier":null,"name":"kafka-to-snowflake-via-snowpipe-processing-2","comments":null,"position":null,"parameters":[{"name":"CDP Workload User","description":"Specify the CDP machine user or workload user name that you want to use to authenticate to Kafka and Hive. Ensure this user has the appropriate access rights in Ranger for the Kafka topic and ID Broker for Hive access.","sensitive":false,"provided":false,"value":"srv_vett_dfx_kafka_service"},{"name":"snowflake_key","description":null,"sensitive":true,"provided":false,"value":null},{"name":"Schema Registry Hostname","description":"Specify the hostname of the Schema Registry you want to connect to. This must be the direct hostname of the Schema Registry itself, not the Knox Endpoint.","sensitive":false,"provided":false,"value":"csm-kafka-cluster-1-registry0.gvettica.a465-9q4k.cloudera.site"},{"name":"CSV Delimiter","description":"If your source data is CSV, specify the delimiter here.","sensitive":false,"provided":false,"value":"|"},{"name":"Data Input Format","description":"Specify the format of your input data. You can use \"CSV\", \"JSON\" or \"AVRO\" with this ReadyFlow.","sensitive":false,"provided":false,"value":"CSV"},{"name":"snowflake_key_password","description":null,"sensitive":true,"provided":false,"value":null},{"name":"snowflake_user","description":null,"sensitive":false,"provided":false,"value":"georgevetticaden"},{"name":"Schema Name","description":"Specify the schema name to be looked up in the Schema Registry for the Source Kafka Topic","sensitive":false,"provided":false,"value":"telemetry_source_schema"},{"name":"CDP Workload User Password","description":"Specify the password of the CDP machine user or workload user you're using to authenticate against Kafka and Hive.","sensitive":true,"provided":false,"value":null},{"name":"snowflake_password","description":null,"sensitive":true,"provided":false,"value":null},{"name":"snowflake_url_for_ingest_manager","description":null,"sensitive":false,"provided":false,"value":"jka09308.snowflakecomputing.com"},{"name":"snowflake_url","description":null,"sensitive":false,"provided":false,"value":"jdbc:snowflake://jka09308.snowflakecomputing.com"},{"name":"snowflake_database","description":null,"sensitive":false,"provided":false,"value":"POINT_OF_SALE_TELEMETRY"},{"name":"snowflake_dest_schema","description":null,"sensitive":false,"provided":false,"value":"telemetry_dest_geo_event_schema_snowflake_snowpipe"},{"name":"Kafka Consumer Group Id","description":"The name of the consumer group used for the source topic you are consuming from.","sensitive":false,"provided":false,"value":"dfx-truck-sensors-europe"},{"name":"snowflake_schema","description":null,"sensitive":false,"provided":false,"value":"POS_TRUCK_GEO_EVENTS"},{"name":"Kafka Broker Endpoint","description":"Specify the Kafka bootstrap servers string as a comma separated list.","sensitive":false,"provided":false,"value":"csm-kafka-cluster-1-corebroker0.gvettica.a465-9q4k.cloudera.site:9093,csm-kafka-cluster-1-corebroker1.gvettica.a465-9q4k.cloudera.site:9093,csm-kafka-cluster-1-corebroker2.gvettica.a465-9q4k.cloudera.site:9093"},{"name":"snowflake_table_geo_event","description":null,"sensitive":false,"provided":false,"value":"TRUCK_GEO_EVENTS_2"},{"name":"snowflake_ingest_pipe","description":null,"sensitive":false,"provided":false,"value":"TELEMETRY_PIPE"},{"name":"Kafka Source Topic","description":"Specify a topic name that you want to read from.","sensitive":false,"provided":false,"value":"gateway-europe-raw-sensors"}],"inheritedParameterContexts":null,"description":null,"parameterProvider":null,"parameterGroupName":null,"synchronized":null,"componentType":"PARAMETER_CONTEXT","groupIdentifier":null}},"flowEncodingVersion":null,"flow":null,"bucket":null}