cfm-trucking-nifi/src/main/resources/nifi-flows/FlowDesigner/Vett-Kafka-to-CDW-Iceberg-version-1.json
{"snapshotMetadata":{"bucketIdentifier":null,"flowIdentifier":"b2f8402a-a926-4a43-804b-febf53766cf6","version":0,"timestamp":1677896484396,"author":null,"comments":null,"link":null},"flowContents":{"identifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa","instanceIdentifier":"e1d08f5b-0185-1000-0000-00002928c7d4","name":"vett-Kafka to Iceberg","comments":"","position":{"x":80.0,"y":-64.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"f47e9a02-df7a-3dbb-8bc8-834a0860d6fd","instanceIdentifier":"e5252627-0185-1000-0000-00005498da2b","name":"MergeRecords","comments":"","position":{"x":948.0,"y":449.0},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.0-31"},"properties":{"max-bin-age":"5 mins","correlation-attribute-name":null,"Attribute Strategy":"Keep Only Common Attributes","min-records":"500","max-bin-size":null,"record-writer":"392a9d99-35ca-43a2-8409-004cf8f7d1a3","merge-strategy":"Bin-Packing Algorithm","record-reader":"8ad40e41-bdec-3c27-a5e2-3638cd13a648","max-records":"1000","min-bin-size":"0 B","max.bin.count":"5"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"ba1aa00e-74f8-4b2e-9d8a-825a43a55c30","instanceIdentifier":null,"name":"Filter Telemetry Events","comments":"","position":{"x":1627.0,"y":312.5},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0.2.3.8.0-31"},"properties":{"cache-schema":"true","dbf-default-precision":"10","record-writer":"20ba6282-84ac-3176-b140-1ad0396ee815","record-reader":"8ad40e41-bdec-3c27-a5e2-3638cd13a648","include-zero-record-flowfiles":"true","dbf-default-scale":"0","truck_geo_event":"SELECT * FROM FLOWFILE where eventSource = 'truck_geo_event'"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"6c8a5052-7564-3920-8007-d72b01c853be","instanceIdentifier":"e8dafddb-03d9-3145-b37b-c90b9a3d8b7b","name":"ConsumeFromKafka","comments":"","position":{"x":952.0,"y":88.0},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafka2RecordCDP","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-kafka-2-nar","version":"1.0.0.2.3.8.0-31"},"properties":{"header-name-regex":null,"Commit Offsets":"true","record-writer":"20ba6282-84ac-3176-b140-1ad0396ee815","group.id":"#{Kafka Consumer Group Id}","bootstrap.servers":"#{Kafka Broker Endpoint}","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"max-uncommit-offset-wait":"1 secs","sasl.mechanism":"PLAIN","honor-transactions":"true","interceptor.classes":"com.hortonworks.smm.kafka.monitoring.interceptors.MonitoringConsumerInterceptor","record-reader":"4b704e25-543b-3ac0-b72f-1fccff198680","message-header-encoding":"UTF-8","sasl.username":"#{CDP Workload User}","max.poll.records":"10000","security.protocol":"SASL_SSL","ssl.context.service":"a48dac5c-e028-3ff9-b3ed-662def51d70b","sasl.token.auth":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"#{Kafka Source Topic}","separate-by-key":"false","sasl.password":"#{CDP Workload User Password}","key-attribute-encoding":"utf-8","auto.offset.reset":"earliest","output-strategy":"USE_VALUE","key-format":"byte-array"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"interceptor.classes":{"name":"interceptor.classes","displayName":"interceptor.classes","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":2,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"508af55d-019d-3e9e-9028-41056dcaae7a","instanceIdentifier":"f9093a87-dc31-3abe-a55d-1d53fd4c6ab4","name":"WriteToIceberg","comments":"","position":{"x":948.0,"y":824.0},"type":"org.apache.nifi.processors.iceberg.PutIceberg","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-processors-nar","version":"1.20.0.2.3.8.0-31"},"properties":{"maximum-file-size":null,"file-format":"PARQUET","catalog-service":"0e6687eb-474c-31da-b47c-3ed1a4360a30","record-reader":"432a85c4-3c8f-48f2-ba6f-966e8737a1b6","table-name":"#{Iceberg Table Name}","kerberos-user-service":"059cf9c7-697e-39fc-bf93-33157764d988","catalog-namespace":"#{Hive Catalog Namespace}"},"propertyDescriptors":{"maximum-file-size":{"name":"maximum-file-size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"file-format":{"name":"file-format","displayName":"File Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"catalog-service":{"name":"catalog-service","displayName":"Catalog Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"table-name":{"name":"table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"catalog-namespace":{"name":"catalog-namespace","displayName":"Catalog Namespace","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"}],"inputPorts":[],"outputPorts":[{"identifier":"dab0346b-cfe1-3d35-98bd-605d357edd92","instanceIdentifier":"ee196a42-9c59-32e4-bd9e-55dffe632b73","name":"Kafka Parse Failure","comments":"","position":{"x":1600.0,"y":128.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"}],"connections":[{"identifier":"f6a420fb-dc9c-3d38-bc62-f1ed153e05c8","instanceIdentifier":"f9cf6d77-4663-3cdb-be5e-4910633e26ff","name":"success_ConsumeFromKafka-MergeContent","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"6c8a5052-7564-3920-8007-d72b01c853be","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":"ConsumeFromKafka","comments":"","instanceIdentifier":"e8dafddb-03d9-3145-b37b-c90b9a3d8b7b"},"destination":{"id":"ba1aa00e-74f8-4b2e-9d8a-825a43a55c30","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"64555283-c944-3de0-bbc1-ba1a2bd55851","instanceIdentifier":"15e22f8d-285c-3990-8fc8-65bfac1ca5fc","name":"parse.failure_ConsumeFromKafka","comments":null,"position":null,"source":{"id":"6c8a5052-7564-3920-8007-d72b01c853be","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":"ConsumeFromKafka","comments":"","instanceIdentifier":"e8dafddb-03d9-3145-b37b-c90b9a3d8b7b"},"destination":{"id":"dab0346b-cfe1-3d35-98bd-605d357edd92","type":"OUTPUT_PORT","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":"Kafka Parse Failure","comments":"","instanceIdentifier":"ee196a42-9c59-32e4-bd9e-55dffe632b73"},"labelIndex":1,"zIndex":0,"selectedRelationships":["parse.failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"849dc07c-465d-3986-8bd2-e7290eabb3fd","instanceIdentifier":"3b0fa5a5-ae65-3ac3-8264-59837ee4baf0","name":"failure_WriteToIceberg","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"508af55d-019d-3e9e-9028-41056dcaae7a","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":"WriteToIceberg","comments":"","instanceIdentifier":"f9093a87-dc31-3abe-a55d-1d53fd4c6ab4"},"destination":{"id":"508af55d-019d-3e9e-9028-41056dcaae7a","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":"WriteToIceberg","comments":"","instanceIdentifier":"f9093a87-dc31-3abe-a55d-1d53fd4c6ab4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1417.6112060546875,"y":865.382568359375},{"x":1417.6112060546875,"y":915.382568359375}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"c8b62fbb-04a5-4922-8e4f-6e49e5c09530","instanceIdentifier":null,"name":"","comments":null,"position":{"x":0.0,"y":0.0},"source":{"id":"ba1aa00e-74f8-4b2e-9d8a-825a43a55c30","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"f47e9a02-df7a-3dbb-8bc8-834a0860d6fd","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["truck_geo_event"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"49be77c5-a6b6-3e2c-a7f6-d227e0425053","instanceIdentifier":"e5272c02-0185-1000-0000-00006a112ece","name":"merged_MergeRecords-WriteToIceberg","comments":null,"position":null,"source":{"id":"f47e9a02-df7a-3dbb-8bc8-834a0860d6fd","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":"MergeRecords","comments":"","instanceIdentifier":"e5252627-0185-1000-0000-00005498da2b"},"destination":{"id":"508af55d-019d-3e9e-9028-41056dcaae7a","type":"PROCESSOR","groupId":"6bde3d9f-5dcc-371a-834d-af184278f4fa","name":"WriteToIceberg","comments":"","instanceIdentifier":"f9093a87-dc31-3abe-a55d-1d53fd4c6ab4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"}],"labels":[],"funnels":[{"identifier":"8b87aa67-8b7e-4aba-b2b8-55ddf3ca5745","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":1594.0,"y":374.0},"componentType":"FUNNEL","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"}],"controllerServices":[{"identifier":"58bfde6b-292c-356a-af75-1e49a956d91e","instanceIdentifier":"68173fe3-d487-3a26-9036-944078ed3084","name":"CSV_Message_Reader","comments":"","position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.0-31"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":"#{CSV Delimiter}","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"#{Schema Name}","schema-registry":"9aeaac44-73b9-38d1-a1e1-2ab39cd1888f","csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-name","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.0-31"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"20ba6282-84ac-3176-b140-1ad0396ee815","instanceIdentifier":"443c0e22-65c6-3afe-bf10-54848bb78f53","name":"Avro_Message_Writer","comments":"","position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.0-31"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.0-31"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"392a9d99-35ca-43a2-8409-004cf8f7d1a3","instanceIdentifier":null,"name":"Reorder-AvroWriter","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.0-31"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"telemetry_dest_geo_event_schema_rewrite_order","cache-size":"1000","schema-registry":"9aeaac44-73b9-38d1-a1e1-2ab39cd1888f","schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.0-31"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"bc4eba59-eec3-31da-8f80-14e1a9bc9673","instanceIdentifier":"7b851874-15ba-3cfd-b906-e19563d5ddc6","name":"JSON_Message_Reader","comments":"","position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.0-31"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"#{Schema Name}","starting-field-strategy":"ROOT_NODE","schema-registry":"9aeaac44-73b9-38d1-a1e1-2ab39cd1888f","starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.0-31"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"0ca3b3ed-812f-31d5-9cc1-cc0bd3c8ee8b","instanceIdentifier":"2227526c-0719-34a6-8433-b06c0152739d","name":"Avro_Message_Reader","comments":"","position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.0-31"},"properties":{"schema-branch":null,"schema-name":"#{Schema Name}","cache-size":"1000","schema-registry":"9aeaac44-73b9-38d1-a1e1-2ab39cd1888f","schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.0-31"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"8ad40e41-bdec-3c27-a5e2-3638cd13a648","instanceIdentifier":"a01e3624-6db9-3d51-88a1-72dc4305d571","name":"AvroReader","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.0-31"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.0-31"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"0e6687eb-474c-31da-b47c-3ed1a4360a30","instanceIdentifier":"b95c94b2-fedf-3995-90a2-2dbf4f9dd965","name":"HiveCatalogService","comments":"","position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.services.iceberg.HiveCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-nar","version":"1.20.0.2.3.8.0-31"},"properties":{"hadoop-config-resources":"#{CDPEnvironment}","warehouse-location":null,"hive-metastore-uri":null},"propertyDescriptors":{"hadoop-config-resources":{"name":"hadoop-config-resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"warehouse-location":{"name":"warehouse-location","displayName":"Default Warehouse Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"hive-metastore-uri":{"name":"hive-metastore-uri","displayName":"Hive Metastore URI","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.services.iceberg.IcebergCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-api-nar","version":"1.20.0.2.3.8.0-31"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"9aeaac44-73b9-38d1-a1e1-2ab39cd1888f","instanceIdentifier":"c125e201-443c-31d9-9226-39f8478515c2","name":"CDP_Schema_Registry","comments":"","position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-hwx-schema-registry-nar","version":"1.20.0.2.3.8.0-31"},"properties":{"cache-expiration":"1 hour","kerberos-credentials-service":null,"kerberos-password":"#{CDP Workload User Password}","ssl-context-service":"a48dac5c-e028-3ff9-b3ed-662def51d70b","cache-size":"1000","kerberos-principal":"#{CDP Workload User}","basic-auth-username":null,"url":"https://#{Schema Registry Hostname}:7790/api/v1"},"propertyDescriptors":{"cache-expiration":{"name":"cache-expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"basic-auth-password":{"name":"basic-auth-password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"basic-auth-username":{"name":"basic-auth-username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"url":{"name":"url","displayName":"Schema Registry URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.0-31"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"4b704e25-543b-3ac0-b72f-1fccff198680","instanceIdentifier":"77f7432c-0cf1-34f7-b7e2-c547f2eccff1","name":"Parameterized_Message_Reader","comments":"","position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.lookup.ReaderLookup","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.0-31"},"properties":{"CSV":"58bfde6b-292c-356a-af75-1e49a956d91e","JSON":"bc4eba59-eec3-31da-8f80-14e1a9bc9673","AVRO":"0ca3b3ed-812f-31d5-9cc1-cc0bd3c8ee8b","Service to Use":"#{Data Input Format}"},"propertyDescriptors":{"CSV":{"name":"CSV","displayName":"CSV","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"JSON":{"name":"JSON","displayName":"JSON","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"AVRO":{"name":"AVRO","displayName":"AVRO","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Service to Use":{"name":"Service to Use","displayName":"Service to Use","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.0-31"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"059cf9c7-697e-39fc-bf93-33157764d988","instanceIdentifier":"94d64502-d672-3890-ac3f-a454d77c6242","name":"KerberosPasswordUserService","comments":"","position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.kerberos.KerberosPasswordUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-user-service-nar","version":"1.20.0.2.3.8.0-31"},"properties":{"Kerberos Password":"#{CDP Workload User Password}","Kerberos Principal":"#{CDP Workload User}"},"propertyDescriptors":{"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.0-31"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"},{"identifier":"432a85c4-3c8f-48f2-ba6f-966e8737a1b6","instanceIdentifier":null,"name":"Reorder-AvroReader","comments":null,"position":{"x":0.0,"y":0.0},"type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.20.0.2.3.8.0-31"},"properties":{"schema-branch":null,"schema-name":"telemetry_dest_geo_event_schema_rewrite_order","cache-size":"1000","schema-registry":"9aeaac44-73b9-38d1-a1e1-2ab39cd1888f","schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.20.0.2.3.8.0-31"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"6bde3d9f-5dcc-371a-834d-af184278f4fa"}],"versionedFlowCoordinates":null,"variables":{},"parameterContextName":"vett-Kafka to Iceberg","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":null},"externalControllerServices":{"a48dac5c-e028-3ff9-b3ed-662def51d70b":{"identifier":"a48dac5c-e028-3ff9-b3ed-662def51d70b","name":"Default NiFi SSL Context Service"}},"parameterProviders":null,"parameterContexts":{"vett-Kafka to Iceberg":{"identifier":"a3fe5294-621f-41f1-beb9-03d03cb3000d","instanceIdentifier":null,"name":"vett-Kafka to Iceberg","comments":null,"position":null,"parameters":[{"name":"CDP Workload User Password","description":"Specify the password of the CDP machine user or workload user you're using to authenticate against Kafka and Hive.","sensitive":true,"provided":false,"value":null},{"name":"Schema Registry Hostname","description":"Specify the hostname of the Schema Registry you want to connect to. This must be the direct hostname of the Schema Registry itself, not the Knox Endpoint.","sensitive":false,"provided":false,"value":"streams-messaging-master0.cdf-priv.xcu2-8y8x.dev.cldr.work"},{"name":"CDP Workload User","description":"Specify the CDP machine user or workload user name that you want to use to authenticate to Kafka and Hive. Ensure this user has the appropriate access rights in Ranger for the Kafka topic and ID Broker for Hive access.","sensitive":false,"provided":false,"value":"srv_vett_dfx_kafka_service"},{"name":"Iceberg Table Name","description":"Specify the Iceberg table you want to write to running in your Hive Virtual Warehouse.","sensitive":false,"provided":false,"value":"geo_location_telemetry"},{"name":"CSV Delimiter","description":"If your source data is CSV, specify the delimiter here.","sensitive":false,"provided":false,"value":"|"},{"name":"Data Input Format","description":"Specify the format of your input data. You can use \"CSV\", \"JSON\" or \"AVRO\" with this ReadyFlow.","sensitive":false,"provided":false,"value":"CSV"},{"name":"Kafka Consumer Group Id","description":"The name of the consumer group used for the source topic you are consuming from.","sensitive":false,"provided":false,"value":"dfx-truck-sensors-europe"},{"name":"Hive Catalog Namespace","description":"Specify the Hive Catalog Namespace. The default value is default, which references the database catalog created automatically when you activate an environment in Cloudera Data Warehouse.","sensitive":false,"provided":false,"value":"iot_telemetry"},{"name":"CDPEnvironment","description":"The CDP Environment configuration resources","sensitive":false,"provided":false,"value":null},{"name":"Kafka Broker Endpoint","description":"Specify the Kafka bootstrap servers string as a comma separated list.","sensitive":false,"provided":false,"value":"streams-messaging-corebroker0.cdf-priv.xcu2-8y8x.dev.cldr.work:9093,streams-messaging-corebroker1.cdf-priv.xcu2-8y8x.dev.cldr.work:9093,streams-messaging-corebroker2.cdf-priv.xcu2-8y8x.dev.cldr.work:9093"},{"name":"Schema Name","description":"Specify the schema name to be looked up in the Schema Registry for the Source Kafka Topic","sensitive":false,"provided":false,"value":"telemetry_source_schema"},{"name":"Kafka Source Topic","description":"Specify a topic name that you want to read from.","sensitive":false,"provided":false,"value":"gateway-europe-raw-sensors"}],"inheritedParameterContexts":null,"description":null,"parameterProvider":null,"parameterGroupName":null,"synchronized":null,"componentType":"PARAMETER_CONTEXT","groupIdentifier":null}},"flowEncodingVersion":null,"flow":null,"bucket":null}