cfm-trucking-nifi/src/main/resources/nifi-flows/DataHub/download-flow/IOT-APP/DFX-GCS-to-GCS-Trucking-IOT-01-25-22.json
{"flowContents":{"identifier":"4eb6bb88-3b78-34a5-9da1-158a5d60ebb2","name":"DFX-GCS-to-GCS-Trucking-IOT-01-22-22","comments":"","position":{"x":784.0,"y":72.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5921f876-f5d8-3b56-ab92-22e8969baea1","name":"FetchGCSObject","comments":"","position":{"x":344.0,"y":328.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.gcp.storage.FetchGCSObject","properties":{"GCP Credentials Provider Service":"cdc048c8-6e05-3e34-9a35-e6dc88fbaac2","gcp-proxy-host":null,"gcs-object-range-start":null,"gcs-key":"${filename}","gcp-retry-count":"6","proxy-configuration-service":null,"gcs-object-range-length":null,"gcp-proxy-user-name":null,"gcp-proxy-port":null,"gcs-bucket":"#{gcp_bucket_src}","gcp-project-id":"#{gcp_project}","gcs-generation":null},"propertyDescriptors":{"gcp-proxy-host":{"name":"gcp-proxy-host","displayName":"Proxy host","identifiesControllerService":false,"sensitive":false},"gcp-retry-count":{"name":"gcp-retry-count","displayName":"Number of retries","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"gcs-server-side-encryption-key":{"name":"gcs-server-side-encryption-key","displayName":"Server Side Encryption Key","identifiesControllerService":false,"sensitive":true},"gcs-object-range-length":{"name":"gcs-object-range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false},"gcp-proxy-user-name":{"name":"gcp-proxy-user-name","displayName":"HTTP Proxy Username","identifiesControllerService":false,"sensitive":false},"gcp-project-id":{"name":"gcp-project-id","displayName":"Project ID","identifiesControllerService":false,"sensitive":false},"gcs-generation":{"name":"gcs-generation","displayName":"Object Generation","identifiesControllerService":false,"sensitive":false},"GCP Credentials Provider Service":{"name":"GCP Credentials Provider Service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"gcs-object-range-start":{"name":"gcs-object-range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false},"gcs-key":{"name":"gcs-key","displayName":"Name","identifiesControllerService":false,"sensitive":false},"gcp-proxy-user-password":{"name":"gcp-proxy-user-password","displayName":"HTTP Proxy Password","identifiesControllerService":false,"sensitive":true},"gcp-proxy-port":{"name":"gcp-proxy-port","displayName":"Proxy port","identifiesControllerService":false,"sensitive":false},"gcs-bucket":{"name":"gcs-bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4eb6bb88-3b78-34a5-9da1-158a5d60ebb2"},{"identifier":"0366ad1e-f689-3aed-af2e-797691e35741","name":"PutStreamingGeoEventInGCS","comments":"","position":{"x":160.0,"y":1016.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.gcp.storage.PutGCSObject","properties":{"gcp-proxy-host":null,"gcs-content-disposition-type":null,"gcp-retry-count":"6","proxy-configuration-service":null,"gcs-overwrite-object":"true","gcp-proxy-user-name":null,"gcs-object-md5":null,"gcs-content-type":"${mime.type}","gcs-object-crc32c":null,"gcp-project-id":"#{gcp_project}","GCP Credentials Provider Service":"cdc048c8-6e05-3e34-9a35-e6dc88fbaac2","gcs-key":"#{gcp_dest_path_geo_event}/geo-${filename}","gcp-proxy-port":null,"gcs-bucket":"#{gcp_bucket_dest}","gcs-object-acl":null},"propertyDescriptors":{"gcp-proxy-host":{"name":"gcp-proxy-host","displayName":"Proxy host","identifiesControllerService":false,"sensitive":false},"gcs-content-disposition-type":{"name":"gcs-content-disposition-type","displayName":"Content Disposition Type","identifiesControllerService":false,"sensitive":false},"gcp-retry-count":{"name":"gcp-retry-count","displayName":"Number of retries","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"gcs-server-side-encryption-key":{"name":"gcs-server-side-encryption-key","displayName":"Server Side Encryption Key","identifiesControllerService":false,"sensitive":true},"gcs-overwrite-object":{"name":"gcs-overwrite-object","displayName":"Overwrite Object","identifiesControllerService":false,"sensitive":false},"gcp-proxy-user-name":{"name":"gcp-proxy-user-name","displayName":"HTTP Proxy Username","identifiesControllerService":false,"sensitive":false},"gcs-object-md5":{"name":"gcs-object-md5","displayName":"MD5 Hash","identifiesControllerService":false,"sensitive":false},"gcs-content-type":{"name":"gcs-content-type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"gcs-object-crc32c":{"name":"gcs-object-crc32c","displayName":"CRC32C Checksum","identifiesControllerService":false,"sensitive":false},"gcp-project-id":{"name":"gcp-project-id","displayName":"Project ID","identifiesControllerService":false,"sensitive":false},"GCP Credentials Provider Service":{"name":"GCP Credentials Provider Service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"gcs-key":{"name":"gcs-key","displayName":"Key","identifiesControllerService":false,"sensitive":false},"gcp-proxy-user-password":{"name":"gcp-proxy-user-password","displayName":"HTTP Proxy Password","identifiesControllerService":false,"sensitive":true},"gcp-proxy-port":{"name":"gcp-proxy-port","displayName":"Proxy port","identifiesControllerService":false,"sensitive":false},"gcs-bucket":{"name":"gcs-bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"gcs-object-acl":{"name":"gcs-object-acl","displayName":"Object ACL","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4eb6bb88-3b78-34a5-9da1-158a5d60ebb2"},{"identifier":"5a4067d2-7ef2-3ff0-90ed-aff688716e59","name":"PutStreamingSpeedEventInGCS","comments":"","position":{"x":552.0,"y":1008.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.gcp.storage.PutGCSObject","properties":{"gcp-proxy-host":null,"gcs-content-disposition-type":null,"gcp-retry-count":"6","proxy-configuration-service":null,"gcs-overwrite-object":"true","gcp-proxy-user-name":null,"gcs-object-md5":null,"gcs-content-type":"${mime.type}","gcs-object-crc32c":null,"gcp-project-id":"#{gcp_project}","GCP Credentials Provider Service":"cdc048c8-6e05-3e34-9a35-e6dc88fbaac2","gcs-key":"#{gcp_dest_path_speed_event}/speed-${filename}","gcp-proxy-port":null,"gcs-bucket":"#{gcp_bucket_dest}","gcs-object-acl":null},"propertyDescriptors":{"gcp-proxy-host":{"name":"gcp-proxy-host","displayName":"Proxy host","identifiesControllerService":false,"sensitive":false},"gcs-content-disposition-type":{"name":"gcs-content-disposition-type","displayName":"Content Disposition Type","identifiesControllerService":false,"sensitive":false},"gcp-retry-count":{"name":"gcp-retry-count","displayName":"Number of retries","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"gcs-server-side-encryption-key":{"name":"gcs-server-side-encryption-key","displayName":"Server Side Encryption Key","identifiesControllerService":false,"sensitive":true},"gcs-overwrite-object":{"name":"gcs-overwrite-object","displayName":"Overwrite Object","identifiesControllerService":false,"sensitive":false},"gcp-proxy-user-name":{"name":"gcp-proxy-user-name","displayName":"HTTP Proxy Username","identifiesControllerService":false,"sensitive":false},"gcs-object-md5":{"name":"gcs-object-md5","displayName":"MD5 Hash","identifiesControllerService":false,"sensitive":false},"gcs-content-type":{"name":"gcs-content-type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"gcs-object-crc32c":{"name":"gcs-object-crc32c","displayName":"CRC32C Checksum","identifiesControllerService":false,"sensitive":false},"gcp-project-id":{"name":"gcp-project-id","displayName":"Project ID","identifiesControllerService":false,"sensitive":false},"GCP Credentials Provider Service":{"name":"GCP Credentials Provider Service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"gcs-key":{"name":"gcs-key","displayName":"Key","identifiesControllerService":false,"sensitive":false},"gcp-proxy-user-password":{"name":"gcp-proxy-user-password","displayName":"HTTP Proxy Password","identifiesControllerService":false,"sensitive":true},"gcp-proxy-port":{"name":"gcp-proxy-port","displayName":"Proxy port","identifiesControllerService":false,"sensitive":false},"gcs-bucket":{"name":"gcs-bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"gcs-object-acl":{"name":"gcs-object-acl","displayName":"Object ACL","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4eb6bb88-3b78-34a5-9da1-158a5d60ebb2"},{"identifier":"167b3be6-b1ba-3ead-b837-a88070f5a44b","name":"ReverseGeoLookup","comments":"","position":{"x":184.0,"y":784.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.standard.LookupRecord","properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","lng":"/longitude","result-record-path":"/geoAddress","record-writer":"661fbcff-82ed-347b-9364-8ddc3e8425f3","record-reader":"85727028-d6f7-3464-ad9d-95dc2084a44c","lookup-service":"0355dacd-c9e0-3c5d-9c0c-5195e69e0e64","record-update-strategy":"use-property","lat":"/latitude"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"lng":{"name":"lng","displayName":"lng","identifiesControllerService":false,"sensitive":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false},"lat":{"name":"lat","displayName":"lat","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4eb6bb88-3b78-34a5-9da1-158a5d60ebb2"},{"identifier":"cc797e02-78e5-3718-9634-f3f76e6a875a","name":"ListGCSBucket","comments":"","position":{"x":352.0,"y":112.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.gcp.storage.ListGCSBucket","properties":{"GCP Credentials Provider Service":"cdc048c8-6e05-3e34-9a35-e6dc88fbaac2","gcp-proxy-host":null,"gcs-use-generations":"false","record-writer":null,"gcp-retry-count":"6","proxy-configuration-service":null,"gcp-proxy-user-name":null,"gcp-proxy-port":null,"gcs-bucket":"#{gcp_bucket_src}","gcp-project-id":"#{gcp_project}","gcs-prefix":null},"propertyDescriptors":{"GCP Credentials Provider Service":{"name":"GCP Credentials Provider Service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"gcp-proxy-host":{"name":"gcp-proxy-host","displayName":"Proxy host","identifiesControllerService":false,"sensitive":false},"gcs-use-generations":{"name":"gcs-use-generations","displayName":"Use Generations","identifiesControllerService":false,"sensitive":false},"gcp-proxy-user-password":{"name":"gcp-proxy-user-password","displayName":"HTTP Proxy Password","identifiesControllerService":false,"sensitive":true},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"gcp-retry-count":{"name":"gcp-retry-count","displayName":"Number of retries","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"gcp-proxy-user-name":{"name":"gcp-proxy-user-name","displayName":"HTTP Proxy Username","identifiesControllerService":false,"sensitive":false},"gcp-proxy-port":{"name":"gcp-proxy-port","displayName":"Proxy port","identifiesControllerService":false,"sensitive":false},"gcs-bucket":{"name":"gcs-bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"gcp-project-id":{"name":"gcp-project-id","displayName":"Project ID","identifiesControllerService":false,"sensitive":false},"gcs-prefix":{"name":"gcs-prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4eb6bb88-3b78-34a5-9da1-158a5d60ebb2"},{"identifier":"50f1ef58-37b1-3b2e-9d5c-0581f230b6b3","name":"RouteTelemetryEvents","comments":"","position":{"x":344.0,"y":560.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.2.3.2-5"},"style":{},"type":"org.apache.nifi.processors.standard.QueryRecord","properties":{"cache-schema":"true","dbf-default-precision":"10","truck_speed_event":"#{routing_rule_speed_event}","record-writer":"af9cd967-1c8f-34cf-8ddb-0bbdbc8f39df","record-reader":"a1e63ccc-f8c9-3f23-a498-436a87698a2b","include-zero-record-flowfiles":"false","dbf-default-scale":"0","truck_geo_event":"#{routing_rule_geo_event}"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"truck_speed_event":{"name":"truck_speed_event","displayName":"truck_speed_event","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"truck_geo_event":{"name":"truck_geo_event","displayName":"truck_geo_event","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"4eb6bb88-3b78-34a5-9da1-158a5d60ebb2"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"a87fa706-37d8-3fc0-8866-a5cdb733061f","name":"","source":{"id":"50f1ef58-37b1-3b2e-9d5c-0581f230b6b3","type":"PROCESSOR","groupId":"4eb6bb88-3b78-34a5-9da1-158a5d60ebb2","name":"RouteTelemetryEvents","comments":""},"destination":{"id":"5a4067d2-7ef2-3ff0-90ed-aff688716e59","type":"PROCESSOR","groupId":"4eb6bb88-3b78-34a5-9da1-158a5d60ebb2","name":"PutStreamingSpeedEventInGCS","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["truck_speed_event"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4eb6bb88-3b78-34a5-9da1-158a5d60ebb2"},{"identifier":"c56b0511-b1b3-35dd-b5e3-df2e3c662912","name":"","source":{"id":"167b3be6-b1ba-3ead-b837-a88070f5a44b","type":"PROCESSOR","groupId":"4eb6bb88-3b78-34a5-9da1-158a5d60ebb2","name":"ReverseGeoLookup","comments":""},"destination":{"id":"0366ad1e-f689-3aed-af2e-797691e35741","type":"PROCESSOR","groupId":"4eb6bb88-3b78-34a5-9da1-158a5d60ebb2","name":"PutStreamingGeoEventInGCS","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4eb6bb88-3b78-34a5-9da1-158a5d60ebb2"},{"identifier":"ca3e2f32-b338-3fc6-89c1-946e5e20c2cf","name":"","source":{"id":"cc797e02-78e5-3718-9634-f3f76e6a875a","type":"PROCESSOR","groupId":"4eb6bb88-3b78-34a5-9da1-158a5d60ebb2","name":"ListGCSBucket","comments":""},"destination":{"id":"5921f876-f5d8-3b56-ab92-22e8969baea1","type":"PROCESSOR","groupId":"4eb6bb88-3b78-34a5-9da1-158a5d60ebb2","name":"FetchGCSObject","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4eb6bb88-3b78-34a5-9da1-158a5d60ebb2"},{"identifier":"9b64ff5d-c066-30e4-ae3c-6b9530d1e030","name":"","source":{"id":"50f1ef58-37b1-3b2e-9d5c-0581f230b6b3","type":"PROCESSOR","groupId":"4eb6bb88-3b78-34a5-9da1-158a5d60ebb2","name":"RouteTelemetryEvents","comments":""},"destination":{"id":"167b3be6-b1ba-3ead-b837-a88070f5a44b","type":"PROCESSOR","groupId":"4eb6bb88-3b78-34a5-9da1-158a5d60ebb2","name":"ReverseGeoLookup","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["truck_geo_event"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4eb6bb88-3b78-34a5-9da1-158a5d60ebb2"},{"identifier":"8614a2fb-1601-3716-a9ec-5c68da41614e","name":"","source":{"id":"5921f876-f5d8-3b56-ab92-22e8969baea1","type":"PROCESSOR","groupId":"4eb6bb88-3b78-34a5-9da1-158a5d60ebb2","name":"FetchGCSObject","comments":""},"destination":{"id":"50f1ef58-37b1-3b2e-9d5c-0581f230b6b3","type":"PROCESSOR","groupId":"4eb6bb88-3b78-34a5-9da1-158a5d60ebb2","name":"RouteTelemetryEvents","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"4eb6bb88-3b78-34a5-9da1-158a5d60ebb2"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"661fbcff-82ed-347b-9364-8ddc3e8425f3","name":"GeoTelemetryEnrichedWriterJson","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.3.2-5"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.2-5"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-protocol-version":"1","schema-version":null,"schema-text":"#{telemetry_dest_geo_event_schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"4eb6bb88-3b78-34a5-9da1-158a5d60ebb2"},{"identifier":"af9cd967-1c8f-34cf-8ddb-0bbdbc8f39df","name":"TruckTelemetryWriterJson","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.3.2-5"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.2-5"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-protocol-version":"1","schema-version":null,"schema-text":"#{telemetry_source_schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"4eb6bb88-3b78-34a5-9da1-158a5d60ebb2"},{"identifier":"0355dacd-c9e0-3c5d-9c0c-5195e69e0e64","name":"Enrich- ReverseGeoCodeLookupService","comments":"","type":"org.apache.nifi.lookup.script.ScriptedLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.13.2.2.2.3.2-5"},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.2-5"}}],"properties":{"Script File":null,"googleApiKey":"AIzaSyA-h19EtKZMbh33QXCWVdaK5gCFfbS-GAk","Script Engine":"Groovy","Script Body":"import org.apache.nifi.controller.ControllerServiceInitializationContext\nimport org.apache.nifi.reporting.InitializationException\n\n\nclass GroovyLookupService implements LookupService<String> {\n\n   def apiKey\n   def log\n    \n   @Override\n    Optional<String> lookup(Map<String,String> coords) {\n      def lat = coords['lat']\n      def lng = coords['lng']\n      def fmt_addr = \"No Address\"\n      Optional.ofNullable(fmt_addr?.toString())\n    }\n\n    @Override\n    Class<?> getValueType() {\n        return String\n    }\n\n    @Override\n    Set<String> getRequiredKeys() {\n      return ['lat','lng'] as Set<String>\n    }\n\n    void setLogger(logger) {\n       log = logger\n    }\n\n    void onEnabled(context) {\n        def googleApiKeyPropertyDescriptor = context.properties.find {k,v -> k.name == 'googleApiKey'}?.key\n        apiKey = context.getProperty(googleApiKeyPropertyDescriptor)?.evaluateAttributeExpressions()?.value\n    }\n\n    @Override\n    void initialize(ControllerServiceInitializationContext context) throws InitializationException {\n\n    }\n\n    @Override\n    Collection<ValidationResult> validate(ValidationContext context) {\n        return null\n    }\n\n    @Override\n    PropertyDescriptor getPropertyDescriptor(String name) {\n        return null\n    }\n\n    @Override\n    void onPropertyModified(PropertyDescriptor descriptor, String oldValue, String newValue) {\n\n    }\n\n    @Override\n    List<PropertyDescriptor> getPropertyDescriptors() {\n        return null\n    }\n\n    @Override\n    String getIdentifier() {\n        return null\n    }\n}\n\nlookupService = new GroovyLookupService()","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false},"googleApiKey":{"name":"googleApiKey","displayName":"googleApiKey","identifiesControllerService":false,"sensitive":false},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"4eb6bb88-3b78-34a5-9da1-158a5d60ebb2"},{"identifier":"a1e63ccc-f8c9-3f23-a498-436a87698a2b","name":"TruckTelemetryReaderJson","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.3.2-5"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.2-5"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"#{telemetry_source_schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"4eb6bb88-3b78-34a5-9da1-158a5d60ebb2"},{"identifier":"85727028-d6f7-3464-ad9d-95dc2084a44c","name":"GeoTelemetryEnrichedReaderJson","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.2.3.2-5"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.2.3.2-5"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"#{telemetry_dest_geo_event_schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"4eb6bb88-3b78-34a5-9da1-158a5d60ebb2"},{"identifier":"cdc048c8-6e05-3e34-9a35-e6dc88fbaac2","name":"GCPCredentialsControllerService","comments":"","type":"org.apache.nifi.processors.gcp.credentials.service.GCPCredentialsControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"1.13.2.2.2.3.2-5"},"controllerServiceApis":[{"type":"org.apache.nifi.gcp.credentials.service.GCPCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-services-api-nar","version":"1.13.2.2.2.3.2-5"}}],"properties":{"proxy-configuration-service":null,"compute-engine-credentials":"false","application-default-credentials":"false","service-account-json-file":null,"service-account-json":"#{gcp_svc_acct_json_key}"},"propertyDescriptors":{"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"compute-engine-credentials":{"name":"compute-engine-credentials","displayName":"Use Compute Engine Credentials","identifiesControllerService":false,"sensitive":false},"application-default-credentials":{"name":"application-default-credentials","displayName":"Use Application Default Credentials","identifiesControllerService":false,"sensitive":false},"service-account-json-file":{"name":"service-account-json-file","displayName":"Service Account JSON File","identifiesControllerService":false,"sensitive":false},"service-account-json":{"name":"service-account-json","displayName":"Service Account JSON","identifiesControllerService":false,"sensitive":true}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"4eb6bb88-3b78-34a5-9da1-158a5d60ebb2"}],"variables":{},"parameterContextName":"TruckSensorGCStoGCSProcessing","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"TruckSensorGCStoGCSProcessing":{"name":"TruckSensorGCStoGCSProcessing","parameters":[{"name":"routing_rule_geo_event","description":"","sensitive":false,"value":"SELECT * FROM FLOWFILE where eventSource = 'truck_geo_event'"},{"name":"gcp_dest_path_geo_event","description":"","sensitive":false,"value":"truck-geo-events"},{"name":"routing_rule_speed_event","description":"","sensitive":false,"value":"SELECT * FROM FLOWFILE where eventSource = 'truck_speed_event'"},{"name":"gcp_bucket_src","description":"","sensitive":false,"value":"truck-telemetry-raw"},{"name":"gcp_bucket_dest","description":"","sensitive":false,"value":"truck-telemetry-processed"},{"name":"gcp_project","description":"","sensitive":false,"value":"gcp-gvetticaden-sko"},{"name":"telemetry_dest_geo_event_schema","description":"","sensitive":false,"value":"{\n \"type\": \"record\",\n \"namespace\": \"cloudera.cdf.csp.schema.refapp.trucking\",\n \"name\": \"TruckGeoEventEnriched\",\n \"fields\": [\n  {\n   \"name\": \"eventTime\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"eventTimeLong\",\n   \"type\": \"long\",\n   \"default\": 0\n  },\n  {\n   \"name\": \"eventSource\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"truckId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"driverId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"driverName\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"routeId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"route\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"eventType\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"latitude\",\n   \"type\": \"double\"\n  },\n  {\n   \"name\": \"longitude\",\n   \"type\": \"double\"\n  },\n  {\n   \"name\": \"correlationId\",\n   \"type\": \"long\"\n  },\n  {\n   \"name\": \"geoAddress\",\n   \"type\": \"string\",\n   \"default\": \"None\"\n  }\n ]\n}"},{"name":"telemetry_dest_speed_event_schema","description":"","sensitive":false,"value":"{\n \"type\": \"record\",\n \"namespace\": \"cloudera.cdf.csp.schema.refapp.trucking\",\n \"name\": \"TruckSpeedEventEnriched\",\n \"fields\": [\n  {\n   \"name\": \"eventTime\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"eventTimeLong\",\n   \"type\": \"long\",\n   \"default\": 0\n  },\n  {\n   \"name\": \"eventSource\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"truckId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"driverId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"driverName\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"routeId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"route\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"speed\",\n   \"type\": \"int\"\n  }\n ]\n}"},{"name":"gcp_svc_acct_json_key","description":"","sensitive":true},{"name":"telemetry_source_schema","description":"","sensitive":false,"value":"{\n\t\"type\": \"record\",\n\t\"namespace\": \"cloudera.cdf.csp.schema.refapp.trucking\",\n\t\"name\": \"TruckEvent\",\n\t\"fields\": [{\n\t\t\t\"name\": \"eventTime\",\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t{\n\t\t\t\"name\": \"eventTimeLong\",\n\t\t\t\"type\": \"long\",\n\t\t\t\"default\": 0\n\t\t},\n\t\t{\n\t\t\t\"name\": \"eventSource\",\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t{\n\t\t\t\"name\": \"truckId\",\n\t\t\t\"type\": \"int\"\n\t\t},\n\t\t{\n\t\t\t\"name\": \"driverId\",\n\t\t\t\"type\": \"int\"\n\t\t},\n\t\t{\n\t\t\t\"name\": \"driverName\",\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t{\n\t\t\t\"name\": \"routeId\",\n\t\t\t\"type\": \"int\"\n\t\t},\n\t\t{\n\t\t\t\"name\": \"route\",\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t{\n\t\t\t\"name\": \"eventType\",\n\t\t\t\"type\": \"string\",\n\t\t\t\"default\": \"None\"\n\t\t},\n\t\t{\n\t\t\t\"name\": \"latitude\",\n\t\t\t\"type\": \"double\",\n\t\t\t\"default\": 0\n\t\t},\n\t\t{\n\t\t\t\"name\": \"longitude\",\n\t\t\t\"type\": \"double\",\n\t\t\t\"default\": 0\n\t\t},\n\t\t{\n\t\t\t\"name\": \"correlationId\",\n\t\t\t\"type\": \"long\",\n\t\t\t\"default\": 0\n\t\t},\n\t\t{\n\t\t\t\"name\": \"speed\",\n\t\t\t\"type\": \"int\",\n\t\t\t\"default\": 0\n\t\t}\n\t]\n}"},{"name":"gcp_dest_path_speed_event","description":"","sensitive":false,"value":"truck-speed-events"}]}},"flowEncodingVersion":"1.0"}