cfm-trucking-nifi/src/main/resources/nifi-flows/DataHub/download-flow/Tim-Data-Generator/DFX-Event-Builder.json
{"flowContents":{"identifier":"73bbc7df-c28b-301e-8d95-7aec3fbcc1d5","name":"DFX-Event-Builder","comments":"","position":{"x":2144.0,"y":160.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"691a3650-85d5-38db-9654-b961c116d7b4","name":"LogAttribute","comments":"","position":{"x":1248.0,"y":696.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.2.0.7.0-22"},"style":{},"type":"org.apache.nifi.processors.standard.LogAttribute","properties":{"Log prefix":null,"character-set":"UTF-8","Log Level":"debug","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"DISABLED","componentType":"PROCESSOR","groupIdentifier":"73bbc7df-c28b-301e-8d95-7aec3fbcc1d5"},{"identifier":"58835752-061b-3fb0-a5ef-289f0781c7d9","name":"IoT Style Data","comments":"","position":{"x":1242.0166485668472,"y":253.25},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.2.0.7.0-22"},"style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","properties":{"character-set":"UTF-8","File Size":"0B","generate-ff-custom-text":" {\"id\": \"${now():format(\"yyyyMMddHHmmss\")}_${UUID()}_${thread()}\",\n\"te\": \"0.${random():mod(100000):plus(1)}\",\n\"diskusage\": \"${math(\"random\")}.3 MB\",\n\"memory\": ${random():mod(95):plus(10)},\n\"cpu\": ${nextInt()}.${random():mod(99):plus(1)},\n\"host\": \"${ip()}/${hostname(true)}\",\n\"temperature\": \"${random():mod(60):plus(60)}\",\n\"macaddress\": \"${UUID()}\",\n\"end\": \"${random():mod(100000000000000):plus(1)}\",\n\"systemtime\": \"${now():format(\"MM/dd/yyyy HH:mm:ss\", \"EST\")}\"}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","componentType":"PROCESSOR","groupIdentifier":"73bbc7df-c28b-301e-8d95-7aec3fbcc1d5"},{"identifier":"2dff51f2-e903-3a7f-acc9-d38ffd9d0bed","name":"Specify Schema","comments":"","position":{"x":1250.0166485668472,"y":477.25},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.11.4.2.0.7.0-22"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","schema.name":"iottest","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","componentType":"PROCESSOR","groupIdentifier":"73bbc7df-c28b-301e-8d95-7aec3fbcc1d5"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"7ea387df-1f5d-304b-9566-f778fa755fb9","name":"","source":{"id":"58835752-061b-3fb0-a5ef-289f0781c7d9","type":"PROCESSOR","groupId":"73bbc7df-c28b-301e-8d95-7aec3fbcc1d5","name":"IoT Style Data","comments":""},"destination":{"id":"2dff51f2-e903-3a7f-acc9-d38ffd9d0bed","type":"PROCESSOR","groupId":"73bbc7df-c28b-301e-8d95-7aec3fbcc1d5","name":"Specify Schema","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"73bbc7df-c28b-301e-8d95-7aec3fbcc1d5"},{"identifier":"90805ff1-c497-328c-97e8-6952d3d231ea","name":"","source":{"id":"2dff51f2-e903-3a7f-acc9-d38ffd9d0bed","type":"PROCESSOR","groupId":"73bbc7df-c28b-301e-8d95-7aec3fbcc1d5","name":"Specify Schema","comments":""},"destination":{"id":"691a3650-85d5-38db-9654-b961c116d7b4","type":"PROCESSOR","groupId":"73bbc7df-c28b-301e-8d95-7aec3fbcc1d5","name":"LogAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"73bbc7df-c28b-301e-8d95-7aec3fbcc1d5"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}