cfm-trucking-nifi/src/main/resources/nifi-flows/DataHub/download-flow/Kafka-to-HBase/DFX-Kafka_JSON--Filter-HBase.json
{"flowContents":{"identifier":"d984e193-37a2-36a1-93f2-ec20988227ef","name":"DFX-Kafka_JSON--Filter-HBase","comments":"","position":{"x":2792.0,"y":-112.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"b6299d51-de29-39d7-9682-be0bec151bcc","name":"Consume Kafka Record 2.x","comments":"","position":{"x":528.9908613192229,"y":-78.5070637599099},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.11.4.2.0.7.0-22"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_0","properties":{"header-name-regex":"schema.*","sasl.username":"#{Kafka Service Account}","max.poll.records":"10000","record-writer":"adaeb79c-f57d-34fc-b988-98db89f6b1d6","group.id":"#{Kafka Consumer Group Id}","bootstrap.servers":"#{Kafka Broker Endpoint}","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"security.protocol":"SASL_SSL","kerberos-credentials-service":null,"ssl.context.service":"b8df1875-4273-38d9-92c5-69e9bea18270","max-uncommit-offset-wait":"1 secs","sasl.mechanism":"PLAIN","sasl.token.auth":"false","honor-transactions":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"#{Kafka Source Topic}","record-reader":"71f18e89-218c-3121-b492-8861542187f5","message-header-encoding":"UTF-8","sasl.password":"#{Kafka Service Account Password}","auto.offset.reset":"latest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"NONE","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["parse.failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"d984e193-37a2-36a1-93f2-ec20988227ef"},{"identifier":"1ad1b9ce-0278-3050-8df2-d265e3ea68b3","name":"Log Event with HBase Failure","comments":"","position":{"x":1168.0,"y":576.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.2.0.7.0-22"},"style":{},"type":"org.apache.nifi.processors.standard.LogAttribute","properties":{"Log prefix":null,"character-set":"UTF-8","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"d984e193-37a2-36a1-93f2-ec20988227ef"},{"identifier":"31c9f325-c024-3cb0-a0a7-5476e149af98","name":"PutHBaseRecord ","comments":"","position":{"x":528.0,"y":352.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hbase-nar","version":"1.11.4.2.0.7.0-22"},"style":{},"type":"org.apache.nifi.hbase.PutHBaseRecord","properties":{"Table Name":"#{HBase Table Name}","Row Identifier Field Name":"#{HBase Row Identifier Field Name}","hbase-record-null-field-strategy":"skip-field","Column Family":"#{HBase Column Family}","put-hb-rec-visibility-record-path":null,"Row Identifier Encoding Strategy":"String","Complex Field Strategy":"Text","Batch Size":"#{HBase Batch Size}","hbase-default-vis-string":null,"Field Encoding Strategy":"String","record-reader":"71f18e89-218c-3121-b492-8861542187f5","HBase Client Service":"9f0c356f-a86a-3ee1-96bf-50df484ebd8a","timestamp-field-name":null},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Row Identifier Field Name":{"name":"Row Identifier Field Name","displayName":"Row Identifier Field Name","identifiesControllerService":false,"sensitive":false},"hbase-record-null-field-strategy":{"name":"hbase-record-null-field-strategy","displayName":"Null Field Strategy","identifiesControllerService":false,"sensitive":false},"Column Family":{"name":"Column Family","displayName":"Column Family","identifiesControllerService":false,"sensitive":false},"put-hb-rec-visibility-record-path":{"name":"put-hb-rec-visibility-record-path","displayName":"Visibility String Record Path Root","identifiesControllerService":false,"sensitive":false},"Row Identifier Encoding Strategy":{"name":"Row Identifier Encoding Strategy","displayName":"Row Identifier Encoding Strategy","identifiesControllerService":false,"sensitive":false},"Complex Field Strategy":{"name":"Complex Field Strategy","displayName":"Complex Field Strategy","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"hbase-default-vis-string":{"name":"hbase-default-vis-string","displayName":"Default Visibility String","identifiesControllerService":false,"sensitive":false},"Field Encoding Strategy":{"name":"Field Encoding Strategy","displayName":"Field Encoding Strategy","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"HBase Client Service":{"name":"HBase Client Service","displayName":"HBase Client Service","identifiesControllerService":true,"sensitive":false},"timestamp-field-name":{"name":"timestamp-field-name","displayName":"Timestamp Field Name","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"d984e193-37a2-36a1-93f2-ec20988227ef"},{"identifier":"20dd2075-27cd-3d51-b398-34fe72402169","name":"Log Event with Incorrect Schema","comments":"","position":{"x":1192.0,"y":136.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.2.0.7.0-22"},"style":{},"type":"org.apache.nifi.processors.standard.LogAttribute","properties":{"Log prefix":null,"character-set":"UTF-8","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"d984e193-37a2-36a1-93f2-ec20988227ef"},{"identifier":"0f40255c-4acb-382a-a0c6-eb86ca271209","name":"RetryFlowFile","comments":"","position":{"x":520.0,"y":576.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.2.0.7.0-22"},"style":{},"type":"org.apache.nifi.processors.standard.RetryFlowFile","properties":{"penalize-retries":"true","maximum-retries":"3","Fail on Non-numerical Overwrite":"false","reuse-mode":"fail","retry-attribute":"flowfile.retries"},"propertyDescriptors":{"penalize-retries":{"name":"penalize-retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false},"maximum-retries":{"name":"maximum-retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false},"Fail on Non-numerical Overwrite":{"name":"Fail on Non-numerical Overwrite","displayName":"Fail on Non-numerical Overwrite","identifiesControllerService":false,"sensitive":false},"reuse-mode":{"name":"reuse-mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false},"retry-attribute":{"name":"retry-attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"d984e193-37a2-36a1-93f2-ec20988227ef"},{"identifier":"40596a7b-79cd-3970-a63f-8c9058a253a9","name":"Filter Events","comments":"","position":{"x":536.0,"y":136.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.2.0.7.0-22"},"style":{},"type":"org.apache.nifi.processors.standard.QueryRecord","properties":{"cache-schema":"false","filtered_events":"#{Filter Rule}","record-writer":"adaeb79c-f57d-34fc-b988-98db89f6b1d6","record-reader":"71f18e89-218c-3121-b492-8861542187f5","include-zero-record-flowfiles":"false"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"filtered_events":{"name":"filtered_events","displayName":"filtered_events","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"d984e193-37a2-36a1-93f2-ec20988227ef"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"6a4e011c-552e-3e2c-99ff-f5680576887d","name":"","source":{"id":"0f40255c-4acb-382a-a0c6-eb86ca271209","type":"PROCESSOR","groupId":"d984e193-37a2-36a1-93f2-ec20988227ef","name":"RetryFlowFile","comments":""},"destination":{"id":"31c9f325-c024-3cb0-a0a7-5476e149af98","type":"PROCESSOR","groupId":"d984e193-37a2-36a1-93f2-ec20988227ef","name":"PutHBaseRecord ","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":360.0,"y":488.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d984e193-37a2-36a1-93f2-ec20988227ef"},{"identifier":"39146857-0d88-3669-a738-d24c241d479a","name":"","source":{"id":"40596a7b-79cd-3970-a63f-8c9058a253a9","type":"PROCESSOR","groupId":"d984e193-37a2-36a1-93f2-ec20988227ef","name":"Filter Events","comments":""},"destination":{"id":"20dd2075-27cd-3d51-b398-34fe72402169","type":"PROCESSOR","groupId":"d984e193-37a2-36a1-93f2-ec20988227ef","name":"Log Event with Incorrect Schema","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d984e193-37a2-36a1-93f2-ec20988227ef"},{"identifier":"13da2001-9c9f-3742-b7b4-38f2c4d8ffe0","name":"","source":{"id":"31c9f325-c024-3cb0-a0a7-5476e149af98","type":"PROCESSOR","groupId":"d984e193-37a2-36a1-93f2-ec20988227ef","name":"PutHBaseRecord ","comments":""},"destination":{"id":"0f40255c-4acb-382a-a0c6-eb86ca271209","type":"PROCESSOR","groupId":"d984e193-37a2-36a1-93f2-ec20988227ef","name":"RetryFlowFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"ROUND_ROBIN","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d984e193-37a2-36a1-93f2-ec20988227ef"},{"identifier":"23cbfad3-f5d0-3c54-a1c0-c9c95923d6b1","name":"","source":{"id":"40596a7b-79cd-3970-a63f-8c9058a253a9","type":"PROCESSOR","groupId":"d984e193-37a2-36a1-93f2-ec20988227ef","name":"Filter Events","comments":""},"destination":{"id":"31c9f325-c024-3cb0-a0a7-5476e149af98","type":"PROCESSOR","groupId":"d984e193-37a2-36a1-93f2-ec20988227ef","name":"PutHBaseRecord ","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["filtered_events"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d984e193-37a2-36a1-93f2-ec20988227ef"},{"identifier":"aef01729-5e7f-3d91-8f43-3a51a5865828","name":"","source":{"id":"0f40255c-4acb-382a-a0c6-eb86ca271209","type":"PROCESSOR","groupId":"d984e193-37a2-36a1-93f2-ec20988227ef","name":"RetryFlowFile","comments":""},"destination":{"id":"1ad1b9ce-0278-3050-8df2-d265e3ea68b3","type":"PROCESSOR","groupId":"d984e193-37a2-36a1-93f2-ec20988227ef","name":"Log Event with HBase Failure","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["retries_exceeded","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d984e193-37a2-36a1-93f2-ec20988227ef"},{"identifier":"b3018393-cba1-3868-839d-5e576a70fcbe","name":"","source":{"id":"b6299d51-de29-39d7-9682-be0bec151bcc","type":"PROCESSOR","groupId":"d984e193-37a2-36a1-93f2-ec20988227ef","name":"Consume Kafka Record 2.x","comments":""},"destination":{"id":"40596a7b-79cd-3970-a63f-8c9058a253a9","type":"PROCESSOR","groupId":"d984e193-37a2-36a1-93f2-ec20988227ef","name":"Filter Events","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d984e193-37a2-36a1-93f2-ec20988227ef"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"adaeb79c-f57d-34fc-b988-98db89f6b1d6","name":"InferJsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4.2.0.7.0-22"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.2.0.7.0-22"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"d984e193-37a2-36a1-93f2-ec20988227ef"},{"identifier":"b8df1875-4273-38d9-92c5-69e9bea18270","name":"StandardSSLContextService","comments":"","type":"org.apache.nifi.ssl.StandardSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.11.4.2.0.7.0-22"},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.2.0.7.0-22"}}],"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":null,"Truststore Filename":"#{CDP Env Truststore File}","Truststore Password":"#{CDP Env Trustore Password}","Keystore Filename":null},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"d984e193-37a2-36a1-93f2-ec20988227ef"},{"identifier":"71f18e89-218c-3121-b492-8861542187f5","name":"InferJsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4.2.0.7.0-22"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.2.0.7.0-22"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"d984e193-37a2-36a1-93f2-ec20988227ef"},{"identifier":"9f0c356f-a86a-3ee1-96bf-50df484ebd8a","name":"OpDB CDP","comments":"","type":"org.apache.nifi.hbase.HBase_2_ClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hbase_2-client-service-nar","version":"1.11.4.2.0.7.0-22"},"controllerServiceApis":[{"type":"org.apache.nifi.hbase.HBaseClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.2.0.7.0-22"}}],"properties":{"kerberos-credentials-service":null,"Kerberos Password":"#{HBase Service Account Password}","Kerberos Keytab":null,"ZooKeeper Quorum":null,"ZooKeeper Client Port":null,"ZooKeeper ZNode Parent":null,"Kerberos Principal":"#{HBase Service Account}","HBase Client Retries":"3","Hadoop Configuration Files":"#{Hadoop Configuration Files}","Phoenix Client JAR Location":null},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"ZooKeeper Quorum":{"name":"ZooKeeper Quorum","displayName":"ZooKeeper Quorum","identifiesControllerService":false,"sensitive":false},"ZooKeeper Client Port":{"name":"ZooKeeper Client Port","displayName":"ZooKeeper Client Port","identifiesControllerService":false,"sensitive":false},"ZooKeeper ZNode Parent":{"name":"ZooKeeper ZNode Parent","displayName":"ZooKeeper ZNode Parent","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"HBase Client Retries":{"name":"HBase Client Retries","displayName":"HBase Client Retries","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Files":{"name":"Hadoop Configuration Files","displayName":"Hadoop Configuration Files","identifiesControllerService":false,"sensitive":false},"Phoenix Client JAR Location":{"name":"Phoenix Client JAR Location","displayName":"Phoenix Client JAR Location","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"d984e193-37a2-36a1-93f2-ec20988227ef"}],"variables":{},"parameterContextName":"George-DFX-Kafka_JSON--Filter-HBase","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"George-DFX-Kafka_JSON--Filter-HBase":{"name":"George-DFX-Kafka_JSON--Filter-HBase","parameters":[{"name":"HBase Service Account","description":"","sensitive":false,"value":"srv_vett_dfx_hbase_service"},{"name":"HBase Table Name","description":"","sensitive":false,"value":"truck_speed_events"},{"name":"CDP Env Truststore File","description":"","sensitive":false,"value":"/var/lib/nifi/gvetticaden_dfx.jks"},{"name":"Kafka Service Account Password","description":"","sensitive":true},{"name":"HBase Row Identifier Field Name","description":"","sensitive":false,"value":"eventTimeLong"},{"name":"Filter Rule","description":"","sensitive":false,"value":"SELECT * FROM FLOWFILE where eventSource = 'truck_speed_event' and speed > 40"},{"name":"Kafka Consumer Group Id","description":"","sensitive":false,"value":"dfx-truck-hbase"},{"name":"HBase Batch Size","description":"","sensitive":false,"value":"100"},{"name":"HBase Service Account Password","description":"","sensitive":true},{"name":"HBase Column Family","description":"","sensitive":false,"value":"speed_events"},{"name":"Kafka Service Account","description":"","sensitive":false,"value":"srv_vett_dfx_kafka_service"},{"name":"Kafka Broker Endpoint","description":"","sensitive":false,"value":"messaging-cluster-1-broker0.gvettica.xcu2-8y8x.dev.cldr.work:9093,messaging-cluster-1-broker1.gvettica.xcu2-8y8x.dev.cldr.work:9093,messaging-cluster-1-broker2.gvettica.xcu2-8y8x.dev.cldr.work:9093"},{"name":"Kafka Source Topic","description":"","sensitive":false,"value":"gateway-europe-raw-sensors-json"},{"name":"CDP Env Trustore Password","description":"","sensitive":true},{"name":"Hadoop Configuration Files","description":"","sensitive":false,"value":"/tmp/hbase-site.xml,/tmp/core-site.xml,/tmp/ssl-client.xml"}]}},"flowEncodingVersion":"1.0"}