cfm-trucking-nifi/src/main/resources/nifi-flows/CDP-DC/download-flow/Kafka-Connect/Kafka_Connect_Syslog.json
{"flowContents":{"identifier":"279149cc-ba4f-3d43-ad9f-32a12611b6aa","name":"Kafka Connect Syslog","comments":"","position":{"x":848.0,"y":312.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"28c92672-6e57-35b3-9380-67034d694e2a","name":"ListenTCPRecord","comments":"","position":{"x":1016.0,"y":80.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.2.0.4.0-80"},"style":{},"type":"org.apache.nifi.processors.standard.ListenTCPRecord","properties":{"read-timeout":"10 seconds","Local Network Interface":null,"ssl-context-service":null,"port":"#{syslog.port}","client-auth":"REQUIRED","max-number-tcp-connections":"2","record-writer":"342325d7-fe55-3df6-a13d-de213dfdfb61","max-size-socket-buffer":"1 MB","record-reader":"7dc13675-bab6-3f26-b245-97865837de0e","reader-error-handling-strategy":"Transfer","record-batch-size":"1"},"propertyDescriptors":{"read-timeout":{"name":"read-timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false},"Local Network Interface":{"name":"Local Network Interface","displayName":"Local Network Interface","identifiesControllerService":false,"sensitive":false},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"port":{"name":"port","displayName":"Port","identifiesControllerService":false,"sensitive":false},"client-auth":{"name":"client-auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"max-number-tcp-connections":{"name":"max-number-tcp-connections","displayName":"Max Number of TCP Connections","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"max-size-socket-buffer":{"name":"max-size-socket-buffer","displayName":"Max Size of Socket Buffer","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"reader-error-handling-strategy":{"name":"reader-error-handling-strategy","displayName":"Read Error Strategy","identifiesControllerService":false,"sensitive":false},"record-batch-size":{"name":"record-batch-size","displayName":"Record Batch Size","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"279149cc-ba4f-3d43-ad9f-32a12611b6aa"}],"inputPorts":[],"outputPorts":[{"identifier":"f2dd7fcc-8fba-379e-b819-45828af009ec","name":"Syslog Messages","position":{"x":1072.0,"y":448.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"279149cc-ba4f-3d43-ad9f-32a12611b6aa"}],"connections":[{"identifier":"04a67a31-a291-3d4b-81ee-421742cdf85e","name":"","source":{"id":"28c92672-6e57-35b3-9380-67034d694e2a","type":"PROCESSOR","groupId":"279149cc-ba4f-3d43-ad9f-32a12611b6aa","name":"ListenTCPRecord","comments":""},"destination":{"id":"f2dd7fcc-8fba-379e-b819-45828af009ec","type":"OUTPUT_PORT","groupId":"279149cc-ba4f-3d43-ad9f-32a12611b6aa","name":"Syslog Messages"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"279149cc-ba4f-3d43-ad9f-32a12611b6aa"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"7dc13675-bab6-3f26-b245-97865837de0e","name":"Syslog RFC5424 Reader","type":"org.apache.nifi.syslog.Syslog5424Reader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4.2.0.4.0-80"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.2.0.4.0-80"}}],"properties":{"Character Set":"UTF-8"},"propertyDescriptors":{"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"279149cc-ba4f-3d43-ad9f-32a12611b6aa"},{"identifier":"342325d7-fe55-3df6-a13d-de213dfdfb61","name":"Json Writer - Syslog","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4.2.0.4.0-80"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.2.0.4.0-80"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"true","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"279149cc-ba4f-3d43-ad9f-32a12611b6aa"},{"identifier":"072f2fb8-2690-38d2-b940-284be8e56a51","name":"Json Reader - Syslog","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4.2.0.4.0-80"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.2.0.4.0-80"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"279149cc-ba4f-3d43-ad9f-32a12611b6aa"}],"variables":{},"parameterContextName":"Syslog-App","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"Syslog-App":{"name":"Syslog-App","parameters":[{"name":"syslog.protocol","description":"","sensitive":false,"value":"TCP"},{"name":"syslog.port","description":"","sensitive":false,"value":"19898"},{"name":"kafka.broker.endpoint","description":"Kafka Broker Endpoint","sensitive":false,"value":"ec2-3-133-82-193.us-east-2.compute.amazonaws.com:9092,ec2-3-18-223-190.us-east-2.compute.amazonaws.com:9092,ec2-13-59-229-229.us-east-2.compute.amazonaws.com:9092"},{"name":"kafka.topic","description":"Destination Kafka Topic","sensitive":false,"value":"syslog-json"}]}},"flowEncodingVersion":"1.0"}