cfm-trucking-nifi/src/main/resources/nifi-flows/NaaF/TruckSensorS3toS3Function-Version-Updated.json
{
	"flowContents": {
		"identifier": "65150a97-f09b-35b2-bbea-93792ace8dd9",
		"name": "TruckSensorS3toS3Function",
		"comments": "",
		"position": {
			"x": 1152.0,
			"y": 648.0
		},
		"processGroups": [],
		"remoteProcessGroups": [],
		"processors": [{
			"identifier": "35119815-235b-3b5f-b855-069b49042a67",
			"name": "ReverseGeoLookup",
			"comments": "",
			"position": {
				"x": 176.0,
				"y": 896.0
			},
			"bundle": {
				"group": "org.apache.nifi",
				"artifact": "nifi-standard-nar",
				"version": "1.13.2.2.2.2.0-127"
			},
			"style": {},
			"type": "org.apache.nifi.processors.standard.LookupRecord",
			"properties": {
				"result-contents": "insert-entire-record",
				"routing-strategy": "route-to-success",
				"lng": "/longitude",
				"result-record-path": "/geoAddress",
				"record-writer": "89dc0c2e-5b87-375b-860f-959aa75136c6",
				"record-reader": "8013071b-85f6-3bc7-a545-532fb65654af",
				"lookup-service": "56f66eaa-3e95-3de2-ae58-4b8371d2a5e0",
				"record-update-strategy": "use-property",
				"lat": "/latitude"
			},
			"propertyDescriptors": {
				"result-contents": {
					"name": "result-contents",
					"displayName": "Record Result Contents",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"routing-strategy": {
					"name": "routing-strategy",
					"displayName": "Routing Strategy",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"lng": {
					"name": "lng",
					"displayName": "lng",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"result-record-path": {
					"name": "result-record-path",
					"displayName": "Result RecordPath",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"record-writer": {
					"name": "record-writer",
					"displayName": "Record Writer",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"record-reader": {
					"name": "record-reader",
					"displayName": "Record Reader",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"lookup-service": {
					"name": "lookup-service",
					"displayName": "Lookup Service",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"record-update-strategy": {
					"name": "record-update-strategy",
					"displayName": "Record Update Strategy",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"lat": {
					"name": "lat",
					"displayName": "lat",
					"identifiesControllerService": false,
					"sensitive": false
				}
			},
			"schedulingPeriod": "0 sec",
			"schedulingStrategy": "TIMER_DRIVEN",
			"executionNode": "ALL",
			"penaltyDuration": "30 sec",
			"yieldDuration": "1 sec",
			"bulletinLevel": "WARN",
			"runDurationMillis": 0,
			"concurrentlySchedulableTaskCount": 1,
			"autoTerminatedRelationships": ["failure"],
			"scheduledState": "ENABLED",
			"componentType": "PROCESSOR",
			"groupIdentifier": "65150a97-f09b-35b2-bbea-93792ace8dd9"
		}, {
			"identifier": "1f1a7634-9138-3265-84f7-7703e2cf4f36",
			"name": "SplitJson",
			"comments": "",
			"position": {
				"x": 344.0,
				"y": 96.0
			},
			"bundle": {
				"group": "org.apache.nifi",
				"artifact": "nifi-standard-nar",
				"version": "1.13.2.2.2.2.0-127"
			},
			"style": {},
			"type": "org.apache.nifi.processors.standard.SplitJson",
			"properties": {
				"Null Value Representation": "empty string",
				"JsonPath Expression": "$.Records"
			},
			"propertyDescriptors": {
				"Null Value Representation": {
					"name": "Null Value Representation",
					"displayName": "Null Value Representation",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"JsonPath Expression": {
					"name": "JsonPath Expression",
					"displayName": "JsonPath Expression",
					"identifiesControllerService": false,
					"sensitive": false
				}
			},
			"schedulingPeriod": "0 sec",
			"schedulingStrategy": "TIMER_DRIVEN",
			"executionNode": "ALL",
			"penaltyDuration": "30 sec",
			"yieldDuration": "1 sec",
			"bulletinLevel": "WARN",
			"runDurationMillis": 0,
			"concurrentlySchedulableTaskCount": 1,
			"autoTerminatedRelationships": ["original", "failure"],
			"scheduledState": "ENABLED",
			"componentType": "PROCESSOR",
			"groupIdentifier": "65150a97-f09b-35b2-bbea-93792ace8dd9"
		}, {
			"identifier": "b5c297c6-d952-3359-a0ca-1363cca249cc",
			"name": "RouteTelemetryEvents",
			"comments": "",
			"position": {
				"x": 336.0,
				"y": 672.0
			},
			"bundle": {
				"group": "org.apache.nifi",
				"artifact": "nifi-standard-nar",
				"version": "1.13.2.2.2.2.0-127"
			},
			"style": {},
			"type": "org.apache.nifi.processors.standard.QueryRecord",
			"properties": {
				"cache-schema": "true",
				"dbf-default-precision": "10",
				"truck_speed_event": "#{Routing Rule Speed Event}",
				"record-writer": "4873831c-611c-36ea-ab51-0ad95a85f55c",
				"record-reader": "b7f820e7-024e-3c84-b587-6c5db23e2027",
				"include-zero-record-flowfiles": "false",
				"dbf-default-scale": "0",
				"truck_geo_event": "#{Routing Rule Geo Event}"
			},
			"propertyDescriptors": {
				"cache-schema": {
					"name": "cache-schema",
					"displayName": "Cache Schema",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"dbf-default-precision": {
					"name": "dbf-default-precision",
					"displayName": "Default Decimal Precision",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"truck_speed_event": {
					"name": "truck_speed_event",
					"displayName": "truck_speed_event",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"record-writer": {
					"name": "record-writer",
					"displayName": "Record Writer",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"record-reader": {
					"name": "record-reader",
					"displayName": "Record Reader",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"include-zero-record-flowfiles": {
					"name": "include-zero-record-flowfiles",
					"displayName": "Include Zero Record FlowFiles",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"dbf-default-scale": {
					"name": "dbf-default-scale",
					"displayName": "Default Decimal Scale",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"truck_geo_event": {
					"name": "truck_geo_event",
					"displayName": "truck_geo_event",
					"identifiesControllerService": false,
					"sensitive": false
				}
			},
			"schedulingPeriod": "0 sec",
			"schedulingStrategy": "TIMER_DRIVEN",
			"executionNode": "ALL",
			"penaltyDuration": "30 sec",
			"yieldDuration": "1 sec",
			"bulletinLevel": "WARN",
			"runDurationMillis": 0,
			"concurrentlySchedulableTaskCount": 1,
			"autoTerminatedRelationships": ["original", "failure"],
			"scheduledState": "ENABLED",
			"componentType": "PROCESSOR",
			"groupIdentifier": "65150a97-f09b-35b2-bbea-93792ace8dd9"
		}, {
			"identifier": "43fa0c00-49e7-356a-ac51-a004b90a1f6f",
			"name": "FetchS3Object",
			"comments": "",
			"position": {
				"x": 344.0,
				"y": 480.0
			},
			"bundle": {
				"group": "org.apache.nifi",
				"artifact": "nifi-aws-nar",
				"version": "1.13.2.2.2.2.0-127"
			},
			"style": {},
			"type": "org.apache.nifi.processors.aws.s3.FetchS3Object",
			"properties": {
				"Proxy Host": null,
				"range-length": null,
				"Access Key": "#{aws.access.key}",
				"range-start": null,
				"proxy-configuration-service": null,
				"Endpoint Override URL": null,
				"requester-pays": "false",
				"Object Key": "${filename}",
				"AWS Credentials Provider service": null,
				"SSL Context Service": null,
				"Signer Override": "Default Signature",
				"Bucket": "#{s3.bucket}",
				"Version": null,
				"Communications Timeout": "30 secs",
				"Region": "#{s3.region}",
				"Secret Key": "#{aws.access.password}",
				"Credentials File": null,
				"proxy-user-name": null,
				"Proxy Host Port": null,
				"encryption-service": null
			},
			"propertyDescriptors": {
				"Proxy Host": {
					"name": "Proxy Host",
					"displayName": "Proxy Host",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"range-length": {
					"name": "range-length",
					"displayName": "Range Length",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Access Key": {
					"name": "Access Key",
					"displayName": "Access Key ID",
					"identifiesControllerService": false,
					"sensitive": true
				},
				"range-start": {
					"name": "range-start",
					"displayName": "Range Start",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"proxy-configuration-service": {
					"name": "proxy-configuration-service",
					"displayName": "Proxy Configuration Service",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"Endpoint Override URL": {
					"name": "Endpoint Override URL",
					"displayName": "Endpoint Override URL",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"requester-pays": {
					"name": "requester-pays",
					"displayName": "Requester Pays",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Object Key": {
					"name": "Object Key",
					"displayName": "Object Key",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"AWS Credentials Provider service": {
					"name": "AWS Credentials Provider service",
					"displayName": "AWS Credentials Provider service",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"SSL Context Service": {
					"name": "SSL Context Service",
					"displayName": "SSL Context Service",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"Signer Override": {
					"name": "Signer Override",
					"displayName": "Signer Override",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Bucket": {
					"name": "Bucket",
					"displayName": "Bucket",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Version": {
					"name": "Version",
					"displayName": "Version",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"proxy-user-password": {
					"name": "proxy-user-password",
					"displayName": "Proxy Password",
					"identifiesControllerService": false,
					"sensitive": true
				},
				"Communications Timeout": {
					"name": "Communications Timeout",
					"displayName": "Communications Timeout",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Region": {
					"name": "Region",
					"displayName": "Region",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Secret Key": {
					"name": "Secret Key",
					"displayName": "Secret Access Key",
					"identifiesControllerService": false,
					"sensitive": true
				},
				"Credentials File": {
					"name": "Credentials File",
					"displayName": "Credentials File",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"proxy-user-name": {
					"name": "proxy-user-name",
					"displayName": "Proxy Username",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Proxy Host Port": {
					"name": "Proxy Host Port",
					"displayName": "Proxy Host Port",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"encryption-service": {
					"name": "encryption-service",
					"displayName": "Encryption Service",
					"identifiesControllerService": true,
					"sensitive": false
				}
			},
			"schedulingPeriod": "0 sec",
			"schedulingStrategy": "TIMER_DRIVEN",
			"executionNode": "ALL",
			"penaltyDuration": "30 sec",
			"yieldDuration": "1 sec",
			"bulletinLevel": "WARN",
			"runDurationMillis": 0,
			"concurrentlySchedulableTaskCount": 1,
			"autoTerminatedRelationships": ["failure"],
			"scheduledState": "ENABLED",
			"componentType": "PROCESSOR",
			"groupIdentifier": "65150a97-f09b-35b2-bbea-93792ace8dd9"
		}, {
			"identifier": "34a692aa-95c7-3861-be6e-9ad6952a4cb8",
			"name": "PutStreamingSpeedEventInS3",
			"comments": "",
			"position": {
				"x": 592.0,
				"y": 1096.0
			},
			"bundle": {
				"group": "org.apache.nifi",
				"artifact": "nifi-aws-nar",
				"version": "1.13.2.2.2.2.0-127"
			},
			"style": {},
			"type": "org.apache.nifi.processors.aws.s3.PutS3Object",
			"properties": {
				"Proxy Host": null,
				"FullControl User List": "${s3.permissions.full.users}",
				"Owner": "${s3.owner}",
				"Access Key": "#{aws.access.key}",
				"proxy-configuration-service": null,
				"Cache Control": null,
				"s3-object-remove-tags-prefix": "false",
				"Endpoint Override URL": null,
				"Multipart Upload Max Age Threshold": "7 days",
				"canned-acl": "${s3.permissions.cannedacl}",
				"Signer Override": "Default Signature",
				"Content Type": null,
				"Secret Key": "#{aws.access.password}",
				"Write ACL User List": "${s3.permissions.writeacl.users}",
				"server-side-encryption": "None",
				"Read ACL User List": "${s3.permissions.readacl.users}",
				"encryption-service": null,
				"Content Disposition": null,
				"Storage Class": "Standard",
				"Multipart Part Size": "5 GB",
				"use-chunked-encoding": "true",
				"Object Key": "#{s3.dest.path.speed.event}/speed-${filename:substringAfterLast('/')}",
				"AWS Credentials Provider service": null,
				"Multipart Threshold": "5 GB",
				"s3-object-tags-prefix": null,
				"SSL Context Service": null,
				"Bucket": "#{s3.bucket}",
				"Multipart Upload AgeOff Interval": "60 min",
				"use-path-style-access": "false",
				"Write Permission User List": "${s3.permissions.write.users}",
				"Communications Timeout": "30 secs",
				"Credentials File": null,
				"Region": "us-west-2",
				"Read Permission User List": "${s3.permissions.read.users}",
				"Expiration Time Rule": null,
				"proxy-user-name": null,
				"Proxy Host Port": null,
				"s3-temporary-directory-multipart": "${java.io.tmpdir}"
			},
			"propertyDescriptors": {
				"Proxy Host": {
					"name": "Proxy Host",
					"displayName": "Proxy Host",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"FullControl User List": {
					"name": "FullControl User List",
					"displayName": "FullControl User List",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Owner": {
					"name": "Owner",
					"displayName": "Owner",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Access Key": {
					"name": "Access Key",
					"displayName": "Access Key ID",
					"identifiesControllerService": false,
					"sensitive": true
				},
				"proxy-configuration-service": {
					"name": "proxy-configuration-service",
					"displayName": "Proxy Configuration Service",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"Cache Control": {
					"name": "Cache Control",
					"displayName": "Cache Control",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"s3-object-remove-tags-prefix": {
					"name": "s3-object-remove-tags-prefix",
					"displayName": "Remove Tag Prefix",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Endpoint Override URL": {
					"name": "Endpoint Override URL",
					"displayName": "Endpoint Override URL",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Multipart Upload Max Age Threshold": {
					"name": "Multipart Upload Max Age Threshold",
					"displayName": "Multipart Upload Max Age Threshold",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"canned-acl": {
					"name": "canned-acl",
					"displayName": "Canned ACL",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Signer Override": {
					"name": "Signer Override",
					"displayName": "Signer Override",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"proxy-user-password": {
					"name": "proxy-user-password",
					"displayName": "Proxy Password",
					"identifiesControllerService": false,
					"sensitive": true
				},
				"Content Type": {
					"name": "Content Type",
					"displayName": "Content Type",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Secret Key": {
					"name": "Secret Key",
					"displayName": "Secret Access Key",
					"identifiesControllerService": false,
					"sensitive": true
				},
				"Write ACL User List": {
					"name": "Write ACL User List",
					"displayName": "Write ACL User List",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"server-side-encryption": {
					"name": "server-side-encryption",
					"displayName": "Server Side Encryption",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Read ACL User List": {
					"name": "Read ACL User List",
					"displayName": "Read ACL User List",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"encryption-service": {
					"name": "encryption-service",
					"displayName": "Encryption Service",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"Content Disposition": {
					"name": "Content Disposition",
					"displayName": "Content Disposition",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Storage Class": {
					"name": "Storage Class",
					"displayName": "Storage Class",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Multipart Part Size": {
					"name": "Multipart Part Size",
					"displayName": "Multipart Part Size",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"use-chunked-encoding": {
					"name": "use-chunked-encoding",
					"displayName": "Use Chunked Encoding",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Object Key": {
					"name": "Object Key",
					"displayName": "Object Key",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"AWS Credentials Provider service": {
					"name": "AWS Credentials Provider service",
					"displayName": "AWS Credentials Provider service",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"Multipart Threshold": {
					"name": "Multipart Threshold",
					"displayName": "Multipart Threshold",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"s3-object-tags-prefix": {
					"name": "s3-object-tags-prefix",
					"displayName": "Object Tags Prefix",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"SSL Context Service": {
					"name": "SSL Context Service",
					"displayName": "SSL Context Service",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"Bucket": {
					"name": "Bucket",
					"displayName": "Bucket",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Multipart Upload AgeOff Interval": {
					"name": "Multipart Upload AgeOff Interval",
					"displayName": "Multipart Upload AgeOff Interval",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"use-path-style-access": {
					"name": "use-path-style-access",
					"displayName": "Use Path Style Access",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Write Permission User List": {
					"name": "Write Permission User List",
					"displayName": "Write Permission User List",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Communications Timeout": {
					"name": "Communications Timeout",
					"displayName": "Communications Timeout",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Credentials File": {
					"name": "Credentials File",
					"displayName": "Credentials File",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Region": {
					"name": "Region",
					"displayName": "Region",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Read Permission User List": {
					"name": "Read Permission User List",
					"displayName": "Read Permission User List",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Expiration Time Rule": {
					"name": "Expiration Time Rule",
					"displayName": "Expiration Time Rule",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"proxy-user-name": {
					"name": "proxy-user-name",
					"displayName": "Proxy Username",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Proxy Host Port": {
					"name": "Proxy Host Port",
					"displayName": "Proxy Host Port",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"s3-temporary-directory-multipart": {
					"name": "s3-temporary-directory-multipart",
					"displayName": "Temporary Directory Multipart State",
					"identifiesControllerService": false,
					"sensitive": false
				}
			},
			"schedulingPeriod": "0 sec",
			"schedulingStrategy": "TIMER_DRIVEN",
			"executionNode": "ALL",
			"penaltyDuration": "30 sec",
			"yieldDuration": "1 sec",
			"bulletinLevel": "WARN",
			"runDurationMillis": 0,
			"concurrentlySchedulableTaskCount": 1,
			"autoTerminatedRelationships": ["success", "failure"],
			"scheduledState": "ENABLED",
			"componentType": "PROCESSOR",
			"groupIdentifier": "65150a97-f09b-35b2-bbea-93792ace8dd9"
		}, {
			"identifier": "4502d4d4-9dc3-3d7e-8017-ed95c5eb903c",
			"name": "EvaluateJsonPath",
			"comments": "",
			"position": {
				"x": 336.0,
				"y": 288.0
			},
			"bundle": {
				"group": "org.apache.nifi",
				"artifact": "nifi-standard-nar",
				"version": "1.13.2.2.2.2.0-127"
			},
			"style": {},
			"type": "org.apache.nifi.processors.standard.EvaluateJsonPath",
			"properties": {
				"bucket": "$.s3.bucket.name",
				"Destination": "flowfile-attribute",
				"Return Type": "auto-detect",
				"Null Value Representation": "empty string",
				"key": "$.s3.object.key",
				"Path Not Found Behavior": "ignore"
			},
			"propertyDescriptors": {
				"bucket": {
					"name": "bucket",
					"displayName": "bucket",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Destination": {
					"name": "Destination",
					"displayName": "Destination",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Return Type": {
					"name": "Return Type",
					"displayName": "Return Type",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Null Value Representation": {
					"name": "Null Value Representation",
					"displayName": "Null Value Representation",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"key": {
					"name": "key",
					"displayName": "key",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Path Not Found Behavior": {
					"name": "Path Not Found Behavior",
					"displayName": "Path Not Found Behavior",
					"identifiesControllerService": false,
					"sensitive": false
				}
			},
			"schedulingPeriod": "0 sec",
			"schedulingStrategy": "TIMER_DRIVEN",
			"executionNode": "ALL",
			"penaltyDuration": "30 sec",
			"yieldDuration": "1 sec",
			"bulletinLevel": "WARN",
			"runDurationMillis": 0,
			"concurrentlySchedulableTaskCount": 1,
			"autoTerminatedRelationships": ["failure", "unmatched"],
			"scheduledState": "ENABLED",
			"componentType": "PROCESSOR",
			"groupIdentifier": "65150a97-f09b-35b2-bbea-93792ace8dd9"
		}, {
			"identifier": "92987615-e026-3e3d-8282-8d07c376602e",
			"name": "PutStreamingGeoEventInS3",
			"comments": "",
			"position": {
				"x": 96.0,
				"y": 1112.0
			},
			"bundle": {
				"group": "org.apache.nifi",
				"artifact": "nifi-aws-nar",
				"version": "1.13.2.2.2.2.0-127"
			},
			"style": {},
			"type": "org.apache.nifi.processors.aws.s3.PutS3Object",
			"properties": {
				"Proxy Host": null,
				"FullControl User List": "${s3.permissions.full.users}",
				"Owner": "${s3.owner}",
				"Access Key": "#{aws.access.key}",
				"proxy-configuration-service": null,
				"Cache Control": null,
				"s3-object-remove-tags-prefix": "false",
				"Endpoint Override URL": null,
				"Multipart Upload Max Age Threshold": "7 days",
				"canned-acl": "${s3.permissions.cannedacl}",
				"Signer Override": "Default Signature",
				"Content Type": null,
				"Secret Key": "#{aws.access.password}",
				"Write ACL User List": "${s3.permissions.writeacl.users}",
				"server-side-encryption": "None",
				"Read ACL User List": "${s3.permissions.readacl.users}",
				"encryption-service": null,
				"Content Disposition": null,
				"Storage Class": "Standard",
				"Multipart Part Size": "5 GB",
				"use-chunked-encoding": "true",
				"Object Key": "#{s3.dest.path.geo.event}/geo-${filename:substringAfterLast('/')}",
				"AWS Credentials Provider service": null,
				"Multipart Threshold": "5 GB",
				"s3-object-tags-prefix": null,
				"SSL Context Service": null,
				"Bucket": "#{s3.bucket}",
				"Multipart Upload AgeOff Interval": "60 min",
				"use-path-style-access": "false",
				"Write Permission User List": "${s3.permissions.write.users}",
				"Communications Timeout": "30 secs",
				"Credentials File": null,
				"Region": "us-west-2",
				"Read Permission User List": "${s3.permissions.read.users}",
				"Expiration Time Rule": null,
				"proxy-user-name": null,
				"Proxy Host Port": null,
				"s3-temporary-directory-multipart": "${java.io.tmpdir}"
			},
			"propertyDescriptors": {
				"Proxy Host": {
					"name": "Proxy Host",
					"displayName": "Proxy Host",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"FullControl User List": {
					"name": "FullControl User List",
					"displayName": "FullControl User List",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Owner": {
					"name": "Owner",
					"displayName": "Owner",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Access Key": {
					"name": "Access Key",
					"displayName": "Access Key ID",
					"identifiesControllerService": false,
					"sensitive": true
				},
				"proxy-configuration-service": {
					"name": "proxy-configuration-service",
					"displayName": "Proxy Configuration Service",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"Cache Control": {
					"name": "Cache Control",
					"displayName": "Cache Control",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"s3-object-remove-tags-prefix": {
					"name": "s3-object-remove-tags-prefix",
					"displayName": "Remove Tag Prefix",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Endpoint Override URL": {
					"name": "Endpoint Override URL",
					"displayName": "Endpoint Override URL",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Multipart Upload Max Age Threshold": {
					"name": "Multipart Upload Max Age Threshold",
					"displayName": "Multipart Upload Max Age Threshold",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"canned-acl": {
					"name": "canned-acl",
					"displayName": "Canned ACL",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Signer Override": {
					"name": "Signer Override",
					"displayName": "Signer Override",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"proxy-user-password": {
					"name": "proxy-user-password",
					"displayName": "Proxy Password",
					"identifiesControllerService": false,
					"sensitive": true
				},
				"Content Type": {
					"name": "Content Type",
					"displayName": "Content Type",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Secret Key": {
					"name": "Secret Key",
					"displayName": "Secret Access Key",
					"identifiesControllerService": false,
					"sensitive": true
				},
				"Write ACL User List": {
					"name": "Write ACL User List",
					"displayName": "Write ACL User List",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"server-side-encryption": {
					"name": "server-side-encryption",
					"displayName": "Server Side Encryption",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Read ACL User List": {
					"name": "Read ACL User List",
					"displayName": "Read ACL User List",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"encryption-service": {
					"name": "encryption-service",
					"displayName": "Encryption Service",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"Content Disposition": {
					"name": "Content Disposition",
					"displayName": "Content Disposition",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Storage Class": {
					"name": "Storage Class",
					"displayName": "Storage Class",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Multipart Part Size": {
					"name": "Multipart Part Size",
					"displayName": "Multipart Part Size",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"use-chunked-encoding": {
					"name": "use-chunked-encoding",
					"displayName": "Use Chunked Encoding",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Object Key": {
					"name": "Object Key",
					"displayName": "Object Key",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"AWS Credentials Provider service": {
					"name": "AWS Credentials Provider service",
					"displayName": "AWS Credentials Provider service",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"Multipart Threshold": {
					"name": "Multipart Threshold",
					"displayName": "Multipart Threshold",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"s3-object-tags-prefix": {
					"name": "s3-object-tags-prefix",
					"displayName": "Object Tags Prefix",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"SSL Context Service": {
					"name": "SSL Context Service",
					"displayName": "SSL Context Service",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"Bucket": {
					"name": "Bucket",
					"displayName": "Bucket",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Multipart Upload AgeOff Interval": {
					"name": "Multipart Upload AgeOff Interval",
					"displayName": "Multipart Upload AgeOff Interval",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"use-path-style-access": {
					"name": "use-path-style-access",
					"displayName": "Use Path Style Access",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Write Permission User List": {
					"name": "Write Permission User List",
					"displayName": "Write Permission User List",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Communications Timeout": {
					"name": "Communications Timeout",
					"displayName": "Communications Timeout",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Credentials File": {
					"name": "Credentials File",
					"displayName": "Credentials File",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Region": {
					"name": "Region",
					"displayName": "Region",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Read Permission User List": {
					"name": "Read Permission User List",
					"displayName": "Read Permission User List",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Expiration Time Rule": {
					"name": "Expiration Time Rule",
					"displayName": "Expiration Time Rule",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"proxy-user-name": {
					"name": "proxy-user-name",
					"displayName": "Proxy Username",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Proxy Host Port": {
					"name": "Proxy Host Port",
					"displayName": "Proxy Host Port",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"s3-temporary-directory-multipart": {
					"name": "s3-temporary-directory-multipart",
					"displayName": "Temporary Directory Multipart State",
					"identifiesControllerService": false,
					"sensitive": false
				}
			},
			"schedulingPeriod": "0 sec",
			"schedulingStrategy": "TIMER_DRIVEN",
			"executionNode": "ALL",
			"penaltyDuration": "30 sec",
			"yieldDuration": "1 sec",
			"bulletinLevel": "WARN",
			"runDurationMillis": 0,
			"concurrentlySchedulableTaskCount": 1,
			"autoTerminatedRelationships": ["success", "failure"],
			"scheduledState": "ENABLED",
			"componentType": "PROCESSOR",
			"groupIdentifier": "65150a97-f09b-35b2-bbea-93792ace8dd9"
		}],
		"inputPorts": [{
			"identifier": "13057947-d2a2-30b3-b4e1-06c2936a0f28",
			"name": "S3Trigger",
			"position": {
				"x": 392.0,
				"y": -8.0
			},
			"type": "INPUT_PORT",
			"concurrentlySchedulableTaskCount": 1,
			"allowRemoteAccess": false,
			"componentType": "INPUT_PORT",
			"groupIdentifier": "65150a97-f09b-35b2-bbea-93792ace8dd9"
		}],
		"outputPorts": [],
		"connections": [{
			"identifier": "d2f86929-7c09-36c2-b23b-e55b1e535291",
			"name": "",
			"source": {
				"id": "b5c297c6-d952-3359-a0ca-1363cca249cc",
				"type": "PROCESSOR",
				"groupId": "65150a97-f09b-35b2-bbea-93792ace8dd9",
				"name": "RouteTelemetryEvents",
				"comments": ""
			},
			"destination": {
				"id": "34a692aa-95c7-3861-be6e-9ad6952a4cb8",
				"type": "PROCESSOR",
				"groupId": "65150a97-f09b-35b2-bbea-93792ace8dd9",
				"name": "PutStreamingSpeedEventInS3",
				"comments": ""
			},
			"labelIndex": 1,
			"zIndex": 0,
			"selectedRelationships": ["truck_speed_event"],
			"backPressureObjectThreshold": 10000,
			"backPressureDataSizeThreshold": "1 GB",
			"flowFileExpiration": "0 sec",
			"prioritizers": [],
			"bends": [],
			"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
			"partitioningAttribute": "",
			"loadBalanceCompression": "DO_NOT_COMPRESS",
			"componentType": "CONNECTION",
			"groupIdentifier": "65150a97-f09b-35b2-bbea-93792ace8dd9"
		}, {
			"identifier": "4eb22b72-4f18-3bd2-b1b1-8277c3792b35",
			"name": "",
			"source": {
				"id": "35119815-235b-3b5f-b855-069b49042a67",
				"type": "PROCESSOR",
				"groupId": "65150a97-f09b-35b2-bbea-93792ace8dd9",
				"name": "ReverseGeoLookup",
				"comments": ""
			},
			"destination": {
				"id": "92987615-e026-3e3d-8282-8d07c376602e",
				"type": "PROCESSOR",
				"groupId": "65150a97-f09b-35b2-bbea-93792ace8dd9",
				"name": "PutStreamingGeoEventInS3",
				"comments": ""
			},
			"labelIndex": 1,
			"zIndex": 0,
			"selectedRelationships": ["success"],
			"backPressureObjectThreshold": 10000,
			"backPressureDataSizeThreshold": "1 GB",
			"flowFileExpiration": "0 sec",
			"prioritizers": [],
			"bends": [],
			"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
			"partitioningAttribute": "",
			"loadBalanceCompression": "DO_NOT_COMPRESS",
			"componentType": "CONNECTION",
			"groupIdentifier": "65150a97-f09b-35b2-bbea-93792ace8dd9"
		}, {
			"identifier": "4260ff60-1b6f-34cd-8aba-b3f4a76e049e",
			"name": "",
			"source": {
				"id": "4502d4d4-9dc3-3d7e-8017-ed95c5eb903c",
				"type": "PROCESSOR",
				"groupId": "65150a97-f09b-35b2-bbea-93792ace8dd9",
				"name": "EvaluateJsonPath",
				"comments": ""
			},
			"destination": {
				"id": "43fa0c00-49e7-356a-ac51-a004b90a1f6f",
				"type": "PROCESSOR",
				"groupId": "65150a97-f09b-35b2-bbea-93792ace8dd9",
				"name": "FetchS3Object",
				"comments": ""
			},
			"labelIndex": 1,
			"zIndex": 0,
			"selectedRelationships": ["matched"],
			"backPressureObjectThreshold": 10000,
			"backPressureDataSizeThreshold": "1 GB",
			"flowFileExpiration": "0 sec",
			"prioritizers": [],
			"bends": [],
			"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
			"partitioningAttribute": "",
			"loadBalanceCompression": "DO_NOT_COMPRESS",
			"componentType": "CONNECTION",
			"groupIdentifier": "65150a97-f09b-35b2-bbea-93792ace8dd9"
		}, {
			"identifier": "03556d4c-a60f-3a75-a0f9-87952fa8b0de",
			"name": "",
			"source": {
				"id": "13057947-d2a2-30b3-b4e1-06c2936a0f28",
				"type": "INPUT_PORT",
				"groupId": "65150a97-f09b-35b2-bbea-93792ace8dd9",
				"name": "S3Trigger"
			},
			"destination": {
				"id": "1f1a7634-9138-3265-84f7-7703e2cf4f36",
				"type": "PROCESSOR",
				"groupId": "65150a97-f09b-35b2-bbea-93792ace8dd9",
				"name": "SplitJson",
				"comments": ""
			},
			"labelIndex": 1,
			"zIndex": 0,
			"selectedRelationships": [""],
			"backPressureObjectThreshold": 10000,
			"backPressureDataSizeThreshold": "1 GB",
			"flowFileExpiration": "0 sec",
			"prioritizers": [],
			"bends": [],
			"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
			"partitioningAttribute": "",
			"loadBalanceCompression": "DO_NOT_COMPRESS",
			"componentType": "CONNECTION",
			"groupIdentifier": "65150a97-f09b-35b2-bbea-93792ace8dd9"
		}, {
			"identifier": "d7a12776-57fa-3040-910d-44e60032d5b3",
			"name": "",
			"source": {
				"id": "b5c297c6-d952-3359-a0ca-1363cca249cc",
				"type": "PROCESSOR",
				"groupId": "65150a97-f09b-35b2-bbea-93792ace8dd9",
				"name": "RouteTelemetryEvents",
				"comments": ""
			},
			"destination": {
				"id": "35119815-235b-3b5f-b855-069b49042a67",
				"type": "PROCESSOR",
				"groupId": "65150a97-f09b-35b2-bbea-93792ace8dd9",
				"name": "ReverseGeoLookup",
				"comments": ""
			},
			"labelIndex": 1,
			"zIndex": 0,
			"selectedRelationships": ["truck_geo_event"],
			"backPressureObjectThreshold": 10000,
			"backPressureDataSizeThreshold": "1 GB",
			"flowFileExpiration": "0 sec",
			"prioritizers": [],
			"bends": [],
			"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
			"partitioningAttribute": "",
			"loadBalanceCompression": "DO_NOT_COMPRESS",
			"componentType": "CONNECTION",
			"groupIdentifier": "65150a97-f09b-35b2-bbea-93792ace8dd9"
		}, {
			"identifier": "efdb7c83-2440-303c-bb2b-26b731308e20",
			"name": "",
			"source": {
				"id": "1f1a7634-9138-3265-84f7-7703e2cf4f36",
				"type": "PROCESSOR",
				"groupId": "65150a97-f09b-35b2-bbea-93792ace8dd9",
				"name": "SplitJson",
				"comments": ""
			},
			"destination": {
				"id": "4502d4d4-9dc3-3d7e-8017-ed95c5eb903c",
				"type": "PROCESSOR",
				"groupId": "65150a97-f09b-35b2-bbea-93792ace8dd9",
				"name": "EvaluateJsonPath",
				"comments": ""
			},
			"labelIndex": 1,
			"zIndex": 0,
			"selectedRelationships": ["split"],
			"backPressureObjectThreshold": 10000,
			"backPressureDataSizeThreshold": "1 GB",
			"flowFileExpiration": "0 sec",
			"prioritizers": [],
			"bends": [],
			"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
			"partitioningAttribute": "",
			"loadBalanceCompression": "DO_NOT_COMPRESS",
			"componentType": "CONNECTION",
			"groupIdentifier": "65150a97-f09b-35b2-bbea-93792ace8dd9"
		}, {
			"identifier": "b338cf4f-75f7-3258-b6b3-ecff9eced07d",
			"name": "",
			"source": {
				"id": "43fa0c00-49e7-356a-ac51-a004b90a1f6f",
				"type": "PROCESSOR",
				"groupId": "65150a97-f09b-35b2-bbea-93792ace8dd9",
				"name": "FetchS3Object",
				"comments": ""
			},
			"destination": {
				"id": "b5c297c6-d952-3359-a0ca-1363cca249cc",
				"type": "PROCESSOR",
				"groupId": "65150a97-f09b-35b2-bbea-93792ace8dd9",
				"name": "RouteTelemetryEvents",
				"comments": ""
			},
			"labelIndex": 1,
			"zIndex": 0,
			"selectedRelationships": ["success"],
			"backPressureObjectThreshold": 10000,
			"backPressureDataSizeThreshold": "1 GB",
			"flowFileExpiration": "0 sec",
			"prioritizers": [],
			"bends": [],
			"loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
			"partitioningAttribute": "",
			"loadBalanceCompression": "DO_NOT_COMPRESS",
			"componentType": "CONNECTION",
			"groupIdentifier": "65150a97-f09b-35b2-bbea-93792ace8dd9"
		}],
		"labels": [],
		"funnels": [],
		"controllerServices": [{
			"identifier": "b7f820e7-024e-3c84-b587-6c5db23e2027",
			"name": "TruckTelemetryReaderJson",
			"comments": "",
			"type": "org.apache.nifi.json.JsonTreeReader",
			"bundle": {
				"group": "org.apache.nifi",
				"artifact": "nifi-record-serialization-services-nar",
				"version": "1.13.2.2.2.2.0-127"
			},
			"controllerServiceApis": [{
				"type": "org.apache.nifi.serialization.RecordReaderFactory",
				"bundle": {
					"group": "org.apache.nifi",
					"artifact": "nifi-standard-services-api-nar",
					"version": "1.13.2.2.2.2.0-127"
				}
			}],
			"properties": {
				"Timestamp Format": null,
				"schema-inference-cache": null,
				"Date Format": null,
				"schema-branch": null,
				"schema-name": "${schema.name}",
				"schema-registry": null,
				"Time Format": null,
				"schema-access-strategy": "schema-text-property",
				"schema-version": null,
				"schema-text": "#{telemetry.source.schema}"
			},
			"propertyDescriptors": {
				"Timestamp Format": {
					"name": "Timestamp Format",
					"displayName": "Timestamp Format",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-inference-cache": {
					"name": "schema-inference-cache",
					"displayName": "Schema Inference Cache",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"Date Format": {
					"name": "Date Format",
					"displayName": "Date Format",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-branch": {
					"name": "schema-branch",
					"displayName": "Schema Branch",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-name": {
					"name": "schema-name",
					"displayName": "Schema Name",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-registry": {
					"name": "schema-registry",
					"displayName": "Schema Registry",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"Time Format": {
					"name": "Time Format",
					"displayName": "Time Format",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-access-strategy": {
					"name": "schema-access-strategy",
					"displayName": "Schema Access Strategy",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-version": {
					"name": "schema-version",
					"displayName": "Schema Version",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-text": {
					"name": "schema-text",
					"displayName": "Schema Text",
					"identifiesControllerService": false,
					"sensitive": false
				}
			},
			"componentType": "CONTROLLER_SERVICE",
			"groupIdentifier": "65150a97-f09b-35b2-bbea-93792ace8dd9"
		}, {
			"identifier": "4873831c-611c-36ea-ab51-0ad95a85f55c",
			"name": "TruckTelemetryWriterJson",
			"comments": "",
			"type": "org.apache.nifi.json.JsonRecordSetWriter",
			"bundle": {
				"group": "org.apache.nifi",
				"artifact": "nifi-record-serialization-services-nar",
				"version": "1.13.2.2.2.2.0-127"
			},
			"controllerServiceApis": [{
				"type": "org.apache.nifi.serialization.RecordSetWriterFactory",
				"bundle": {
					"group": "org.apache.nifi",
					"artifact": "nifi-standard-services-api-nar",
					"version": "1.13.2.2.2.2.0-127"
				}
			}],
			"properties": {
				"schema-branch": null,
				"compression-level": "1",
				"schema-cache": null,
				"Timestamp Format": null,
				"Date Format": null,
				"Pretty Print JSON": "false",
				"compression-format": "none",
				"Schema Write Strategy": "no-schema",
				"suppress-nulls": "never-suppress",
				"output-grouping": "output-array",
				"schema-name": "${schema.name}",
				"schema-registry": null,
				"Time Format": null,
				"schema-access-strategy": "schema-text-property",
				"schema-protocol-version": "1",
				"schema-version": null,
				"schema-text": "#{telemetry.source.schema}"
			},
			"propertyDescriptors": {
				"schema-branch": {
					"name": "schema-branch",
					"displayName": "Schema Branch",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"compression-level": {
					"name": "compression-level",
					"displayName": "Compression Level",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-cache": {
					"name": "schema-cache",
					"displayName": "Schema Cache",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"Timestamp Format": {
					"name": "Timestamp Format",
					"displayName": "Timestamp Format",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Date Format": {
					"name": "Date Format",
					"displayName": "Date Format",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Pretty Print JSON": {
					"name": "Pretty Print JSON",
					"displayName": "Pretty Print JSON",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"compression-format": {
					"name": "compression-format",
					"displayName": "Compression Format",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Schema Write Strategy": {
					"name": "Schema Write Strategy",
					"displayName": "Schema Write Strategy",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"suppress-nulls": {
					"name": "suppress-nulls",
					"displayName": "Suppress Null Values",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"output-grouping": {
					"name": "output-grouping",
					"displayName": "Output Grouping",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-name": {
					"name": "schema-name",
					"displayName": "Schema Name",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-registry": {
					"name": "schema-registry",
					"displayName": "Schema Registry",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"Time Format": {
					"name": "Time Format",
					"displayName": "Time Format",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-access-strategy": {
					"name": "schema-access-strategy",
					"displayName": "Schema Access Strategy",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-protocol-version": {
					"name": "schema-protocol-version",
					"displayName": "Schema Protocol Version",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-version": {
					"name": "schema-version",
					"displayName": "Schema Version",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-text": {
					"name": "schema-text",
					"displayName": "Schema Text",
					"identifiesControllerService": false,
					"sensitive": false
				}
			},
			"componentType": "CONTROLLER_SERVICE",
			"groupIdentifier": "65150a97-f09b-35b2-bbea-93792ace8dd9"
		}, {
			"identifier": "56f66eaa-3e95-3de2-ae58-4b8371d2a5e0",
			"name": "Enrich- ReverseGeoCodeLookupService",
			"comments": "",
			"type": "org.apache.nifi.lookup.script.ScriptedLookupService",
			"bundle": {
				"group": "org.apache.nifi",
				"artifact": "nifi-scripting-nar",
				"version": "1.13.2.2.2.2.0-127"
			},
			"controllerServiceApis": [{
				"type": "org.apache.nifi.lookup.LookupService",
				"bundle": {
					"group": "org.apache.nifi",
					"artifact": "nifi-standard-services-api-nar",
					"version": "1.13.2.2.2.2.0-127"
				}
			}],
			"properties": {
				"Script File": null,
				"googleApiKey": "AIzaSyA-h19EtKZMbh33QXCWVdaK5gCFfbS-GAk",
				"Script Engine": "Groovy",
				"Script Body": "import org.apache.nifi.controller.ControllerServiceInitializationContext\nimport org.apache.nifi.reporting.InitializationException\n\n\nclass GroovyLookupService implements LookupService<String> {\n\n   def apiKey\n   def log\n    \n   @Override\n    Optional<String> lookup(Map<String,String> coords) {\n      def lat = coords['lat']\n      def lng = coords['lng']\n      def fmt_addr = \"No Address\"\n      Optional.ofNullable(fmt_addr?.toString())\n    }\n\n    @Override\n    Class<?> getValueType() {\n        return String\n    }\n\n    @Override\n    Set<String> getRequiredKeys() {\n      return ['lat','lng'] as Set<String>\n    }\n\n    void setLogger(logger) {\n       log = logger\n    }\n\n    void onEnabled(context) {\n        def googleApiKeyPropertyDescriptor = context.properties.find {k,v -> k.name == 'googleApiKey'}?.key\n        apiKey = context.getProperty(googleApiKeyPropertyDescriptor)?.evaluateAttributeExpressions()?.value\n    }\n\n    @Override\n    void initialize(ControllerServiceInitializationContext context) throws InitializationException {\n\n    }\n\n    @Override\n    Collection<ValidationResult> validate(ValidationContext context) {\n        return null\n    }\n\n    @Override\n    PropertyDescriptor getPropertyDescriptor(String name) {\n        return null\n    }\n\n    @Override\n    void onPropertyModified(PropertyDescriptor descriptor, String oldValue, String newValue) {\n\n    }\n\n    @Override\n    List<PropertyDescriptor> getPropertyDescriptors() {\n        return null\n    }\n\n    @Override\n    String getIdentifier() {\n        return null\n    }\n}\n\nlookupService = new GroovyLookupService()",
				"Module Directory": null
			},
			"propertyDescriptors": {
				"Script File": {
					"name": "Script File",
					"displayName": "Script File",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"googleApiKey": {
					"name": "googleApiKey",
					"displayName": "googleApiKey",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Script Engine": {
					"name": "Script Engine",
					"displayName": "Script Engine",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Script Body": {
					"name": "Script Body",
					"displayName": "Script Body",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Module Directory": {
					"name": "Module Directory",
					"displayName": "Module Directory",
					"identifiesControllerService": false,
					"sensitive": false
				}
			},
			"componentType": "CONTROLLER_SERVICE",
			"groupIdentifier": "65150a97-f09b-35b2-bbea-93792ace8dd9"
		}, {
			"identifier": "8013071b-85f6-3bc7-a545-532fb65654af",
			"name": "GeoTelemetryEnrichedReaderJson",
			"comments": "",
			"type": "org.apache.nifi.json.JsonTreeReader",
			"bundle": {
				"group": "org.apache.nifi",
				"artifact": "nifi-record-serialization-services-nar",
				"version": "1.13.2.2.2.2.0-127"
			},
			"controllerServiceApis": [{
				"type": "org.apache.nifi.serialization.RecordReaderFactory",
				"bundle": {
					"group": "org.apache.nifi",
					"artifact": "nifi-standard-services-api-nar",
					"version": "1.13.2.2.2.2.0-127"
				}
			}],
			"properties": {
				"Timestamp Format": null,
				"schema-inference-cache": null,
				"Date Format": null,
				"schema-branch": null,
				"schema-name": "${schema.name}",
				"schema-registry": null,
				"Time Format": null,
				"schema-access-strategy": "schema-text-property",
				"schema-version": null,
				"schema-text": "#{telemetry.dest.geo.event.schema}"
			},
			"propertyDescriptors": {
				"Timestamp Format": {
					"name": "Timestamp Format",
					"displayName": "Timestamp Format",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-inference-cache": {
					"name": "schema-inference-cache",
					"displayName": "Schema Inference Cache",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"Date Format": {
					"name": "Date Format",
					"displayName": "Date Format",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-branch": {
					"name": "schema-branch",
					"displayName": "Schema Branch",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-name": {
					"name": "schema-name",
					"displayName": "Schema Name",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-registry": {
					"name": "schema-registry",
					"displayName": "Schema Registry",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"Time Format": {
					"name": "Time Format",
					"displayName": "Time Format",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-access-strategy": {
					"name": "schema-access-strategy",
					"displayName": "Schema Access Strategy",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-version": {
					"name": "schema-version",
					"displayName": "Schema Version",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-text": {
					"name": "schema-text",
					"displayName": "Schema Text",
					"identifiesControllerService": false,
					"sensitive": false
				}
			},
			"componentType": "CONTROLLER_SERVICE",
			"groupIdentifier": "65150a97-f09b-35b2-bbea-93792ace8dd9"
		}, {
			"identifier": "89dc0c2e-5b87-375b-860f-959aa75136c6",
			"name": "GeoTelemetryEnrichedWriterJson",
			"comments": "",
			"type": "org.apache.nifi.json.JsonRecordSetWriter",
			"bundle": {
				"group": "org.apache.nifi",
				"artifact": "nifi-record-serialization-services-nar",
				"version": "1.13.2.2.2.2.0-127"
			},
			"controllerServiceApis": [{
				"type": "org.apache.nifi.serialization.RecordSetWriterFactory",
				"bundle": {
					"group": "org.apache.nifi",
					"artifact": "nifi-standard-services-api-nar",
					"version": "1.13.2.2.2.2.0-127"
				}
			}],
			"properties": {
				"schema-branch": null,
				"compression-level": "1",
				"schema-cache": null,
				"Timestamp Format": null,
				"Date Format": null,
				"Pretty Print JSON": "false",
				"compression-format": "none",
				"Schema Write Strategy": "no-schema",
				"suppress-nulls": "never-suppress",
				"output-grouping": "output-array",
				"schema-name": "${schema.name}",
				"schema-registry": null,
				"Time Format": null,
				"schema-access-strategy": "schema-text-property",
				"schema-protocol-version": "1",
				"schema-version": null,
				"schema-text": "#{telemetry.dest.geo.event.schema}"
			},
			"propertyDescriptors": {
				"schema-branch": {
					"name": "schema-branch",
					"displayName": "Schema Branch",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"compression-level": {
					"name": "compression-level",
					"displayName": "Compression Level",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-cache": {
					"name": "schema-cache",
					"displayName": "Schema Cache",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"Timestamp Format": {
					"name": "Timestamp Format",
					"displayName": "Timestamp Format",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Date Format": {
					"name": "Date Format",
					"displayName": "Date Format",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Pretty Print JSON": {
					"name": "Pretty Print JSON",
					"displayName": "Pretty Print JSON",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"compression-format": {
					"name": "compression-format",
					"displayName": "Compression Format",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"Schema Write Strategy": {
					"name": "Schema Write Strategy",
					"displayName": "Schema Write Strategy",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"suppress-nulls": {
					"name": "suppress-nulls",
					"displayName": "Suppress Null Values",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"output-grouping": {
					"name": "output-grouping",
					"displayName": "Output Grouping",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-name": {
					"name": "schema-name",
					"displayName": "Schema Name",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-registry": {
					"name": "schema-registry",
					"displayName": "Schema Registry",
					"identifiesControllerService": true,
					"sensitive": false
				},
				"Time Format": {
					"name": "Time Format",
					"displayName": "Time Format",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-access-strategy": {
					"name": "schema-access-strategy",
					"displayName": "Schema Access Strategy",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-protocol-version": {
					"name": "schema-protocol-version",
					"displayName": "Schema Protocol Version",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-version": {
					"name": "schema-version",
					"displayName": "Schema Version",
					"identifiesControllerService": false,
					"sensitive": false
				},
				"schema-text": {
					"name": "schema-text",
					"displayName": "Schema Text",
					"identifiesControllerService": false,
					"sensitive": false
				}
			},
			"componentType": "CONTROLLER_SERVICE",
			"groupIdentifier": "65150a97-f09b-35b2-bbea-93792ace8dd9"
		}],
		"variables": {},
		"parameterContextName": "TruckSensorS3toS3Processing",
		"flowFileConcurrency": "UNBOUNDED",
		"flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
		"componentType": "PROCESS_GROUP"
	},
	"externalControllerServices": {},
	"parameterContexts": {
		"TruckSensorS3toS3Processing": {
			"name": "TruckSensorS3toS3Processing",
			"parameters": [{
				"name": "telemetry.source.schema",
				"description": "",
				"sensitive": false,
				"value": "{\n\t\"type\": \"record\",\n\t\"namespace\": \"cloudera.cdf.csp.schema.refapp.trucking\",\n\t\"name\": \"TruckEvent\",\n\t\"fields\": [{\n\t\t\t\"name\": \"eventTime\",\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t{\n\t\t\t\"name\": \"eventTimeLong\",\n\t\t\t\"type\": \"long\",\n\t\t\t\"default\": 0\n\t\t},\n\t\t{\n\t\t\t\"name\": \"eventSource\",\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t{\n\t\t\t\"name\": \"truckId\",\n\t\t\t\"type\": \"int\"\n\t\t},\n\t\t{\n\t\t\t\"name\": \"driverId\",\n\t\t\t\"type\": \"int\"\n\t\t},\n\t\t{\n\t\t\t\"name\": \"driverName\",\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t{\n\t\t\t\"name\": \"routeId\",\n\t\t\t\"type\": \"int\"\n\t\t},\n\t\t{\n\t\t\t\"name\": \"route\",\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t{\n\t\t\t\"name\": \"eventType\",\n\t\t\t\"type\": \"string\",\n\t\t\t\"default\": \"None\"\n\t\t},\n\t\t{\n\t\t\t\"name\": \"latitude\",\n\t\t\t\"type\": \"double\",\n\t\t\t\"default\": 0\n\t\t},\n\t\t{\n\t\t\t\"name\": \"longitude\",\n\t\t\t\"type\": \"double\",\n\t\t\t\"default\": 0\n\t\t},\n\t\t{\n\t\t\t\"name\": \"correlationId\",\n\t\t\t\"type\": \"long\",\n\t\t\t\"default\": 0\n\t\t},\n\t\t{\n\t\t\t\"name\": \"speed\",\n\t\t\t\"type\": \"int\",\n\t\t\t\"default\": 0\n\t\t}\n\t]\n}"
			}, {
				"name": "s3.region",
				"description": "",
				"sensitive": false,
				"value": "us-west-2"
			}, {
				"name": "Routing Rule Speed Event",
				"description": "",
				"sensitive": false,
				"value": "SELECT * FROM FLOWFILE where eventSource = 'truck_speed_event'"
			}, {
				"name": "s3.dest.path.geo.event",
				"description": "",
				"sensitive": false,
				"value": "vett-data-lake-1-oregon/vett-naaf/truck-telemetry-processed/truck-geo-events"
			}, {
				"name": "telemetry.dest.geo.event.schema",
				"description": "",
				"sensitive": false,
				"value": "{\n \"type\": \"record\",\n \"namespace\": \"cloudera.cdf.csp.schema.refapp.trucking\",\n \"name\": \"TruckGeoEventEnriched\",\n \"fields\": [\n  {\n   \"name\": \"eventTime\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"eventTimeLong\",\n   \"type\": \"long\",\n   \"default\": 0\n  },\n  {\n   \"name\": \"eventSource\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"truckId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"driverId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"driverName\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"routeId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"route\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"eventType\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"latitude\",\n   \"type\": \"double\"\n  },\n  {\n   \"name\": \"longitude\",\n   \"type\": \"double\"\n  },\n  {\n   \"name\": \"correlationId\",\n   \"type\": \"long\"\n  },\n  {\n   \"name\": \"geoAddress\",\n   \"type\": \"string\",\n   \"default\": \"None\"\n  }\n ]\n}"
			}, {
				"name": "s3.bucket",
				"description": "",
				"sensitive": false,
				"value": "vett-new-pm-cdp-oregon"
			}, {
				"name": "s3.dest.path.speed.event",
				"description": "",
				"sensitive": false,
				"value": "vett-data-lake-1-oregon/vett-naaf/truck-telemetry-processed/truck-speed-events"
			}, {
				"name": "aws.access.key",
				"description": "",
				"sensitive": true
			}, {
				"name": "telemetry.dest.speed.event.schema",
				"description": "",
				"sensitive": false,
				"value": "{\n \"type\": \"record\",\n \"namespace\": \"cloudera.cdf.csp.schema.refapp.trucking\",\n \"name\": \"TruckSpeedEventEnriched\",\n \"fields\": [\n  {\n   \"name\": \"eventTime\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"eventTimeLong\",\n   \"type\": \"long\",\n   \"default\": 0\n  },\n  {\n   \"name\": \"eventSource\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"truckId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"driverId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"driverName\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"routeId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"route\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"speed\",\n   \"type\": \"int\"\n  }\n ]\n}"
			}, {
				"name": "s3.filter.path",
				"description": "",
				"sensitive": false,
				"value": "vett-data-lake-1-oregon/vett-naaf/truck-telemetry-raw/"
			}, {
				"name": "aws.access.password",
				"description": "",
				"sensitive": true
			}, {
				"name": "Routing Rule Geo Event",
				"description": "",
				"sensitive": false,
				"value": "SELECT * FROM FLOWFILE where eventSource = 'truck_geo_event'"
			}]
		}
	},
	"flowEncodingVersion": "1.0"
}