cfm-trucking-nifi/src/main/resources/nifi-flows/DataHub/download-flow/Kafka-to-Impala/DFX-Kafka_CSV-Filter-to-Hive-Streaming.json
{"flowContents":{"identifier":"e1345a5c-06e3-3570-82f5-5efdcf6501f5","name":"DFX-Kafka_CSV-Filter-to-Hive-Streaming","comments":"","position":{"x":1336.0,"y":248.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"e717256a-8b1f-3822-a932-ccfa64e8c1c1","name":"PutHive3Streaming LLAP or ACID","comments":"","position":{"x":832.0,"y":160.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hive3-nar","version":"1.11.4.2.0.6.0-27"},"style":{},"type":"org.apache.nifi.processors.hive.PutHive3Streaming","properties":{"kerberos-credentials-service":null,"hive3-stream-part-vals":null,"hive3-stream-call-timeout":"0","kerberos-password":"#{Hive Service Account Password}","hive3-config-resources":"#{Hive Configuration Resources}","hive3-stream-table-name":"#{Hive Table}","kerberos-principal":"#{Hive Service Account}","record-reader":"b78f4414-29c0-3dbf-b2c2-e8c8c90690bc","rollback-on-failure":"false","hive3-stream-metastore-uri":"#{Hive Metastore URI}","hive3-stream-database-name":"#{Hive Database}","hive3-stream-disable-optimizations":"false"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"hive3-stream-part-vals":{"name":"hive3-stream-part-vals","displayName":"Static Partition Values","identifiesControllerService":false,"sensitive":false},"hive3-stream-call-timeout":{"name":"hive3-stream-call-timeout","displayName":"Call Timeout","identifiesControllerService":false,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"hive3-config-resources":{"name":"hive3-config-resources","displayName":"Hive Configuration Resources","identifiesControllerService":false,"sensitive":false},"hive3-stream-table-name":{"name":"hive3-stream-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"hive3-stream-metastore-uri":{"name":"hive3-stream-metastore-uri","displayName":"Hive Metastore URI","identifiesControllerService":false,"sensitive":false},"hive3-stream-database-name":{"name":"hive3-stream-database-name","displayName":"Database Name","identifiesControllerService":false,"sensitive":false},"hive3-stream-disable-optimizations":{"name":"hive3-stream-disable-optimizations","displayName":"Disable Streaming Optimizations","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e1345a5c-06e3-3570-82f5-5efdcf6501f5"},{"identifier":"04196045-7a26-3256-86b9-b51d1947ac89","name":"Log Event with Hive Failure","comments":"","position":{"x":1368.0,"y":368.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.2.0.6.0-27"},"style":{},"type":"org.apache.nifi.processors.standard.LogAttribute","properties":{"Log prefix":null,"character-set":"UTF-8","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e1345a5c-06e3-3570-82f5-5efdcf6501f5"},{"identifier":"074fd1a3-005b-3a25-a2d0-a614ac30943b","name":"Log Event with Incorrect Schema","comments":"","position":{"x":1456.0,"y":-344.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.2.0.6.0-27"},"style":{},"type":"org.apache.nifi.processors.standard.LogAttribute","properties":{"Log prefix":null,"character-set":"UTF-8","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e1345a5c-06e3-3570-82f5-5efdcf6501f5"},{"identifier":"20945abd-1bd1-3df1-b00d-cdb350ae6489","name":"Filter Events","comments":"","position":{"x":840.0,"y":-64.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.2.0.6.0-27"},"style":{},"type":"org.apache.nifi.processors.standard.QueryRecord","properties":{"cache-schema":"false","filtered_events":"#{Filter Rule}","record-writer":"293883d2-0e7f-3861-bf29-20bbd3c5f98e","record-reader":"b78f4414-29c0-3dbf-b2c2-e8c8c90690bc","include-zero-record-flowfiles":"false"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"filtered_events":{"name":"filtered_events","displayName":"filtered_events","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e1345a5c-06e3-3570-82f5-5efdcf6501f5"},{"identifier":"6d38a72a-e2dd-3f5b-a514-fef987cf78e4","name":"ConsumeKafkaRecord_2_0","comments":"","position":{"x":832.0,"y":-336.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.11.4.2.0.6.0-27"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_0","properties":{"header-name-regex":null,"sasl.username":"#{Kafka Service Account}","max.poll.records":"10000","record-writer":"293883d2-0e7f-3861-bf29-20bbd3c5f98e","group.id":"#{Kafka Consumer Group Id}","bootstrap.servers":"#{Kafka Broker Endpoint}","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"security.protocol":"SASL_SSL","kerberos-credentials-service":null,"ssl.context.service":"c60d8c6b-4909-3ee0-92a5-e580a37e5c94","max-uncommit-offset-wait":"1 secs","sasl.mechanism":"PLAIN","sasl.token.auth":"false","honor-transactions":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"#{Kafka Source Topic}","record-reader":"b78f4414-29c0-3dbf-b2c2-e8c8c90690bc","message-header-encoding":"UTF-8","sasl.password":"#{Kafka Service Account Password}","auto.offset.reset":"latest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e1345a5c-06e3-3570-82f5-5efdcf6501f5"},{"identifier":"c81a1718-e148-3850-9f63-565a33726569","name":"RetryFlowFile","comments":"","position":{"x":856.0,"y":376.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.2.0.6.0-27"},"style":{},"type":"org.apache.nifi.processors.standard.RetryFlowFile","properties":{"penalize-retries":"true","maximum-retries":"3","Fail on Non-numerical Overwrite":"false","reuse-mode":"fail","retry-attribute":"flowfile.retries"},"propertyDescriptors":{"penalize-retries":{"name":"penalize-retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false},"maximum-retries":{"name":"maximum-retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false},"Fail on Non-numerical Overwrite":{"name":"Fail on Non-numerical Overwrite","displayName":"Fail on Non-numerical Overwrite","identifiesControllerService":false,"sensitive":false},"reuse-mode":{"name":"reuse-mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false},"retry-attribute":{"name":"retry-attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e1345a5c-06e3-3570-82f5-5efdcf6501f5"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"ac62222f-4721-3417-a284-96ddca6b44f8","name":"","source":{"id":"c81a1718-e148-3850-9f63-565a33726569","type":"PROCESSOR","groupId":"e1345a5c-06e3-3570-82f5-5efdcf6501f5","name":"RetryFlowFile","comments":""},"destination":{"id":"e717256a-8b1f-3822-a932-ccfa64e8c1c1","type":"PROCESSOR","groupId":"e1345a5c-06e3-3570-82f5-5efdcf6501f5","name":"PutHive3Streaming LLAP or ACID","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":820.0,"y":332.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e1345a5c-06e3-3570-82f5-5efdcf6501f5"},{"identifier":"351764d8-2c52-3c87-b9fb-88ebfc441a8e","name":"","source":{"id":"e717256a-8b1f-3822-a932-ccfa64e8c1c1","type":"PROCESSOR","groupId":"e1345a5c-06e3-3570-82f5-5efdcf6501f5","name":"PutHive3Streaming LLAP or ACID","comments":""},"destination":{"id":"c81a1718-e148-3850-9f63-565a33726569","type":"PROCESSOR","groupId":"e1345a5c-06e3-3570-82f5-5efdcf6501f5","name":"RetryFlowFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e1345a5c-06e3-3570-82f5-5efdcf6501f5"},{"identifier":"1ddc0633-521f-37d6-925d-3c09a25bd768","name":"","source":{"id":"e717256a-8b1f-3822-a932-ccfa64e8c1c1","type":"PROCESSOR","groupId":"e1345a5c-06e3-3570-82f5-5efdcf6501f5","name":"PutHive3Streaming LLAP or ACID","comments":""},"destination":{"id":"e717256a-8b1f-3822-a932-ccfa64e8c1c1","type":"PROCESSOR","groupId":"e1345a5c-06e3-3570-82f5-5efdcf6501f5","name":"PutHive3Streaming LLAP or ACID","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1301.0,"y":199.0},{"x":1301.0,"y":249.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e1345a5c-06e3-3570-82f5-5efdcf6501f5"},{"identifier":"efe47dd5-d5cc-322d-b055-53a3da760c89","name":"","source":{"id":"20945abd-1bd1-3df1-b00d-cdb350ae6489","type":"PROCESSOR","groupId":"e1345a5c-06e3-3570-82f5-5efdcf6501f5","name":"Filter Events","comments":""},"destination":{"id":"e717256a-8b1f-3822-a932-ccfa64e8c1c1","type":"PROCESSOR","groupId":"e1345a5c-06e3-3570-82f5-5efdcf6501f5","name":"PutHive3Streaming LLAP or ACID","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["filtered_events"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e1345a5c-06e3-3570-82f5-5efdcf6501f5"},{"identifier":"0d2cb4f1-5367-3268-95ee-06ff6468471f","name":"","source":{"id":"6d38a72a-e2dd-3f5b-a514-fef987cf78e4","type":"PROCESSOR","groupId":"e1345a5c-06e3-3570-82f5-5efdcf6501f5","name":"ConsumeKafkaRecord_2_0","comments":""},"destination":{"id":"074fd1a3-005b-3a25-a2d0-a614ac30943b","type":"PROCESSOR","groupId":"e1345a5c-06e3-3570-82f5-5efdcf6501f5","name":"Log Event with Incorrect Schema","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["parse.failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e1345a5c-06e3-3570-82f5-5efdcf6501f5"},{"identifier":"3e021f21-d5af-3281-a784-af60126f88c9","name":"","source":{"id":"c81a1718-e148-3850-9f63-565a33726569","type":"PROCESSOR","groupId":"e1345a5c-06e3-3570-82f5-5efdcf6501f5","name":"RetryFlowFile","comments":""},"destination":{"id":"04196045-7a26-3256-86b9-b51d1947ac89","type":"PROCESSOR","groupId":"e1345a5c-06e3-3570-82f5-5efdcf6501f5","name":"Log Event with Hive Failure","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["retries_exceeded"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e1345a5c-06e3-3570-82f5-5efdcf6501f5"},{"identifier":"b7d5e99c-090c-3eb6-a507-bb0136ddedcd","name":"","source":{"id":"6d38a72a-e2dd-3f5b-a514-fef987cf78e4","type":"PROCESSOR","groupId":"e1345a5c-06e3-3570-82f5-5efdcf6501f5","name":"ConsumeKafkaRecord_2_0","comments":""},"destination":{"id":"20945abd-1bd1-3df1-b00d-cdb350ae6489","type":"PROCESSOR","groupId":"e1345a5c-06e3-3570-82f5-5efdcf6501f5","name":"Filter Events","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e1345a5c-06e3-3570-82f5-5efdcf6501f5"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"293883d2-0e7f-3861-bf29-20bbd3c5f98e","name":"CSV Writer","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4.2.0.6.0-27"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.2.0.6.0-27"}}],"properties":{"schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Include Header Line":"false","Value Separator":"|","schema-cache":null,"Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Schema Write Strategy":"no-schema","Null String":null,"Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-text-property","schema-protocol-version":"1","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"#{Source Schema}","Quote Mode":"MINIMAL","Include Trailing Delimiter":"true"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"e1345a5c-06e3-3570-82f5-5efdcf6501f5"},{"identifier":"b78f4414-29c0-3dbf-b2c2-e8c8c90690bc","name":"CSV Reader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4.2.0.6.0-27"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.2.0.6.0-27"}}],"properties":{"ignore-csv-header":"false","schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Value Separator":"#{CSV Seperator}","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-text-property","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"#{Source Schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"e1345a5c-06e3-3570-82f5-5efdcf6501f5"},{"identifier":"c60d8c6b-4909-3ee0-92a5-e580a37e5c94","name":" New NiFi SSL Context Service ","comments":"","type":"org.apache.nifi.ssl.StandardSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.11.4.2.0.6.0-27"},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.2.0.6.0-27"}}],"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":null,"Truststore Filename":"#{CDP Env Truststore File}","Truststore Password":"#{CDP Env Trustore Password}","Keystore Filename":null},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"e1345a5c-06e3-3570-82f5-5efdcf6501f5"}],"variables":{},"parameterContextName":"George-DFX-Kafka_CSV-Filter-to-Hive-Streaming","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"George-DFX-Kafka_CSV-Filter-to-Hive-Streaming":{"name":"George-DFX-Kafka_CSV-Filter-to-Hive-Streaming","parameters":[{"name":"Hive Database","description":"","sensitive":false,"value":"truck_fleet_hive_vw_db"},{"name":"CDP Env Truststore File","description":"The location of the truststore used with the cert required to talk to the Kafka cluster over SSL","sensitive":false,"value":"/var/lib/nifi/gvetticaden_dfx.jks"},{"name":"Hive Configuration Resources","description":"","sensitive":false,"value":"/tmp/core-site.xml,/tmp/hive-site.xml,/tmp/hdfs-site.xml,/tmp/ssl-client.xml"},{"name":"Kafka Service Account Password","description":"The password for the service account","sensitive":true},{"name":"Source Schema","description":"","sensitive":false,"value":"{\n \"type\": \"record\",\n \"namespace\": \"cloudera.cdf.csp.schema.refapp.trucking\",\n \"name\": \"TruckGeoEventEnriched\",\n \"fields\": [\n  {\n   \"name\": \"eventTime\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"eventTimeLong\",\n   \"type\": \"long\",\n   \"default\": 0\n  },\n  {\n   \"name\": \"eventSource\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"truckId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"driverId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"driverName\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"routeId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"route\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"eventType\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"latitude\",\n   \"type\": \"double\"\n  },\n  {\n   \"name\": \"longitude\",\n   \"type\": \"double\"\n  },\n  {\n   \"name\": \"correlationId\",\n   \"type\": \"long\"\n  },\n  {\n   \"name\": \"geoAddress\",\n   \"type\": \"string\",\n   \"default\": \"None\"\n  }\n ]\n}"},{"name":"Filter Rule","description":"","sensitive":false,"value":"SELECT * FROM FLOWFILE where eventSource = 'truck_geo_event'"},{"name":"CSV Seperator","description":"CSV Separator used in the data consumed from source Kafka topic","sensitive":false,"value":"|"},{"name":"Kafka Consumer Group Id","description":"","sensitive":false,"value":"dfx-flow-iot-sensors-consumer-hive"},{"name":"Hive Metastore URI","description":"","sensitive":false,"value":"thrift://vett-pm-data-lake-9-oregon-master0.gvettica.a465-9q4k.cloudera.site:9083"},{"name":"Hive Service Account Password","description":"","sensitive":true},{"name":"Hive Service Account","description":"","sensitive":false,"value":"srv_vett_dfx_hive_service"},{"name":"Kafka Service Account","description":"","sensitive":false,"value":"srv_vett_dfx_kafka_service"},{"name":"Kafka Broker Endpoint","description":"","sensitive":false,"value":"messaging-cluster-1-broker0.gvettica.a465-9q4k.cloudera.site:9093,messaging-cluster-1-broker1.gvettica.a465-9q4k.cloudera.site:9093,messaging-cluster-1-broker2.gvettica.a465-9q4k.cloudera.site:9093"},{"name":"Hive Table","description":"","sensitive":false,"value":"truck_geo_events"},{"name":"Kafka Source Topic","description":"","sensitive":false,"value":"gateway-central-raw-sensors"},{"name":"CDP Env Trustore Password","description":"The password to the Truststore","sensitive":true}]}},"flowEncodingVersion":"1.0"}