cfm-trucking-nifi/src/main/resources/nifi-flows/DataHub/CFM-Trucking-Ref-App-Data-Flow-SECURE-SASL_SSL-DataHub.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template encoding-version="1.3">
    <description/>
    <groupId>aec98561-016d-1000-dfa6-4a3cdd00909b</groupId>
    <name>CFM-Trucking-Ref-App-Data-Flow-SECURE-SASL_SSL-DataHub</name>
    <snippet>
        <controllerServices>
            <id>03420865-e7ed-3c36-0000-000000000000</id>
            <parentGroupId>5650b0f7-8840-3219-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-ssl-context-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0.2.0.0.0-23</version>
            </bundle>
            <comments/>
            <descriptors>
                <entry>
                    <key>Keystore Filename</key>
                    <value>
                        <name>Keystore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                    <value>
                        <name>Keystore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>key-password</key>
                    <value>
                        <name>key-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                    <value>
                        <name>Keystore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>
                        <name>Truststore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                    <value>
                        <name>Truststore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>
                        <name>Truststore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>
                        <name>SSL Protocol</name>
                    </value>
                </entry>
            </descriptors>
            <name>KafkaSSLContextService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Keystore Filename</key>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                </entry>
                <entry>
                    <key>key-password</key>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>/var/lib/cloudera-scm-agent/agent-cert/cm-auto-global_truststore.jks</value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>JKS</value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.ssl.StandardSSLContextService</type>
        </controllerServices>
        <controllerServices>
            <id>2ff28564-862f-338d-0000-000000000000</id>
            <parentGroupId>5650b0f7-8840-3219-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0.2.0.0.0-23</version>
            </bundle>
            <comments/>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>csv-reader-csv-parser</key>
                    <value>
                        <name>csv-reader-csv-parser</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>
                        <name>CSV Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>
                        <name>Value Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Skip Header Line</key>
                    <value>
                        <name>Skip Header Line</name>
                    </value>
                </entry>
                <entry>
                    <key>ignore-csv-header</key>
                    <value>
                        <name>ignore-csv-header</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>
                        <name>Quote Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>
                        <name>Escape Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                    <value>
                        <name>Comment Marker</name>
                    </value>
                </entry>
                <entry>
                    <key>Null String</key>
                    <value>
                        <name>Null String</name>
                    </value>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>
                        <name>Trim Fields</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>
                        <name>csvutils-character-set</name>
                    </value>
                </entry>
            </descriptors>
            <name>CSV Reader - HWX SR Registry</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>4f7a9e7f-9e1c-352e-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>csv-reader-csv-parser</key>
                    <value>commons-csv</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>custom</value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>|</value>
                </entry>
                <entry>
                    <key>Skip Header Line</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>ignore-csv-header</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>&quot;</value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>\</value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                </entry>
                <entry>
                    <key>Null String</key>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>UTF-8</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.csv.CSVReader</type>
        </controllerServices>
        <controllerServices>
            <id>3206c556-422e-3ae3-0000-000000000000</id>
            <parentGroupId>5650b0f7-8840-3219-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0.2.0.0.0-23</version>
            </bundle>
            <comments/>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>
                        <name>cache-size</name>
                    </value>
                </entry>
                <entry>
                    <key>encoder-pool-size</key>
                    <value>
                        <name>encoder-pool-size</name>
                    </value>
                </entry>
            </descriptors>
            <name>Avro Writer - HWX SR Registry - HWX Content Encode</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>hwx-content-encoded-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>4f7a9e7f-9e1c-352e-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>NONE</value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>1000</value>
                </entry>
                <entry>
                    <key>encoder-pool-size</key>
                    <value>32</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.avro.AvroRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>4f7a9e7f-9e1c-352e-0000-000000000000</id>
            <parentGroupId>5650b0f7-8840-3219-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-hwx-schema-registry-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0.2.0.0.0-23</version>
            </bundle>
            <comments/>
            <descriptors>
                <entry>
                    <key>url</key>
                    <value>
                        <name>url</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>
                        <name>cache-size</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-expiration</key>
                    <value>
                        <name>cache-expiration</name>
                    </value>
                </entry>
            </descriptors>
            <name>HWX Schema Registry</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>url</key>
                    <value>http://ec2-18-236-246-247.us-west-2.compute.amazonaws.com:7788/api/v1</value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>1000</value>
                </entry>
                <entry>
                    <key>cache-expiration</key>
                    <value>1 hour</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry</type>
        </controllerServices>
        <controllerServices>
            <id>80b65847-dd29-3b00-0000-000000000000</id>
            <parentGroupId>5650b0f7-8840-3219-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0.2.0.0.0-23</version>
            </bundle>
            <comments/>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>
                        <name>CSV Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>
                        <name>Value Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Include Header Line</key>
                    <value>
                        <name>Include Header Line</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>
                        <name>Quote Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>
                        <name>Escape Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                    <value>
                        <name>Comment Marker</name>
                    </value>
                </entry>
                <entry>
                    <key>Null String</key>
                    <value>
                        <name>Null String</name>
                    </value>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>
                        <name>Trim Fields</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Mode</key>
                    <value>
                        <name>Quote Mode</name>
                    </value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>
                        <name>Record Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Include Trailing Delimiter</key>
                    <value>
                        <name>Include Trailing Delimiter</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>
                        <name>csvutils-character-set</name>
                    </value>
                </entry>
            </descriptors>
            <name>CSV Writer - HWX SR Registry</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>4f7a9e7f-9e1c-352e-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>custom</value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>|</value>
                </entry>
                <entry>
                    <key>Include Header Line</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>&quot;</value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>\</value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                </entry>
                <entry>
                    <key>Null String</key>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>Quote Mode</key>
                    <value>MINIMAL</value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>\n</value>
                </entry>
                <entry>
                    <key>Include Trailing Delimiter</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>UTF-8</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.csv.CSVRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>b6d9082f-3d12-3866-0000-000000000000</id>
            <parentGroupId>5650b0f7-8840-3219-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-scripting-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0.2.0.0.0-23</version>
            </bundle>
            <comments/>
            <descriptors>
                <entry>
                    <key>Script Engine</key>
                    <value>
                        <name>Script Engine</name>
                    </value>
                </entry>
                <entry>
                    <key>Script File</key>
                    <value>
                        <name>Script File</name>
                    </value>
                </entry>
                <entry>
                    <key>Script Body</key>
                    <value>
                        <name>Script Body</name>
                    </value>
                </entry>
                <entry>
                    <key>Module Directory</key>
                    <value>
                        <name>Module Directory</name>
                    </value>
                </entry>
                <entry>
                    <key>googleApiKey</key>
                    <value>
                        <name>googleApiKey</name>
                    </value>
                </entry>
            </descriptors>
            <name>Enrich-  ReverseGeoCodeLookupService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Script Engine</key>
                    <value>Groovy</value>
                </entry>
                <entry>
                    <key>Script File</key>
                </entry>
                <entry>
                    <key>Script Body</key>
                    <value>import org.apache.nifi.controller.ControllerServiceInitializationContext
import org.apache.nifi.reporting.InitializationException


class GroovyLookupService implements LookupService&lt;String&gt; {

   def apiKey
   def log
    
   @Override
    Optional&lt;String&gt; lookup(Map&lt;String,String&gt; coords) {
      def lat = coords[&apos;lat&apos;]
      def lng = coords[&apos;lng&apos;]
      def fmt_addr = (new groovy.json.JsonSlurper()).parseText(
         new URL(&quot;https://maps.googleapis.com/maps/api/geocode/json?latlng=$lat,$lng&amp;key=${apiKey}&quot;).text)
         .results[0]?.formatted_address
      Optional.ofNullable(fmt_addr?.toString())
    }

    @Override
    Class&lt;?&gt; getValueType() {
        return String
    }

    @Override
    Set&lt;String&gt; getRequiredKeys() {
      return [&apos;lat&apos;,&apos;lng&apos;] as Set&lt;String&gt;
    }

    void setLogger(logger) {
       log = logger
    }

    void onEnabled(context) {
        def googleApiKeyPropertyDescriptor = context.properties.find {k,v -&gt; k.name == &apos;googleApiKey&apos;}?.key
        apiKey = context.getProperty(googleApiKeyPropertyDescriptor)?.evaluateAttributeExpressions()?.value
    }

    @Override
    void initialize(ControllerServiceInitializationContext context) throws InitializationException {

    }

    @Override
    Collection&lt;ValidationResult&gt; validate(ValidationContext context) {
        return null
    }

    @Override
    PropertyDescriptor getPropertyDescriptor(String name) {
        return null
    }

    @Override
    void onPropertyModified(PropertyDescriptor descriptor, String oldValue, String newValue) {

    }

    @Override
    List&lt;PropertyDescriptor&gt; getPropertyDescriptors() {
        return null
    }

    @Override
    String getIdentifier() {
        return null
    }
}

lookupService = new GroovyLookupService()</value>
                </entry>
                <entry>
                    <key>Module Directory</key>
                </entry>
                <entry>
                    <key>googleApiKey</key>
                    <value>AIzaSyA-h19EtKZMbh33QXCWVdaK5gCFfbS-GAk</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.lookup.script.ScriptedLookupService</type>
        </controllerServices>
        <controllerServices>
            <id>d5f01436-dc75-35f6-0000-000000000000</id>
            <parentGroupId>5650b0f7-8840-3219-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0.2.0.0.0-23</version>
            </bundle>
            <comments/>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JSON Writer</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>4f7a9e7f-9e1c-352e-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-oneline</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <processGroups>
            <id>9c9a62a3-063b-3e3a-0000-000000000000</id>
            <parentGroupId>5650b0f7-8840-3219-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments/>
            <contents>
                <connections>
                    <id>0775edc7-9b29-3c34-0000-000000000000</id>
                    <parentGroupId>9c9a62a3-063b-3e3a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1306.585205078125</x>
                        <y>804.9893798828125</y>
                    </bends>
                    <destination>
                        <groupId>6d125026-59ac-337e-0000-000000000000</groupId>
                        <id>6c7af36d-665f-3d1d-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <source>
                        <groupId>e481d859-b33b-3b3a-0000-000000000000</groupId>
                        <id>47ddbe28-1bd3-31dd-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3a0cb3be-fdb9-323c-0000-000000000000</id>
                    <parentGroupId>9c9a62a3-063b-3e3a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1093.175353824603</x>
                        <y>787.6484330171636</y>
                    </bends>
                    <bends>
                        <x>1097.0997314453125</x>
                        <y>804.115966796875</y>
                    </bends>
                    <destination>
                        <groupId>6d125026-59ac-337e-0000-000000000000</groupId>
                        <id>14760e67-e5d8-3146-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <source>
                        <groupId>e481d859-b33b-3b3a-0000-000000000000</groupId>
                        <id>28a7f76d-a010-31ed-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9ea46bfe-a988-353d-0000-000000000000</id>
                    <parentGroupId>9c9a62a3-063b-3e3a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>e481d859-b33b-3b3a-0000-000000000000</groupId>
                        <id>758ac935-5567-38f1-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <source>
                        <groupId>ada569c6-7301-341e-0000-000000000000</groupId>
                        <id>83ee1b46-4a30-378d-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <labels>
                    <id>6856dbf5-6092-39d0-0000-000000000000</id>
                    <parentGroupId>9c9a62a3-063b-3e3a-0000-000000000000</parentGroupId>
                    <position>
                        <x>448.944694187682</x>
                        <y>1232.6931984855723</y>
                    </position>
                    <versionedComponentId>2990cf33-f5ff-3b2e-819e-2990ebe6cf68</versionedComponentId>
                    <height>86.7586898803711</height>
                    <label>Serialize CSV into Avro by fetching  Schema 
associated with kafka topic from the HWX Schema REgistry.</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>24px</value>
                        </entry>
                    </style>
                    <width>670.8236083984375</width>
                </labels>
                <labels>
                    <id>f42fdc01-41e9-3cb8-0000-000000000000</id>
                    <parentGroupId>9c9a62a3-063b-3e3a-0000-000000000000</parentGroupId>
                    <position>
                        <x>677.1420108890154</x>
                        <y>611.5015052215506</y>
                    </position>
                    <versionedComponentId>3b8d7fac-e922-3ed2-9377-76ec209def8d</versionedComponentId>
                    <height>87.2624397277832</height>
                    <label>Parse, Route, and 
Enrich the Data</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>24px</value>
                        </entry>
                    </style>
                    <width>218.87269592285156</width>
                </labels>
                <processGroups>
                    <id>6d125026-59ac-337e-0000-000000000000</id>
                    <parentGroupId>9c9a62a3-063b-3e3a-0000-000000000000</parentGroupId>
                    <position>
                        <x>1003.6760335917052</x>
                        <y>863.9685305101505</y>
                    </position>
                    <comments/>
                    <contents>
                        <connections>
                            <id>04fa1d10-f18f-3f6c-0000-000000000000</id>
                            <parentGroupId>6d125026-59ac-337e-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>6d125026-59ac-337e-0000-000000000000</groupId>
<id>1e13542e-53e3-3fbd-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <source>
<groupId>6d125026-59ac-337e-0000-000000000000</groupId>
<id>6c7af36d-665f-3d1d-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>1bd7640e-15dc-326a-0000-000000000000</id>
                            <parentGroupId>6d125026-59ac-337e-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>6d125026-59ac-337e-0000-000000000000</groupId>
<id>a15af8d9-7c56-335d-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <source>
<groupId>6d125026-59ac-337e-0000-000000000000</groupId>
<id>14760e67-e5d8-3146-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a79758c9-1b46-359b-0000-000000000000</id>
                            <parentGroupId>6d125026-59ac-337e-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>6d125026-59ac-337e-0000-000000000000</groupId>
<id>d0546156-ac91-3a7a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <source>
<groupId>6d125026-59ac-337e-0000-000000000000</groupId>
<id>6c7af36d-665f-3d1d-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e87073bf-c8a3-3883-0000-000000000000</id>
                            <parentGroupId>6d125026-59ac-337e-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>6d125026-59ac-337e-0000-000000000000</groupId>
<id>1d73e36e-9966-3573-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <source>
<groupId>6d125026-59ac-337e-0000-000000000000</groupId>
<id>14760e67-e5d8-3146-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>14760e67-e5d8-3146-0000-000000000000</id>
                            <parentGroupId>6d125026-59ac-337e-0000-000000000000</parentGroupId>
                            <position>
<x>362.20532244357037</x>
<y>359.64215833697904</y>
                            </position>
                            <comments/>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Speed Events</name>
                            <state>RUNNING</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <inputPorts>
                            <id>6c7af36d-665f-3d1d-0000-000000000000</id>
                            <parentGroupId>6d125026-59ac-337e-0000-000000000000</parentGroupId>
                            <position>
<x>358.525055109586</x>
<y>-0.8543931766928381</y>
                            </position>
                            <comments/>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Geo-Events</name>
                            <state>RUNNING</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <processors>
                            <id>1d73e36e-9966-3573-0000-000000000000</id>
                            <parentGroupId>6d125026-59ac-337e-0000-000000000000</parentGroupId>
                            <position>
<x>837.8489999283115</x>
<y>450.7888135215612</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-1-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.10.0.2.0.0.0-23</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>
            <name>use-transactions</name>
        </value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
        <value>
            <name>transactional-id-prefix</name>
        </value>
    </entry>
    <entry>
        <key>acks</key>
        <value>
            <name>acks</name>
        </value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
        <value>
            <name>attribute-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>message-key-field</key>
        <value>
            <name>message-key-field</name>
        </value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>
            <name>max.request.size</name>
        </value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>
            <name>ack.wait.time</name>
        </value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>
            <name>max.block.ms</name>
        </value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>
            <name>partitioner.class</name>
        </value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>
            <name>compression.type</name>
        </value>
    </entry>
    <entry>
        <key>client.id</key>
        <value>
            <name>client.id</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>ip-10-10-52-191.cloudera.site:9093,ip-10-10-36-98.cloudera.site:9093,ip-10-10-37-232.cloudera.site:9093</value>
    </entry>
    <entry>
        <key>topic</key>
        <value>syndicate-speed-event-json</value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>2ff28564-862f-338d-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>d5f01436-dc75-35f6-0000-000000000000</value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
    </entry>
    <entry>
        <key>acks</key>
        <value>0</value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>SASL_SSL</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>kafka</value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>srv_truck_data_flow_service@CLOUDERA.SITE</value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>/etc/security/keytabs/srv_truck_data_flow_service.keytab</value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>03420865-e7ed-3c36-0000-000000000000</value>
    </entry>
    <entry>
        <key>message-key-field</key>
        <value>driverId</value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>5 sec</value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>none</value>
    </entry>
    <entry>
        <key>client.id</key>
        <value>nifi-syndicate-speed-json</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Kafka-Truck-Speed-Events-JSON-Spark-Streaming</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_1_0</type>
                        </processors>
                        <processors>
                            <id>1e13542e-53e3-3fbd-0000-000000000000</id>
                            <parentGroupId>6d125026-59ac-337e-0000-000000000000</parentGroupId>
                            <position>
<x>822.8361241879184</x>
<y>55.816064257227936</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-1-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.10.0.2.0.0.0-23</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>
            <name>use-transactions</name>
        </value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
        <value>
            <name>transactional-id-prefix</name>
        </value>
    </entry>
    <entry>
        <key>acks</key>
        <value>
            <name>acks</name>
        </value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
        <value>
            <name>attribute-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>message-key-field</key>
        <value>
            <name>message-key-field</name>
        </value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>
            <name>max.request.size</name>
        </value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>
            <name>ack.wait.time</name>
        </value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>
            <name>max.block.ms</name>
        </value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>
            <name>partitioner.class</name>
        </value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>
            <name>compression.type</name>
        </value>
    </entry>
    <entry>
        <key>client.id</key>
        <value>
            <name>client.id</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>ip-10-10-52-191.cloudera.site:9093,ip-10-10-36-98.cloudera.site:9093,ip-10-10-37-232.cloudera.site:9093</value>
    </entry>
    <entry>
        <key>topic</key>
        <value>syndicate-geo-event-json</value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>2ff28564-862f-338d-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>d5f01436-dc75-35f6-0000-000000000000</value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
    </entry>
    <entry>
        <key>acks</key>
        <value>0</value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>SASL_SSL</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>kafka</value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>srv_truck_data_flow_service@CLOUDERA.SITE</value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>/etc/security/keytabs/srv_truck_data_flow_service.keytab</value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>03420865-e7ed-3c36-0000-000000000000</value>
    </entry>
    <entry>
        <key>message-key-field</key>
        <value>driverId</value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>5 sec</value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>none</value>
    </entry>
    <entry>
        <key>client.id</key>
        <value>nifi-syndicate-geo-json</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Kafka-Truck-Events-JSON-Spark-Streaming</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_1_0</type>
                        </processors>
                        <processors>
                            <id>a15af8d9-7c56-335d-0000-000000000000</id>
                            <parentGroupId>6d125026-59ac-337e-0000-000000000000</parentGroupId>
                            <position>
<x>828.8540483975025</x>
<y>250.12061069710307</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-1-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.10.0.2.0.0.0-23</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>
            <name>use-transactions</name>
        </value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
        <value>
            <name>transactional-id-prefix</name>
        </value>
    </entry>
    <entry>
        <key>acks</key>
        <value>
            <name>acks</name>
        </value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
        <value>
            <name>attribute-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>message-key-field</key>
        <value>
            <name>message-key-field</name>
        </value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>
            <name>max.request.size</name>
        </value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>
            <name>ack.wait.time</name>
        </value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>
            <name>max.block.ms</name>
        </value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>
            <name>partitioner.class</name>
        </value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>
            <name>compression.type</name>
        </value>
    </entry>
    <entry>
        <key>client.id</key>
        <value>
            <name>client.id</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>ip-10-10-52-191.cloudera.site:9093,ip-10-10-36-98.cloudera.site:9093,ip-10-10-37-232.cloudera.site:9093</value>
    </entry>
    <entry>
        <key>topic</key>
        <value>syndicate-speed-event-avro</value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>2ff28564-862f-338d-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>3206c556-422e-3ae3-0000-000000000000</value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
    </entry>
    <entry>
        <key>acks</key>
        <value>all</value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>SASL_SSL</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>kafka</value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>srv_truck_data_flow_service@CLOUDERA.SITE</value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>/etc/security/keytabs/srv_truck_data_flow_service.keytab</value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>03420865-e7ed-3c36-0000-000000000000</value>
    </entry>
    <entry>
        <key>message-key-field</key>
        <value>driverId</value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>5 sec</value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>none</value>
    </entry>
    <entry>
        <key>client.id</key>
        <value>nifi-syndicate-speed-avro</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Kafka-Truck-Speed-Events-Avro-SAM</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_1_0</type>
                        </processors>
                        <processors>
                            <id>d0546156-ac91-3a7a-0000-000000000000</id>
                            <parentGroupId>6d125026-59ac-337e-0000-000000000000</parentGroupId>
                            <position>
<x>829.921360905704</x>
<y>-155.73970344199415</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-1-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.10.0.2.0.0.0-23</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>
            <name>use-transactions</name>
        </value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
        <value>
            <name>transactional-id-prefix</name>
        </value>
    </entry>
    <entry>
        <key>acks</key>
        <value>
            <name>acks</name>
        </value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
        <value>
            <name>attribute-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>message-key-field</key>
        <value>
            <name>message-key-field</name>
        </value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>
            <name>max.request.size</name>
        </value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>
            <name>ack.wait.time</name>
        </value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>
            <name>max.block.ms</name>
        </value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>
            <name>partitioner.class</name>
        </value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>
            <name>compression.type</name>
        </value>
    </entry>
    <entry>
        <key>client.id</key>
        <value>
            <name>client.id</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>ip-10-10-52-191.cloudera.site:9093,ip-10-10-36-98.cloudera.site:9093,ip-10-10-37-232.cloudera.site:9093</value>
    </entry>
    <entry>
        <key>topic</key>
        <value>syndicate-geo-event-avro</value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>2ff28564-862f-338d-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>3206c556-422e-3ae3-0000-000000000000</value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
    </entry>
    <entry>
        <key>acks</key>
        <value>all</value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>SASL_SSL</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>kafka</value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>srv_truck_data_flow_service@CLOUDERA.SITE</value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>/etc/security/keytabs/srv_truck_data_flow_service.keytab</value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>03420865-e7ed-3c36-0000-000000000000</value>
    </entry>
    <entry>
        <key>message-key-field</key>
        <value>driverId</value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>5 sec</value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>none</value>
    </entry>
    <entry>
        <key>client.id</key>
        <value>nifi-syndicate-geo-avro</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Kafka-Truck-Events-Avro-SAM</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_1_0</type>
                        </processors>
                    </contents>
                    <name>Publish Enriched Streams Kafka Syndication Services</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>ada569c6-7301-341e-0000-000000000000</id>
                    <parentGroupId>9c9a62a3-063b-3e3a-0000-000000000000</parentGroupId>
                    <position>
                        <x>1005.0147909870611</x>
                        <y>303.6945000912142</y>
                    </position>
                    <comments/>
                    <contents>
                        <connections>
                            <id>25b006fc-1439-3310-0000-000000000000</id>
                            <parentGroupId>ada569c6-7301-341e-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>ada569c6-7301-341e-0000-000000000000</groupId>
<id>83ee1b46-4a30-378d-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>ada569c6-7301-341e-0000-000000000000</groupId>
<id>22e9b0c5-966b-3aac-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>425c298b-c770-361c-0000-000000000000</id>
                            <parentGroupId>ada569c6-7301-341e-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>ada569c6-7301-341e-0000-000000000000</groupId>
<id>83ee1b46-4a30-378d-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>ada569c6-7301-341e-0000-000000000000</groupId>
<id>ecd1889e-4828-3e49-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c9f08dd1-05e8-3b5f-0000-000000000000</id>
                            <parentGroupId>ada569c6-7301-341e-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>ada569c6-7301-341e-0000-000000000000</groupId>
<id>83ee1b46-4a30-378d-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>ada569c6-7301-341e-0000-000000000000</groupId>
<id>c4afa229-3443-3c51-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <labels>
                            <id>08202823-ad71-378d-0000-000000000000</id>
                            <parentGroupId>ada569c6-7301-341e-0000-000000000000</parentGroupId>
                            <position>
<x>978.7102249561312</x>
<y>95.14911026771847</y>
                            </position>
                            <height>194.44070434570312</height>
                            <label>Upstream app is sending CSV events with schema name in Kafka Message Header.
 
Use ConsumeKafkaRecord do the following
1. Grab the schema name from Kafka Header and store in Attribute called schema.name
2. Use the schema name to look up the Schema in HWX SR
3. Use the schema from HWX SR to convert to ProcessRecords
4. Route events by event source (speed or geo) using SQL
</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>22px</value>
</entry>
                            </style>
                            <width>916.2188110351562</width>
                        </labels>
                        <outputPorts>
                            <id>83ee1b46-4a30-378d-0000-000000000000</id>
                            <parentGroupId>ada569c6-7301-341e-0000-000000000000</parentGroupId>
                            <position>
<x>1378.7101833265508</x>
<y>616.1647067211195</y>
                            </position>
                            <comments/>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Truck Fleet Sensor Streams</name>
                            <state>RUNNING</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>22e9b0c5-966b-3aac-0000-000000000000</id>
                            <parentGroupId>ada569c6-7301-341e-0000-000000000000</parentGroupId>
                            <position>
<x>881.7264404296895</x>
<y>343.8782943512781</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-1-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.10.0.2.0.0.0-23</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>
            <name>topic_type</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>
            <name>honor-transactions</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>
            <name>group.id</name>
        </value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>
            <name>auto.offset.reset</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>
            <name>header-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>
            <name>max.poll.records</name>
        </value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>
            <name>max-uncommit-offset-wait</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>ip-10-10-52-191.cloudera.site:9093,ip-10-10-36-98.cloudera.site:9093,ip-10-10-37-232.cloudera.site:9093</value>
    </entry>
    <entry>
        <key>topic</key>
        <value>gateway-west-raw-sensors</value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>names</value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>2ff28564-862f-338d-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>80b65847-dd29-3b00-0000-000000000000</value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>SASL_SSL</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>kafka</value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>srv_truck_data_flow_service@CLOUDERA.SITE</value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>/etc/security/keytabs/srv_truck_data_flow_service.keytab</value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>03420865-e7ed-3c36-0000-000000000000</value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>nifi-truck-sensors-west</value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>latest</value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>schema.*</value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>1 secs</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>US West Truck Fleet - Kafka Gateway</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>parse.failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_1_0</type>
                        </processors>
                        <processors>
                            <id>c4afa229-3443-3c51-0000-000000000000</id>
                            <parentGroupId>ada569c6-7301-341e-0000-000000000000</parentGroupId>
                            <position>
<x>1729.683349609377</x>
<y>342.8782943512781</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-1-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.10.0.2.0.0.0-23</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>
            <name>topic_type</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>
            <name>honor-transactions</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>
            <name>group.id</name>
        </value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>
            <name>auto.offset.reset</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>
            <name>header-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>
            <name>max.poll.records</name>
        </value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>
            <name>max-uncommit-offset-wait</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>ip-10-10-52-191.cloudera.site:9093,ip-10-10-36-98.cloudera.site:9093,ip-10-10-37-232.cloudera.site:9093</value>
    </entry>
    <entry>
        <key>topic</key>
        <value>gateway-east-raw-sensors</value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>names</value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>2ff28564-862f-338d-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>80b65847-dd29-3b00-0000-000000000000</value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>SASL_SSL</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>kafka</value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>srv_truck_data_flow_service@CLOUDERA.SITE</value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>/etc/security/keytabs/srv_truck_data_flow_service.keytab</value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>03420865-e7ed-3c36-0000-000000000000</value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>nifi-truck-sensors-east</value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>latest</value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>schema.*</value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>1 secs</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>US East Truck Fleet - Kafka Gateway</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>parse.failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_1_0</type>
                        </processors>
                        <processors>
                            <id>ecd1889e-4828-3e49-0000-000000000000</id>
                            <parentGroupId>ada569c6-7301-341e-0000-000000000000</parentGroupId>
                            <position>
<x>1331.683349609377</x>
<y>343.8782943512781</y>
                            </position>
                            <bundle>
<artifact>nifi-kafka-1-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.10.0.2.0.0.0-23</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>
            <name>topic_type</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>
            <name>honor-transactions</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>
            <name>group.id</name>
        </value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>
            <name>auto.offset.reset</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>
            <name>header-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>
            <name>max.poll.records</name>
        </value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>
            <name>max-uncommit-offset-wait</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>ip-10-10-52-191.cloudera.site:9093,ip-10-10-36-98.cloudera.site:9093,ip-10-10-37-232.cloudera.site:9093</value>
    </entry>
    <entry>
        <key>topic</key>
        <value>gateway-central-raw-sensors</value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>names</value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>2ff28564-862f-338d-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>80b65847-dd29-3b00-0000-000000000000</value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>SASL_SSL</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>kafka</value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>srv_truck_data_flow_service@CLOUDERA.SITE</value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>/etc/security/keytabs/srv_truck_data_flow_service.keytab</value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>03420865-e7ed-3c36-0000-000000000000</value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>nifi-truck-sensors-central</value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>latest</value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>schema.*</value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>1 secs</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>US Central Truck Fleet - Kafka Gateway</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>parse.failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_1_0</type>
                        </processors>
                    </contents>
                    <name>Acquire Events from Kafka IOT Gateways</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>e481d859-b33b-3b3a-0000-000000000000</id>
                    <parentGroupId>9c9a62a3-063b-3e3a-0000-000000000000</parentGroupId>
                    <position>
                        <x>1005.6033849950011</x>
                        <y>569.3951690202704</y>
                    </position>
                    <comments/>
                    <contents>
                        <connections>
                            <id>14777671-61e7-353b-0000-000000000000</id>
                            <parentGroupId>e481d859-b33b-3b3a-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e481d859-b33b-3b3a-0000-000000000000</groupId>
<id>94ced2db-3ec4-3d1f-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>e03a7f85-a1ae-3b15-b1ad-0e4f2dc5a63e</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>e481d859-b33b-3b3a-0000-000000000000</groupId>
<id>dc7235b1-f7e8-39cd-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>b9dbb466-7adf-3181-9ce5-9e282359177d</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>24d0bcce-1b32-3125-0000-000000000000</id>
                            <parentGroupId>e481d859-b33b-3b3a-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e481d859-b33b-3b3a-0000-000000000000</groupId>
<id>dc7235b1-f7e8-39cd-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>b9dbb466-7adf-3181-9ce5-9e282359177d</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>truck_geo_event</selectedRelationships>
                            <source>
<groupId>e481d859-b33b-3b3a-0000-000000000000</groupId>
<id>458ad165-2d35-3795-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>8d3cad22-eef6-38e9-0000-000000000000</id>
                            <parentGroupId>e481d859-b33b-3b3a-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e481d859-b33b-3b3a-0000-000000000000</groupId>
<id>28a7f76d-a010-31ed-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>e481d859-b33b-3b3a-0000-000000000000</groupId>
<id>de5dd1ab-bd24-371c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>9fdcd709-2b03-3e3b-0000-000000000000</id>
                            <parentGroupId>e481d859-b33b-3b3a-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e481d859-b33b-3b3a-0000-000000000000</groupId>
<id>de5dd1ab-bd24-371c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>truck_speed_event</selectedRelationships>
                            <source>
<groupId>e481d859-b33b-3b3a-0000-000000000000</groupId>
<id>458ad165-2d35-3795-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c8ff63ce-f9a1-334c-0000-000000000000</id>
                            <parentGroupId>e481d859-b33b-3b3a-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e481d859-b33b-3b3a-0000-000000000000</groupId>
<id>47ddbe28-1bd3-31dd-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>e481d859-b33b-3b3a-0000-000000000000</groupId>
<id>94ced2db-3ec4-3d1f-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>e03a7f85-a1ae-3b15-b1ad-0e4f2dc5a63e</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d399d4e1-d37a-3acf-0000-000000000000</id>
                            <parentGroupId>e481d859-b33b-3b3a-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>e481d859-b33b-3b3a-0000-000000000000</groupId>
<id>458ad165-2d35-3795-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <source>
<groupId>e481d859-b33b-3b3a-0000-000000000000</groupId>
<id>758ac935-5567-38f1-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>758ac935-5567-38f1-0000-000000000000</id>
                            <parentGroupId>e481d859-b33b-3b3a-0000-000000000000</parentGroupId>
                            <position>
<x>1278.0852972487808</x>
<y>390.1481996819724</y>
                            </position>
                            <comments/>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Truck Fleet Sensor Streams</name>
                            <state>RUNNING</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>28a7f76d-a010-31ed-0000-000000000000</id>
                            <parentGroupId>e481d859-b33b-3b3a-0000-000000000000</parentGroupId>
                            <position>
<x>1575.0852972487808</x>
<y>1218.1482301995507</y>
                            </position>
                            <comments/>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Speed Enriched Streams</name>
                            <state>RUNNING</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <outputPorts>
                            <id>47ddbe28-1bd3-31dd-0000-000000000000</id>
                            <parentGroupId>e481d859-b33b-3b3a-0000-000000000000</parentGroupId>
                            <position>
<x>1054.0852972487808</x>
<y>1227.1482301995507</y>
                            </position>
                            <comments/>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Geo Enriched Streams</name>
                            <state>RUNNING</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>458ad165-2d35-3795-0000-000000000000</id>
                            <parentGroupId>e481d859-b33b-3b3a-0000-000000000000</parentGroupId>
                            <position>
<x>1224.0038717554926</x>
<y>508.4203950037886</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.10.0.2.0.0.0-23</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>
            <name>include-zero-record-flowfiles</name>
        </value>
    </entry>
    <entry>
        <key>cache-schema</key>
        <value>
            <name>cache-schema</name>
        </value>
    </entry>
    <entry>
        <key>truck_geo_event</key>
        <value>
            <name>truck_geo_event</name>
        </value>
    </entry>
    <entry>
        <key>truck_speed_event</key>
        <value>
            <name>truck_speed_event</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>2ff28564-862f-338d-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>80b65847-dd29-3b00-0000-000000000000</value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>false</value>
    </entry>
    <entry>
        <key>cache-schema</key>
        <value>false</value>
    </entry>
    <entry>
        <key>truck_geo_event</key>
        <value>SELECT * FROM FLOWFILE where eventSource = &apos;truck_geo_event&apos;</value>
    </entry>
    <entry>
        <key>truck_speed_event</key>
        <value>SELECT * FROM FLOWFILE where eventSource = &apos;truck_speed_event&apos;</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Route Telemetry Events</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>truck_geo_event</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>truck_speed_event</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.QueryRecord</type>
                        </processors>
                        <processors>
                            <id>94ced2db-3ec4-3d1f-0000-000000000000</id>
                            <parentGroupId>e481d859-b33b-3b3a-0000-000000000000</parentGroupId>
                            <position>
<x>1006.0852857448386</x>
<y>972.688521571574</y>
                            </position>
                            <versionedComponentId>e03a7f85-a1ae-3b15-b1ad-0e4f2dc5a63e</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.10.0.2.0.0.0-23</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>lookup-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.lookup.LookupService</identifiesControllerService>
            <name>lookup-service</name>
        </value>
    </entry>
    <entry>
        <key>result-record-path</key>
        <value>
            <name>result-record-path</name>
        </value>
    </entry>
    <entry>
        <key>routing-strategy</key>
        <value>
            <name>routing-strategy</name>
        </value>
    </entry>
    <entry>
        <key>result-contents</key>
        <value>
            <name>result-contents</name>
        </value>
    </entry>
    <entry>
        <key>lat</key>
        <value>
            <name>lat</name>
        </value>
    </entry>
    <entry>
        <key>lng</key>
        <value>
            <name>lng</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>2ff28564-862f-338d-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>80b65847-dd29-3b00-0000-000000000000</value>
    </entry>
    <entry>
        <key>lookup-service</key>
        <value>b6d9082f-3d12-3866-0000-000000000000</value>
    </entry>
    <entry>
        <key>result-record-path</key>
        <value>/geoAddress</value>
    </entry>
    <entry>
        <key>routing-strategy</key>
        <value>route-to-success</value>
    </entry>
    <entry>
        <key>result-contents</key>
        <value>insert-entire-record</value>
    </entry>
    <entry>
        <key>lat</key>
        <value>/latitude</value>
    </entry>
    <entry>
        <key>lng</key>
        <value>/longitude</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ReverseGeoLookup</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LookupRecord</type>
                        </processors>
                        <processors>
                            <id>dc7235b1-f7e8-39cd-0000-000000000000</id>
                            <parentGroupId>e481d859-b33b-3b3a-0000-000000000000</parentGroupId>
                            <position>
<x>1000.5769121052078</x>
<y>742.1326478033814</y>
                            </position>
                            <versionedComponentId>b9dbb466-7adf-3181-9ce5-9e282359177d</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.10.0.2.0.0.0-23</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>schema.name</key>
        <value>
            <name>schema.name</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>schema.name</key>
        <value>truck_events_avro</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Specify Schema</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>de5dd1ab-bd24-371c-0000-000000000000</id>
                            <parentGroupId>e481d859-b33b-3b3a-0000-000000000000</parentGroupId>
                            <position>
<x>1514.9817281477158</x>
<y>729.4647037046028</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.10.0.2.0.0.0-23</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>schema.name</key>
        <value>
            <name>schema.name</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>schema.name</key>
        <value>truck_speed_events_avro</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Specify Schema</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                    </contents>
                    <name>Route, Transform and Enrich</name>
                    <variables/>
                </processGroups>
            </contents>
            <name>IOT Trucking Fleet - Data Flow</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>10/10/2019 04:52:17 UTC</timestamp>
</template>