cfm-trucking-nifi/src/main/resources/nifi-flows/NaaF/aws/POS_S3toSnowFlake_DFDeployment.json
{"flowContents":{"identifier":"8e771144-4ee1-37bb-8267-5f4a6385b98c","instanceIdentifier":"004cda46-0661-357c-a046-d74055ec8249","name":"POS_S3toSnowFlake_DFDeployment","comments":"","position":{"x":672.0,"y":576.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"43254c27-c9ca-3c20-adc7-f974c0816776","instanceIdentifier":"74d43e2e-6c13-3e9f-a45a-60eb90603b67","name":"Deliver to Snowflake Service","comments":"","position":{"x":768.0,"y":632.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.2-1"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":"#{snowflake_schema}","put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"0ce2a6a2-ef9f-3f7e-9bfe-b482acd45c3d","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT","db-type":"Generic","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"#{snowflake_table_geo_event}","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"0","put-db-record-record-reader":"46d4d9be-48b7-3b98-a56c-fd2ffa214c34","Data Record Path":null},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8e771144-4ee1-37bb-8267-5f4a6385b98c"},{"identifier":"9487d7ee-a62f-3230-90c3-d14828701ada","instanceIdentifier":"8be02514-9967-3ebd-838a-12fbee5b0b52","name":"Enrich and Redact POS Data","comments":"","position":{"x":776.0,"y":360.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.2-1"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","lng":"/longitude","result-record-path":"/geoAddress","record-writer":"9f95df30-dad1-33c1-b446-20d66434c923","record-reader":"46d4d9be-48b7-3b98-a56c-fd2ffa214c34","lookup-service":"fc46b995-8ee5-3d9a-85b6-75cf2b8bdad2","record-update-strategy":"use-property","lat":"/latitude"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"lng":{"name":"lng","displayName":"lng","identifiesControllerService":false,"sensitive":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false},"lat":{"name":"lat","displayName":"lat","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8e771144-4ee1-37bb-8267-5f4a6385b98c"},{"identifier":"681d8417-355d-37ac-8ae1-6d25f52c72ea","instanceIdentifier":"be060f05-2850-3a59-b581-a44b947cafc1","name":"ListS3","comments":"","position":{"x":776.0,"y":-296.0},"type":"org.apache.nifi.processors.aws.s3.ListS3","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.16.0.2.2.5.2-1"},"properties":{"Proxy Host":null,"list-type":"1","et-initial-listing-target":"all","Access Key":"#{aws_access_key}","prefix":"#{s3_filter_path}","record-writer":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"et-time-window":"3 hours","requester-pays":"false","listing-strategy":"timestamps","Signer Override":"Default Signature","delimiter":null,"Secret Key":"#{aws_access_password}","min-age":"0 sec","write-s3-user-metadata":"false","AWS Credentials Provider service":null,"Listing Batch Size":"100","SSL Context Service":null,"write-s3-object-tags":"false","Bucket":"#{s3_bucket}","Communications Timeout":"30 secs","Region":"#{s3_region}","Credentials File":null,"et-state-cache":null,"proxy-user-name":null,"Proxy Host Port":null,"use-versions":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"list-type":{"name":"list-type","displayName":"List Type","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"prefix":{"name":"prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"delimiter":{"name":"delimiter","displayName":"Delimiter","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"min-age":{"name":"min-age","displayName":"Minimum Object Age","identifiesControllerService":false,"sensitive":false},"write-s3-user-metadata":{"name":"write-s3-user-metadata","displayName":"Write User Metadata","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Listing Batch Size":{"name":"Listing Batch Size","displayName":"Listing Batch Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"write-s3-object-tags":{"name":"write-s3-object-tags","displayName":"Write Object Tags","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"use-versions":{"name":"use-versions","displayName":"Use Versions","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8e771144-4ee1-37bb-8267-5f4a6385b98c"},{"identifier":"3c88922e-9d87-3a69-83f1-8dd38ac8facd","instanceIdentifier":"94723acf-64a0-3320-af84-7eddd7b3f244","name":"FetchS3Object","comments":"","position":{"x":768.0,"y":-104.0},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.16.0.2.2.5.2-1"},"properties":{"Proxy Host":null,"range-length":null,"Access Key":"#{aws_access_key}","range-start":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"requester-pays":"false","Object Key":"${filename}","AWS Credentials Provider service":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"#{s3_bucket}","Version":null,"Communications Timeout":"30 secs","Region":"#{s3_region}","Secret Key":"#{aws_access_password}","Credentials File":null,"proxy-user-name":null,"Proxy Host Port":null,"encryption-service":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8e771144-4ee1-37bb-8267-5f4a6385b98c"},{"identifier":"da07a2a8-38be-3c69-8a35-40ab232c1b5d","instanceIdentifier":"b71d723c-af22-386d-a1e3-594ac3b15c4c","name":"Route POS Events","comments":"","position":{"x":776.0,"y":112.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.2-1"},"properties":{"cache-schema":"true","dbf-default-precision":"10","truck_speed_event":"#{routing_rule_speed_event}","record-writer":"2a2d2ae9-c9ea-3224-8b6e-10d3729f3749","record-reader":"df13e163-c3de-366c-a212-0c6af9a386a3","include-zero-record-flowfiles":"false","dbf-default-scale":"0","truck_geo_event":"#{routing_rule_geo_event}"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"truck_speed_event":{"name":"truck_speed_event","displayName":"truck_speed_event","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"truck_geo_event":{"name":"truck_geo_event","displayName":"truck_geo_event","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["truck_speed_event","original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8e771144-4ee1-37bb-8267-5f4a6385b98c"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"d3340e2b-1f2a-366e-b123-2145691698f8","instanceIdentifier":"a800db04-122a-3e88-96b4-0b3d8445c9f1","name":"","source":{"id":"681d8417-355d-37ac-8ae1-6d25f52c72ea","type":"PROCESSOR","groupId":"8e771144-4ee1-37bb-8267-5f4a6385b98c","name":"ListS3","comments":"","instanceIdentifier":"be060f05-2850-3a59-b581-a44b947cafc1"},"destination":{"id":"3c88922e-9d87-3a69-83f1-8dd38ac8facd","type":"PROCESSOR","groupId":"8e771144-4ee1-37bb-8267-5f4a6385b98c","name":"FetchS3Object","comments":"","instanceIdentifier":"94723acf-64a0-3320-af84-7eddd7b3f244"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8e771144-4ee1-37bb-8267-5f4a6385b98c"},{"identifier":"70859f25-1c1d-3591-9ecd-fcc84a4178c4","instanceIdentifier":"a26f1dc5-129e-3436-a6cc-67f9b238e409","name":"","source":{"id":"9487d7ee-a62f-3230-90c3-d14828701ada","type":"PROCESSOR","groupId":"8e771144-4ee1-37bb-8267-5f4a6385b98c","name":"Enrich and Redact POS Data","comments":"","instanceIdentifier":"8be02514-9967-3ebd-838a-12fbee5b0b52"},"destination":{"id":"43254c27-c9ca-3c20-adc7-f974c0816776","type":"PROCESSOR","groupId":"8e771144-4ee1-37bb-8267-5f4a6385b98c","name":"Deliver to Snowflake Service","comments":"","instanceIdentifier":"74d43e2e-6c13-3e9f-a45a-60eb90603b67"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8e771144-4ee1-37bb-8267-5f4a6385b98c"},{"identifier":"2c7d2104-1d75-31c2-a4af-f2448ffa3277","instanceIdentifier":"18724799-c380-3389-85a6-612e511a6ffd","name":"","source":{"id":"3c88922e-9d87-3a69-83f1-8dd38ac8facd","type":"PROCESSOR","groupId":"8e771144-4ee1-37bb-8267-5f4a6385b98c","name":"FetchS3Object","comments":"","instanceIdentifier":"94723acf-64a0-3320-af84-7eddd7b3f244"},"destination":{"id":"da07a2a8-38be-3c69-8a35-40ab232c1b5d","type":"PROCESSOR","groupId":"8e771144-4ee1-37bb-8267-5f4a6385b98c","name":"Route POS Events","comments":"","instanceIdentifier":"b71d723c-af22-386d-a1e3-594ac3b15c4c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8e771144-4ee1-37bb-8267-5f4a6385b98c"},{"identifier":"48cdab17-7729-3065-a8eb-1ccaca596ed6","instanceIdentifier":"5b9908ff-54d2-333c-a86d-856dd6d5d8b4","name":"","source":{"id":"da07a2a8-38be-3c69-8a35-40ab232c1b5d","type":"PROCESSOR","groupId":"8e771144-4ee1-37bb-8267-5f4a6385b98c","name":"Route POS Events","comments":"","instanceIdentifier":"b71d723c-af22-386d-a1e3-594ac3b15c4c"},"destination":{"id":"9487d7ee-a62f-3230-90c3-d14828701ada","type":"PROCESSOR","groupId":"8e771144-4ee1-37bb-8267-5f4a6385b98c","name":"Enrich and Redact POS Data","comments":"","instanceIdentifier":"8be02514-9967-3ebd-838a-12fbee5b0b52"},"labelIndex":1,"zIndex":0,"selectedRelationships":["truck_geo_event"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8e771144-4ee1-37bb-8267-5f4a6385b98c"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"46d4d9be-48b7-3b98-a56c-fd2ffa214c34","instanceIdentifier":"82ede700-6c94-33ce-808e-b50f02010792","name":"GeoTelemetryEnrichedReaderJson","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.16.0.2.2.5.2-1"},"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"#{telemetry_dest_geo_event_schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.2-1"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8e771144-4ee1-37bb-8267-5f4a6385b98c"},{"identifier":"dbe09b07-e5f2-3eed-804c-585fbb2ae4a4","instanceIdentifier":"e9a25f67-ea9c-3631-a246-1ec143e3effa","name":"SpeedTelemetryWriterJson","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.16.0.2.2.5.2-1"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-protocol-version":"1","schema-version":null,"schema-text":"#{telemetry_dest_speed_event_schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.2-1"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8e771144-4ee1-37bb-8267-5f4a6385b98c"},{"identifier":"df13e163-c3de-366c-a212-0c6af9a386a3","instanceIdentifier":"b7ee6af6-3d94-3367-be97-7cfe3a10cd03","name":"TruckTelemetryReaderJson","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.16.0.2.2.5.2-1"},"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"#{telemetry_source_schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.2-1"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8e771144-4ee1-37bb-8267-5f4a6385b98c"},{"identifier":"2a2d2ae9-c9ea-3224-8b6e-10d3729f3749","instanceIdentifier":"ef7075d1-d6c9-350f-9441-b582c0b07102","name":"TruckTelemetryWriterJson","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.16.0.2.2.5.2-1"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-protocol-version":"1","schema-version":null,"schema-text":"#{telemetry_source_schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.2-1"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8e771144-4ee1-37bb-8267-5f4a6385b98c"},{"identifier":"0ce2a6a2-ef9f-3f7e-9bfe-b482acd45c3d","instanceIdentifier":"89ba6788-ae14-3559-8f0c-c3cd22b4f912","name":"SnowflakeComputingConnectionPool","comments":"","type":"org.apache.nifi.snowflake.service.SnowflakeComputingConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-snowflake-services-nar","version":"1.16.0.2.2.5.2-1"},"properties":{"dbcp-max-conn-lifetime":"-1","Validation-query":null,"dbcp-min-idle-conns":"0","Database Connection URL":"#{snowflake_url}","Max Wait Time":"500 millis","dbcp-time-between-eviction-runs":"-1","Database User":"#{snowflake_user}","dbcp-min-evictable-idle-time":"30 mins","dbcp-soft-min-evictable-idle-time":"-1","Max Total Connections":"8","dbcp-max-idle-conns":"8","Password":"#{snowflake_password}"},"propertyDescriptors":{"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Snowflake URL","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Snowflake User","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Snowflake Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.2-1"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8e771144-4ee1-37bb-8267-5f4a6385b98c"},{"identifier":"9f95df30-dad1-33c1-b446-20d66434c923","instanceIdentifier":"25c078d8-2d4a-3a9f-8b3e-2c7490c06cda","name":"GeoTelemetryEnrichedWriterJson","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.16.0.2.2.5.2-1"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-protocol-version":"1","schema-version":null,"schema-text":"#{telemetry_dest_geo_event_schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.2-1"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8e771144-4ee1-37bb-8267-5f4a6385b98c"},{"identifier":"5ff0ad6e-a28d-34b8-9404-b20de2bb3bdf","instanceIdentifier":"fc2a6ce4-b913-3d22-8342-767145091a08","name":"SpeedTelemetryReaderJson","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.16.0.2.2.5.2-1"},"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"#{telemetry_dest_speed_event_schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.2-1"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8e771144-4ee1-37bb-8267-5f4a6385b98c"},{"identifier":"fc46b995-8ee5-3d9a-85b6-75cf2b8bdad2","instanceIdentifier":"bf5d747d-de71-32dc-ac82-ed2e057fdd0a","name":"Enrich-  ReverseGeoCodeLookupService 2","comments":"","type":"org.apache.nifi.lookup.script.ScriptedLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.16.0.2.2.5.2-1"},"properties":{"Script File":null,"googleApiKey":"AIzaSyA-h19EtKZMbh33QXCWVdaK5gCFfbS-GAk","Script Engine":"Groovy","Script Body":"import org.apache.nifi.controller.ControllerServiceInitializationContext\nimport org.apache.nifi.reporting.InitializationException\n\n\nclass GroovyLookupService implements LookupService<String> {\n\n   def apiKey\n   def log\n    \n   @Override\n    Optional<String> lookup(Map<String,String> coords) {\n      def lat = coords['lat']\n      def lng = coords['lng']\n      def fmt_addr = \"No Address\"\n      Optional.ofNullable(fmt_addr?.toString())\n    }\n\n    @Override\n    Class<?> getValueType() {\n        return String\n    }\n\n    @Override\n    Set<String> getRequiredKeys() {\n      return ['lat','lng'] as Set<String>\n    }\n\n    void setLogger(logger) {\n       log = logger\n    }\n\n    void onEnabled(context) {\n        def googleApiKeyPropertyDescriptor = context.properties.find {k,v -> k.name == 'googleApiKey'}?.key\n        apiKey = context.getProperty(googleApiKeyPropertyDescriptor)?.evaluateAttributeExpressions()?.value\n    }\n\n    @Override\n    void initialize(ControllerServiceInitializationContext context) throws InitializationException {\n\n    }\n\n    @Override\n    Collection<ValidationResult> validate(ValidationContext context) {\n        return null\n    }\n\n    @Override\n    PropertyDescriptor getPropertyDescriptor(String name) {\n        return null\n    }\n\n    @Override\n    void onPropertyModified(PropertyDescriptor descriptor, String oldValue, String newValue) {\n\n    }\n\n    @Override\n    List<PropertyDescriptor> getPropertyDescriptors() {\n        return null\n    }\n\n    @Override\n    String getIdentifier() {\n        return null\n    }\n}\n\nlookupService = new GroovyLookupService()","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"googleApiKey":{"name":"googleApiKey","displayName":"googleApiKey","identifiesControllerService":false,"sensitive":false},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.2-1"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8e771144-4ee1-37bb-8267-5f4a6385b98c"}],"variables":{},"parameterContextName":"POSS3toSnowflakeProcessing","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"POSS3toSnowflakeProcessing":{"name":"POSS3toSnowflakeProcessing","parameters":[{"name":"routing_rule_geo_event","description":"","sensitive":false,"value":"SELECT * FROM FLOWFILE where eventSource = 'truck_geo_event'"},{"name":"s3_region","description":"","sensitive":false,"value":"us-west-2"},{"name":"snowflake_user","description":"","sensitive":false,"value":"georgevetticaden"},{"name":"s3_bucket","description":"","sensitive":false,"value":"vett-df-deployment-demos"},{"name":"speed_filter","description":"","sensitive":false,"value":"40"},{"name":"snowflake_password","description":"","sensitive":true},{"name":"snowflake_url","description":"","sensitive":false,"value":"jdbc:snowflake://jka09308.snowflakecomputing.com/?db=POINT_OF_SALE_TELEMETRY"},{"name":"aws_access_password","description":"","sensitive":true},{"name":"routing_rule_speed_event","description":"","sensitive":false,"value":"SELECT * FROM FLOWFILE where eventSource = 'truck_speed_event'"},{"name":"aws_access_key","description":"","sensitive":true},{"name":"s3_filter_path","description":"","sensitive":false,"value":"s3-to-snowflake-demo/pos-snowflake-staging/"},{"name":"telemetry_dest_speed_event_schema","description":"","sensitive":false,"value":"{\n \"type\": \"record\",\n \"namespace\": \"cloudera.cdf.csp.schema.refapp.trucking\",\n \"name\": \"TruckSpeedEventEnriched\",\n \"fields\": [\n  {\n   \"name\": \"eventTime\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"eventTimeLong\",\n   \"type\": \"long\",\n   \"default\": 0\n  },\n  {\n   \"name\": \"eventSource\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"truckId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"driverId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"driverName\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"routeId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"route\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"speed\",\n   \"type\": \"int\"\n  }\n ]\n}"},{"name":"telemetry_dest_geo_event_schema","description":"","sensitive":false,"value":"{\n \"type\": \"record\",\n \"namespace\": \"cloudera.cdf.csp.schema.refapp.trucking\",\n \"name\": \"TruckGeoEventEnriched\",\n \"fields\": [\n  {\n   \"name\": \"eventTime\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"eventTimeLong\",\n   \"type\": \"long\",\n   \"default\": 0\n  },\n  {\n   \"name\": \"eventSource\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"truckId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"driverId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"driverName\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"routeId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"route\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"eventType\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"latitude\",\n   \"type\": \"double\"\n  },\n  {\n   \"name\": \"longitude\",\n   \"type\": \"double\"\n  },\n  {\n   \"name\": \"correlationId\",\n   \"type\": \"long\"\n  },\n  {\n   \"name\": \"geoAddress\",\n   \"type\": \"string\",\n   \"default\": \"None\"\n  }\n ]\n}"},{"name":"snowflake_schema","description":"","sensitive":false,"value":"POS_TRUCK_GEO_EVENTS"},{"name":"snowflake_table_geo_event","description":"","sensitive":false,"value":"TRUCK_GEO_EVENTS"},{"name":"telemetry_source_schema","description":"","sensitive":false,"value":"{\n\t\"type\": \"record\",\n\t\"namespace\": \"cloudera.cdf.csp.schema.refapp.trucking\",\n\t\"name\": \"TruckEvent\",\n\t\"fields\": [{\n\t\t\t\"name\": \"eventTime\",\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t{\n\t\t\t\"name\": \"eventTimeLong\",\n\t\t\t\"type\": \"long\",\n\t\t\t\"default\": 0\n\t\t},\n\t\t{\n\t\t\t\"name\": \"eventSource\",\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t{\n\t\t\t\"name\": \"truckId\",\n\t\t\t\"type\": \"int\"\n\t\t},\n\t\t{\n\t\t\t\"name\": \"driverId\",\n\t\t\t\"type\": \"int\"\n\t\t},\n\t\t{\n\t\t\t\"name\": \"driverName\",\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t{\n\t\t\t\"name\": \"routeId\",\n\t\t\t\"type\": \"int\"\n\t\t},\n\t\t{\n\t\t\t\"name\": \"route\",\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t{\n\t\t\t\"name\": \"eventType\",\n\t\t\t\"type\": \"string\",\n\t\t\t\"default\": \"None\"\n\t\t},\n\t\t{\n\t\t\t\"name\": \"latitude\",\n\t\t\t\"type\": \"double\",\n\t\t\t\"default\": 0\n\t\t},\n\t\t{\n\t\t\t\"name\": \"longitude\",\n\t\t\t\"type\": \"double\",\n\t\t\t\"default\": 0\n\t\t},\n\t\t{\n\t\t\t\"name\": \"correlationId\",\n\t\t\t\"type\": \"long\",\n\t\t\t\"default\": 0\n\t\t},\n\t\t{\n\t\t\t\"name\": \"speed\",\n\t\t\t\"type\": \"int\",\n\t\t\t\"default\": 0\n\t\t}\n\t]\n}"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0"}