cfm-trucking-nifi/src/main/resources/nifi-flows/DataHub/template-flow/CFM-Trucking-Ref-App-Data-Flow-DataHub-8-24-20-KafkaNoSSL-LocalRegistry.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template encoding-version="1.3">
    <description/>
    <groupId>e87d2ebb-0173-1000-4568-76dde43c9c65</groupId>
    <name>CFM-Trucking-Ref-App-Data-Flow-DataHub-8-24-20-KafkaNoSSL-LocalRegistry</name>
    <snippet>
        <controllerServices>
            <id>293883d2-0e7f-3861-0000-000000000000</id>
            <parentGroupId>4e3270c3-e084-3a2d-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.11.4.2.0.3.0-13</version>
            </bundle>
            <comments/>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>
                        <name>CSV Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>
                        <name>Value Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Include Header Line</key>
                    <value>
                        <name>Include Header Line</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>
                        <name>Quote Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>
                        <name>Escape Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                    <value>
                        <name>Comment Marker</name>
                    </value>
                </entry>
                <entry>
                    <key>Null String</key>
                    <value>
                        <name>Null String</name>
                    </value>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>
                        <name>Trim Fields</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Mode</key>
                    <value>
                        <name>Quote Mode</name>
                    </value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>
                        <name>Record Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Include Trailing Delimiter</key>
                    <value>
                        <name>Include Trailing Delimiter</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>
                        <name>csvutils-character-set</name>
                    </value>
                </entry>
            </descriptors>
            <name>CSV Writer - HWX SR Registry</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>9d47282b-22be-326f-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>custom</value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>|</value>
                </entry>
                <entry>
                    <key>Include Header Line</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>&quot;</value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>\</value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                </entry>
                <entry>
                    <key>Null String</key>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>Quote Mode</key>
                    <value>MINIMAL</value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>\n</value>
                </entry>
                <entry>
                    <key>Include Trailing Delimiter</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>UTF-8</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.csv.CSVRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>9d47282b-22be-326f-0000-000000000000</id>
            <parentGroupId>4e3270c3-e084-3a2d-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-registry-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.11.4.2.0.3.0-13</version>
            </bundle>
            <comments/>
            <descriptors>
                <entry>
                    <key>avro-reg-validated-field-names</key>
                    <value>
                        <name>avro-reg-validated-field-names</name>
                    </value>
                </entry>
                <entry>
                    <key>raw-truck_events_avro</key>
                    <value>
                        <name>raw-truck_events_avro</name>
                    </value>
                </entry>
                <entry>
                    <key>raw-truck_speed_events_avro</key>
                    <value>
                        <name>raw-truck_speed_events_avro</name>
                    </value>
                </entry>
                <entry>
                    <key>truck_events_avro</key>
                    <value>
                        <name>truck_events_avro</name>
                    </value>
                </entry>
                <entry>
                    <key>truck_speed_events_avro</key>
                    <value>
                        <name>truck_speed_events_avro</name>
                    </value>
                </entry>
            </descriptors>
            <name>AvroSchemaRegistry</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>avro-reg-validated-field-names</key>
                </entry>
                <entry>
                    <key>raw-truck_events_avro</key>
                    <value>{
 &quot;type&quot;: &quot;record&quot;,
 &quot;namespace&quot;: &quot;cloudera.cdf.csp.schema.refapp.trucking&quot;,
 &quot;name&quot;: &quot;TruckGeoEvent&quot;,
 &quot;fields&quot;: [
  {
   &quot;name&quot;: &quot;eventTime&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;eventTimeLong&quot;,
   &quot;type&quot;: &quot;long&quot;,
   &quot;default&quot;: 0
  },
  {
   &quot;name&quot;: &quot;eventSource&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;truckId&quot;,
   &quot;type&quot;: &quot;int&quot;
  },
  {
   &quot;name&quot;: &quot;driverId&quot;,
   &quot;type&quot;: &quot;int&quot;
  },
  {
   &quot;name&quot;: &quot;driverName&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;routeId&quot;,
   &quot;type&quot;: &quot;int&quot;
  },
  {
   &quot;name&quot;: &quot;route&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;eventType&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;latitude&quot;,
   &quot;type&quot;: &quot;double&quot;
  },
  {
   &quot;name&quot;: &quot;longitude&quot;,
   &quot;type&quot;: &quot;double&quot;
  },
  {
   &quot;name&quot;: &quot;correlationId&quot;,
   &quot;type&quot;: &quot;long&quot;
  }
 ]
}</value>
                </entry>
                <entry>
                    <key>raw-truck_speed_events_avro</key>
                    <value>{
 &quot;type&quot;: &quot;record&quot;,
 &quot;namespace&quot;: &quot;cloudera.cdf.csp.schema.refapp.trucking&quot;,
 &quot;name&quot;: &quot;TruckSpeedEvent&quot;,
 &quot;fields&quot;: [
  {
   &quot;name&quot;: &quot;eventTime&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;eventTimeLong&quot;,
   &quot;type&quot;: &quot;long&quot;,
   &quot;default&quot;: 0
  },
  {
   &quot;name&quot;: &quot;eventSource&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;truckId&quot;,
   &quot;type&quot;: &quot;int&quot;
  },
  {
   &quot;name&quot;: &quot;driverId&quot;,
   &quot;type&quot;: &quot;int&quot;
  },
  {
   &quot;name&quot;: &quot;driverName&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;routeId&quot;,
   &quot;type&quot;: &quot;int&quot;
  },
  {
   &quot;name&quot;: &quot;route&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;speed&quot;,
   &quot;type&quot;: &quot;int&quot;
  }
 ]
}</value>
                </entry>
                <entry>
                    <key>truck_events_avro</key>
                    <value>{
 &quot;type&quot;: &quot;record&quot;,
 &quot;namespace&quot;: &quot;cloudera.cdf.csp.schema.refapp.trucking&quot;,
 &quot;name&quot;: &quot;TruckGeoEventEnriched&quot;,
 &quot;fields&quot;: [
  {
   &quot;name&quot;: &quot;eventTime&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;eventTimeLong&quot;,
   &quot;type&quot;: &quot;long&quot;,
   &quot;default&quot;: 0
  },
  {
   &quot;name&quot;: &quot;eventSource&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;truckId&quot;,
   &quot;type&quot;: &quot;int&quot;
  },
  {
   &quot;name&quot;: &quot;driverId&quot;,
   &quot;type&quot;: &quot;int&quot;
  },
  {
   &quot;name&quot;: &quot;driverName&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;routeId&quot;,
   &quot;type&quot;: &quot;int&quot;
  },
  {
   &quot;name&quot;: &quot;route&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;eventType&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;latitude&quot;,
   &quot;type&quot;: &quot;double&quot;
  },
  {
   &quot;name&quot;: &quot;longitude&quot;,
   &quot;type&quot;: &quot;double&quot;
  },
  {
   &quot;name&quot;: &quot;correlationId&quot;,
   &quot;type&quot;: &quot;long&quot;
  },
  {
   &quot;name&quot;: &quot;geoAddress&quot;,
   &quot;type&quot;: &quot;string&quot;,
   &quot;default&quot;: &quot;None&quot;
  }
 ]
}
</value>
                </entry>
                <entry>
                    <key>truck_speed_events_avro</key>
                    <value>{
 &quot;type&quot;: &quot;record&quot;,
 &quot;namespace&quot;: &quot;cloudera.cdf.csp.schema.refapp.trucking&quot;,
 &quot;name&quot;: &quot;TruckSpeedEventEnriched&quot;,
 &quot;fields&quot;: [
  {
   &quot;name&quot;: &quot;eventTime&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;eventTimeLong&quot;,
   &quot;type&quot;: &quot;long&quot;,
   &quot;default&quot;: 0
  },
  {
   &quot;name&quot;: &quot;eventSource&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;truckId&quot;,
   &quot;type&quot;: &quot;int&quot;
  },
  {
   &quot;name&quot;: &quot;driverId&quot;,
   &quot;type&quot;: &quot;int&quot;
  },
  {
   &quot;name&quot;: &quot;driverName&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;routeId&quot;,
   &quot;type&quot;: &quot;int&quot;
  },
  {
   &quot;name&quot;: &quot;route&quot;,
   &quot;type&quot;: &quot;string&quot;
  },
  {
   &quot;name&quot;: &quot;speed&quot;,
   &quot;type&quot;: &quot;int&quot;
  }
 ]
}
</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.schemaregistry.services.AvroSchemaRegistry</type>
        </controllerServices>
        <controllerServices>
            <id>b78f4414-29c0-3dbf-0000-000000000000</id>
            <parentGroupId>4e3270c3-e084-3a2d-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.11.4.2.0.3.0-13</version>
            </bundle>
            <comments/>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>csv-reader-csv-parser</key>
                    <value>
                        <name>csv-reader-csv-parser</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>
                        <name>CSV Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>
                        <name>Value Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Skip Header Line</key>
                    <value>
                        <name>Skip Header Line</name>
                    </value>
                </entry>
                <entry>
                    <key>ignore-csv-header</key>
                    <value>
                        <name>ignore-csv-header</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>
                        <name>Quote Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>
                        <name>Escape Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                    <value>
                        <name>Comment Marker</name>
                    </value>
                </entry>
                <entry>
                    <key>Null String</key>
                    <value>
                        <name>Null String</name>
                    </value>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>
                        <name>Trim Fields</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>
                        <name>csvutils-character-set</name>
                    </value>
                </entry>
            </descriptors>
            <name>CSV Reader - HWX SR Registry</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>9d47282b-22be-326f-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>csv-reader-csv-parser</key>
                    <value>commons-csv</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>custom</value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>|</value>
                </entry>
                <entry>
                    <key>Skip Header Line</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>ignore-csv-header</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>&quot;</value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>\</value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                </entry>
                <entry>
                    <key>Null String</key>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>UTF-8</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.csv.CSVReader</type>
        </controllerServices>
        <controllerServices>
            <id>ca40d3ad-7e02-39b7-0000-000000000000</id>
            <parentGroupId>4e3270c3-e084-3a2d-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.11.4.2.0.3.0-13</version>
            </bundle>
            <comments/>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JSON Writer</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>9d47282b-22be-326f-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-oneline</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>e808ab19-cbc5-3211-0000-000000000000</id>
            <parentGroupId>4e3270c3-e084-3a2d-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-scripting-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.11.4.2.0.3.0-13</version>
            </bundle>
            <comments/>
            <descriptors>
                <entry>
                    <key>Script Engine</key>
                    <value>
                        <name>Script Engine</name>
                    </value>
                </entry>
                <entry>
                    <key>Script File</key>
                    <value>
                        <name>Script File</name>
                    </value>
                </entry>
                <entry>
                    <key>Script Body</key>
                    <value>
                        <name>Script Body</name>
                    </value>
                </entry>
                <entry>
                    <key>Module Directory</key>
                    <value>
                        <name>Module Directory</name>
                    </value>
                </entry>
                <entry>
                    <key>googleApiKey</key>
                    <value>
                        <name>googleApiKey</name>
                    </value>
                </entry>
            </descriptors>
            <name>Enrich-  ReverseGeoCodeLookupService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Script Engine</key>
                    <value>Groovy</value>
                </entry>
                <entry>
                    <key>Script File</key>
                </entry>
                <entry>
                    <key>Script Body</key>
                    <value>import org.apache.nifi.controller.ControllerServiceInitializationContext
import org.apache.nifi.reporting.InitializationException


class GroovyLookupService implements LookupService&lt;String&gt; {

   def apiKey
   def log
    
   @Override
    Optional&lt;String&gt; lookup(Map&lt;String,String&gt; coords) {
      def lat = coords[&apos;lat&apos;]
      def lng = coords[&apos;lng&apos;]
      def fmt_addr = &quot;No Address&quot;
      Optional.ofNullable(fmt_addr?.toString())
    }

    @Override
    Class&lt;?&gt; getValueType() {
        return String
    }

    @Override
    Set&lt;String&gt; getRequiredKeys() {
      return [&apos;lat&apos;,&apos;lng&apos;] as Set&lt;String&gt;
    }

    void setLogger(logger) {
       log = logger
    }

    void onEnabled(context) {
        def googleApiKeyPropertyDescriptor = context.properties.find {k,v -&gt; k.name == &apos;googleApiKey&apos;}?.key
        apiKey = context.getProperty(googleApiKeyPropertyDescriptor)?.evaluateAttributeExpressions()?.value
    }

    @Override
    void initialize(ControllerServiceInitializationContext context) throws InitializationException {

    }

    @Override
    Collection&lt;ValidationResult&gt; validate(ValidationContext context) {
        return null
    }

    @Override
    PropertyDescriptor getPropertyDescriptor(String name) {
        return null
    }

    @Override
    void onPropertyModified(PropertyDescriptor descriptor, String oldValue, String newValue) {

    }

    @Override
    List&lt;PropertyDescriptor&gt; getPropertyDescriptors() {
        return null
    }

    @Override
    String getIdentifier() {
        return null
    }
}

lookupService = new GroovyLookupService()</value>
                </entry>
                <entry>
                    <key>Module Directory</key>
                </entry>
                <entry>
                    <key>googleApiKey</key>
                    <value>AIzaSyA-h19EtKZMbh33QXCWVdaK5gCFfbS-GAk</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.lookup.script.ScriptedLookupService</type>
        </controllerServices>
        <processGroups>
            <id>a8b30665-cd23-3c34-0000-000000000000</id>
            <parentGroupId>4e3270c3-e084-3a2d-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>a8b30665-cd23-3c34-8e16-1aa92671242e</versionedComponentId>
            <comments/>
            <contents>
                <connections>
                    <id>428b5f13-6dfe-35e9-0000-000000000000</id>
                    <parentGroupId>a8b30665-cd23-3c34-0000-000000000000</parentGroupId>
                    <versionedComponentId>45105880-7797-3173-afda-1ae317eac45d</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1093.175353824603</x>
                        <y>787.6484330171636</y>
                    </bends>
                    <bends>
                        <x>1097.0997314453125</x>
                        <y>804.115966796875</y>
                    </bends>
                    <destination>
                        <groupId>1cbcbdd2-7d58-3e9e-0000-000000000000</groupId>
                        <id>e651cdaa-6541-368f-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>951a6b2d-784f-3038-b542-04d5adaef699</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <source>
                        <groupId>7bdc823f-4d92-3e7e-0000-000000000000</groupId>
                        <id>226e78ef-da58-35f3-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>935f95f2-e65d-3f27-9867-7c28a6936da2</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>431a1378-6562-3fee-0000-000000000000</id>
                    <parentGroupId>a8b30665-cd23-3c34-0000-000000000000</parentGroupId>
                    <versionedComponentId>1c1a72e1-e957-3078-bad4-ccb9cb6d083a</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1306.585205078125</x>
                        <y>804.9893798828125</y>
                    </bends>
                    <destination>
                        <groupId>1cbcbdd2-7d58-3e9e-0000-000000000000</groupId>
                        <id>b5a87a0b-96c3-31c1-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>4e806b4a-378b-342f-8a31-44efec3cdc08</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <source>
                        <groupId>7bdc823f-4d92-3e7e-0000-000000000000</groupId>
                        <id>2bf7bf8f-47d6-3330-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>e1afdb05-3ca0-3688-9354-72d2a830f673</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>71b9714c-3d4c-36ad-0000-000000000000</id>
                    <parentGroupId>a8b30665-cd23-3c34-0000-000000000000</parentGroupId>
                    <versionedComponentId>453824ef-e696-3a27-bac4-858ddb1e731f</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>7bdc823f-4d92-3e7e-0000-000000000000</groupId>
                        <id>681ee073-3f31-35a8-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>21b5df7b-74c0-399b-9869-caf7e0ac9a06</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute/>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name/>
                    <source>
                        <groupId>0753adf9-f52a-3fd1-0000-000000000000</groupId>
                        <id>b8aa1cdb-31bf-33ce-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>d9f17718-5994-33da-b15e-d1191c2bffca</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <labels>
                    <id>0d24b0e4-609c-35d8-0000-000000000000</id>
                    <parentGroupId>a8b30665-cd23-3c34-0000-000000000000</parentGroupId>
                    <position>
                        <x>1440.0</x>
                        <y>896.0</y>
                    </position>
                    <versionedComponentId>d5da4321-3eb1-3314-b375-8f098266c89e</versionedComponentId>
                    <height>152.0</height>
                    <label>Send normalized enriched data to downstream Kafka &quot;Syndication&quot; Topics.
 
Use Schema Registry to serialize from CSV into Avro before sending 
to Kafka by fetching  Schema associated with Kafka topic 
from  Schema Registry.</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>24px</value>
                        </entry>
                    </style>
                    <width>824.0</width>
                </labels>
                <labels>
                    <id>52b5eaeb-edc1-3da6-0000-000000000000</id>
                    <parentGroupId>a8b30665-cd23-3c34-0000-000000000000</parentGroupId>
                    <position>
                        <x>1440.0</x>
                        <y>344.0</y>
                    </position>
                    <versionedComponentId>3b8d7fac-e922-3ed2-9377-76ec209def8d</versionedComponentId>
                    <height>64.0</height>
                    <label>Ingest Data Streams from Kafka Gateway Topics</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>24px</value>
                        </entry>
                    </style>
                    <width>544.0</width>
                </labels>
                <labels>
                    <id>d1a128fb-3d4d-362f-0000-000000000000</id>
                    <parentGroupId>a8b30665-cd23-3c34-0000-000000000000</parentGroupId>
                    <position>
                        <x>1432.0</x>
                        <y>592.0</y>
                    </position>
                    <versionedComponentId>57f18601-eea2-3959-9e30-cb4d7018efd0</versionedComponentId>
                    <height>112.0</height>
                    <label>Parse, Route, Transform, Enrich the Data.
 
Use Schema Registry to project schema make transformations easier</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>24px</value>
                        </entry>
                    </style>
                    <width>776.0</width>
                </labels>
                <processGroups>
                    <id>0753adf9-f52a-3fd1-0000-000000000000</id>
                    <parentGroupId>a8b30665-cd23-3c34-0000-000000000000</parentGroupId>
                    <position>
                        <x>1005.0147909870611</x>
                        <y>303.6945000912142</y>
                    </position>
                    <versionedComponentId>ca66f224-cc09-360a-8403-6e8d4bd1a3f4</versionedComponentId>
                    <comments/>
                    <contents>
                        <connections>
                            <id>3082b8a6-7e49-337b-0000-000000000000</id>
                            <parentGroupId>0753adf9-f52a-3fd1-0000-000000000000</parentGroupId>
                            <versionedComponentId>922a5a78-f622-3f40-8cf3-b7a329c6fa85</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0753adf9-f52a-3fd1-0000-000000000000</groupId>
<id>b8aa1cdb-31bf-33ce-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>d9f17718-5994-33da-b15e-d1191c2bffca</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>0753adf9-f52a-3fd1-0000-000000000000</groupId>
<id>20711f65-d8ab-30c9-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>0b4d2155-b5ae-375a-9c68-18366cc4cbf1</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>455fabf5-7af1-3c50-0000-000000000000</id>
                            <parentGroupId>0753adf9-f52a-3fd1-0000-000000000000</parentGroupId>
                            <versionedComponentId>02ed2851-932b-3c6d-827c-bebabb317c07</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0753adf9-f52a-3fd1-0000-000000000000</groupId>
<id>b8aa1cdb-31bf-33ce-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>d9f17718-5994-33da-b15e-d1191c2bffca</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>0753adf9-f52a-3fd1-0000-000000000000</groupId>
<id>055d1394-533f-3c50-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>b9eef8fd-649f-3549-861c-eed3101eed9c</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>fa686442-b2b6-3b98-0000-000000000000</id>
                            <parentGroupId>0753adf9-f52a-3fd1-0000-000000000000</parentGroupId>
                            <versionedComponentId>9cc7e0ad-0e8a-32c0-80bb-1ddfacad8e31</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0753adf9-f52a-3fd1-0000-000000000000</groupId>
<id>b8aa1cdb-31bf-33ce-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>d9f17718-5994-33da-b15e-d1191c2bffca</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>0753adf9-f52a-3fd1-0000-000000000000</groupId>
<id>9b08a62a-a6a3-369b-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f8f37dc8-7560-3c62-bdbd-1b98084871e1</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <labels>
                            <id>20247737-ba38-3ea2-0000-000000000000</id>
                            <parentGroupId>0753adf9-f52a-3fd1-0000-000000000000</parentGroupId>
                            <position>
<x>1008.0</x>
<y>96.0</y>
                            </position>
                            <versionedComponentId>a3fbb023-dadc-3d4e-a04d-4d360b22625f</versionedComponentId>
                            <height>194.44070434570312</height>
                            <label>Upstream app is sending CSV events with schema name in Kafka Message Header.
 
Use ConsumeKafkaRecord do the following
1. Grab the schema name from Kafka Header and store in Attribute called schema.name
2. Use the schema name to look up the Schema in HWX SR
3. Use the schema from HWX SR to convert to ProcessRecords
4. Route events by event source (speed or geo) using SQL
</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>22px</value>
</entry>
                            </style>
                            <width>916.2188110351562</width>
                        </labels>
                        <outputPorts>
                            <id>b8aa1cdb-31bf-33ce-0000-000000000000</id>
                            <parentGroupId>0753adf9-f52a-3fd1-0000-000000000000</parentGroupId>
                            <position>
<x>1528.0</x>
<y>664.0</y>
                            </position>
                            <versionedComponentId>d9f17718-5994-33da-b15e-d1191c2bffca</versionedComponentId>
                            <comments/>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Truck Fleet Sensor Streams</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>055d1394-533f-3c50-0000-000000000000</id>
                            <parentGroupId>0753adf9-f52a-3fd1-0000-000000000000</parentGroupId>
                            <position>
<x>1792.0</x>
<y>336.0</y>
                            </position>
                            <versionedComponentId>b9eef8fd-649f-3549-861c-eed3101eed9c</versionedComponentId>
                            <bundle>
<artifact>nifi-kafka-2-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.4.2.0.3.0-13</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>
            <name>topic_type</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>
            <name>honor-transactions</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>
            <name>sasl.mechanism</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>
            <name>sasl.username</name>
        </value>
    </entry>
    <entry>
        <key>sasl.password</key>
        <value>
            <name>sasl.password</name>
        </value>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>
            <name>sasl.token.auth</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>
            <name>group.id</name>
        </value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>
            <name>auto.offset.reset</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>
            <name>header-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>
            <name>max.poll.records</name>
        </value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>
            <name>max-uncommit-offset-wait</name>
        </value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>
            <name>Communications Timeout</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>#{Kafka Broker Endpoint}</value>
    </entry>
    <entry>
        <key>topic</key>
        <value>gateway-east-raw-sensors</value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>names</value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>b78f4414-29c0-3dbf-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>293883d2-0e7f-3861-0000-000000000000</value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>SASL_PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>PLAIN</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>#{Truck App Service Account}</value>
    </entry>
    <entry>
        <key>sasl.password</key>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>false</value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>group.id</key>
        <value>nifi-truck-sensors-east</value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>latest</value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>schema.*</value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>1 secs</value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>60 secs</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>US East Truck Fleet - Kafka Gateway</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>parse.failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_0</type>
                        </processors>
                        <processors>
                            <id>20711f65-d8ab-30c9-0000-000000000000</id>
                            <parentGroupId>0753adf9-f52a-3fd1-0000-000000000000</parentGroupId>
                            <position>
<x>880.0</x>
<y>336.0</y>
                            </position>
                            <versionedComponentId>0b4d2155-b5ae-375a-9c68-18366cc4cbf1</versionedComponentId>
                            <bundle>
<artifact>nifi-kafka-2-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.4.2.0.3.0-13</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>
            <name>topic_type</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>
            <name>honor-transactions</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>
            <name>sasl.mechanism</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>
            <name>sasl.username</name>
        </value>
    </entry>
    <entry>
        <key>sasl.password</key>
        <value>
            <name>sasl.password</name>
        </value>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>
            <name>sasl.token.auth</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>
            <name>group.id</name>
        </value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>
            <name>auto.offset.reset</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>
            <name>header-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>
            <name>max.poll.records</name>
        </value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>
            <name>max-uncommit-offset-wait</name>
        </value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>
            <name>Communications Timeout</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>#{Kafka Broker Endpoint}</value>
    </entry>
    <entry>
        <key>topic</key>
        <value>gateway-west-raw-sensors</value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>names</value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>b78f4414-29c0-3dbf-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>293883d2-0e7f-3861-0000-000000000000</value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>SASL_PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>PLAIN</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>#{Truck App Service Account}</value>
    </entry>
    <entry>
        <key>sasl.password</key>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>false</value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>group.id</key>
        <value>nifi-truck-sensors-west</value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>latest</value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>schema.*</value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>1 secs</value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>60 secs</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>US West Truck Fleet - Kafka Gateway </name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>parse.failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_0</type>
                        </processors>
                        <processors>
                            <id>9b08a62a-a6a3-369b-0000-000000000000</id>
                            <parentGroupId>0753adf9-f52a-3fd1-0000-000000000000</parentGroupId>
                            <position>
<x>1312.0</x>
<y>336.0</y>
                            </position>
                            <versionedComponentId>f8f37dc8-7560-3c62-bdbd-1b98084871e1</versionedComponentId>
                            <bundle>
<artifact>nifi-kafka-2-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.4.2.0.3.0-13</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>
            <name>topic_type</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>
            <name>honor-transactions</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>
            <name>sasl.mechanism</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>
            <name>sasl.username</name>
        </value>
    </entry>
    <entry>
        <key>sasl.password</key>
        <value>
            <name>sasl.password</name>
        </value>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>
            <name>sasl.token.auth</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>group.id</key>
        <value>
            <name>group.id</name>
        </value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>
            <name>auto.offset.reset</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>
            <name>header-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>
            <name>max.poll.records</name>
        </value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>
            <name>max-uncommit-offset-wait</name>
        </value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>
            <name>Communications Timeout</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>#{Kafka Broker Endpoint}</value>
    </entry>
    <entry>
        <key>topic</key>
        <value>gateway-central-raw-sensors</value>
    </entry>
    <entry>
        <key>topic_type</key>
        <value>names</value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>b78f4414-29c0-3dbf-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>293883d2-0e7f-3861-0000-000000000000</value>
    </entry>
    <entry>
        <key>honor-transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>SASL_PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>PLAIN</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>#{Truck App Service Account}</value>
    </entry>
    <entry>
        <key>sasl.password</key>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>false</value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>group.id</key>
        <value>nifi-truck-sensors-central</value>
    </entry>
    <entry>
        <key>auto.offset.reset</key>
        <value>latest</value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>header-name-regex</key>
        <value>schema.*</value>
    </entry>
    <entry>
        <key>max.poll.records</key>
        <value>10000</value>
    </entry>
    <entry>
        <key>max-uncommit-offset-wait</key>
        <value>1 secs</value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>60 secs</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>US Central Truck Fleet - Kafka Gateway</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>parse.failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_0</type>
                        </processors>
                    </contents>
                    <name>Acquire Events from Kafka IOT Gateways</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>1cbcbdd2-7d58-3e9e-0000-000000000000</id>
                    <parentGroupId>a8b30665-cd23-3c34-0000-000000000000</parentGroupId>
                    <position>
                        <x>1000.0</x>
                        <y>904.0</y>
                    </position>
                    <versionedComponentId>d74c351d-a71f-3264-935c-e6d1008fac0d</versionedComponentId>
                    <comments/>
                    <contents>
                        <connections>
                            <id>1c1d4028-4257-31fd-0000-000000000000</id>
                            <parentGroupId>1cbcbdd2-7d58-3e9e-0000-000000000000</parentGroupId>
                            <versionedComponentId>bacc336a-f62c-329d-b8f3-7634987c5501</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>1cbcbdd2-7d58-3e9e-0000-000000000000</groupId>
<id>0e55bab9-fb1d-39b4-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>564571ab-b5ea-35eb-aa83-e2c2b7b94320</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <source>
<groupId>1cbcbdd2-7d58-3e9e-0000-000000000000</groupId>
<id>b5a87a0b-96c3-31c1-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>4e806b4a-378b-342f-8a31-44efec3cdc08</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>1e39742a-5af4-35e6-0000-000000000000</id>
                            <parentGroupId>1cbcbdd2-7d58-3e9e-0000-000000000000</parentGroupId>
                            <versionedComponentId>588e73c8-3bd1-3614-9bb1-40e1f6b0764b</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>1cbcbdd2-7d58-3e9e-0000-000000000000</groupId>
<id>7f1ca86c-da4e-3241-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>eee3f3f4-33ce-3424-8d6e-b6acb9ee4d3c</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <source>
<groupId>1cbcbdd2-7d58-3e9e-0000-000000000000</groupId>
<id>e651cdaa-6541-368f-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>951a6b2d-784f-3038-b542-04d5adaef699</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>b5a87a0b-96c3-31c1-0000-000000000000</id>
                            <parentGroupId>1cbcbdd2-7d58-3e9e-0000-000000000000</parentGroupId>
                            <position>
<x>358.525055109586</x>
<y>-0.8543931766928381</y>
                            </position>
                            <versionedComponentId>4e806b4a-378b-342f-8a31-44efec3cdc08</versionedComponentId>
                            <comments/>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Geo-Events</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <inputPorts>
                            <id>e651cdaa-6541-368f-0000-000000000000</id>
                            <parentGroupId>1cbcbdd2-7d58-3e9e-0000-000000000000</parentGroupId>
                            <position>
<x>362.20532244357037</x>
<y>359.64215833697904</y>
                            </position>
                            <versionedComponentId>951a6b2d-784f-3038-b542-04d5adaef699</versionedComponentId>
                            <comments/>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Speed Events</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <processors>
                            <id>0e55bab9-fb1d-39b4-0000-000000000000</id>
                            <parentGroupId>1cbcbdd2-7d58-3e9e-0000-000000000000</parentGroupId>
                            <position>
<x>840.0</x>
<y>-72.0</y>
                            </position>
                            <versionedComponentId>564571ab-b5ea-35eb-aa83-e2c2b7b94320</versionedComponentId>
                            <bundle>
<artifact>nifi-kafka-2-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.4.2.0.3.0-13</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>
            <name>use-transactions</name>
        </value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
        <value>
            <name>transactional-id-prefix</name>
        </value>
    </entry>
    <entry>
        <key>acks</key>
        <value>
            <name>acks</name>
        </value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
        <value>
            <name>attribute-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>
            <name>sasl.mechanism</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>
            <name>sasl.username</name>
        </value>
    </entry>
    <entry>
        <key>sasl.password</key>
        <value>
            <name>sasl.password</name>
        </value>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>
            <name>sasl.token.auth</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>message-key-field</key>
        <value>
            <name>message-key-field</name>
        </value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>
            <name>max.request.size</name>
        </value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>
            <name>ack.wait.time</name>
        </value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>
            <name>max.block.ms</name>
        </value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>
            <name>partitioner.class</name>
        </value>
    </entry>
    <entry>
        <key>partition</key>
        <value>
            <name>partition</name>
        </value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>
            <name>compression.type</name>
        </value>
    </entry>
    <entry>
        <key>client.id</key>
        <value>
            <name>client.id</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>#{Kafka Broker Endpoint}</value>
    </entry>
    <entry>
        <key>topic</key>
        <value>syndicate-geo-event-json</value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>b78f4414-29c0-3dbf-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>ca40d3ad-7e02-39b7-0000-000000000000</value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
    </entry>
    <entry>
        <key>acks</key>
        <value>all</value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>SASL_PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>PLAIN</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>#{Truck App Service Account}</value>
    </entry>
    <entry>
        <key>sasl.password</key>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>false</value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>message-key-field</key>
        <value>driverid</value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>5 sec</value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
    </entry>
    <entry>
        <key>partition</key>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>none</value>
    </entry>
    <entry>
        <key>client.id</key>
        <value>nifi-syndicate-geo-json</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Kafka-Truck-Events-JSON-Spark-Streaming</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0</type>
                        </processors>
                        <processors>
                            <id>7f1ca86c-da4e-3241-0000-000000000000</id>
                            <parentGroupId>1cbcbdd2-7d58-3e9e-0000-000000000000</parentGroupId>
                            <position>
<x>864.0</x>
<y>328.0</y>
                            </position>
                            <versionedComponentId>eee3f3f4-33ce-3424-8d6e-b6acb9ee4d3c</versionedComponentId>
                            <bundle>
<artifact>nifi-kafka-2-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.4.2.0.3.0-13</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>
            <name>use-transactions</name>
        </value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
        <value>
            <name>transactional-id-prefix</name>
        </value>
    </entry>
    <entry>
        <key>acks</key>
        <value>
            <name>acks</name>
        </value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
        <value>
            <name>attribute-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>
            <name>sasl.mechanism</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>
            <name>sasl.username</name>
        </value>
    </entry>
    <entry>
        <key>sasl.password</key>
        <value>
            <name>sasl.password</name>
        </value>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>
            <name>sasl.token.auth</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>message-key-field</key>
        <value>
            <name>message-key-field</name>
        </value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>
            <name>max.request.size</name>
        </value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>
            <name>ack.wait.time</name>
        </value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>
            <name>max.block.ms</name>
        </value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>
            <name>partitioner.class</name>
        </value>
    </entry>
    <entry>
        <key>partition</key>
        <value>
            <name>partition</name>
        </value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>
            <name>compression.type</name>
        </value>
    </entry>
    <entry>
        <key>client.id</key>
        <value>
            <name>client.id</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>#{Kafka Broker Endpoint}</value>
    </entry>
    <entry>
        <key>topic</key>
        <value>syndicate-speed-event-json</value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>b78f4414-29c0-3dbf-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>ca40d3ad-7e02-39b7-0000-000000000000</value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
    </entry>
    <entry>
        <key>acks</key>
        <value>all</value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>SASL_PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>PLAIN</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>#{Truck App Service Account}</value>
    </entry>
    <entry>
        <key>sasl.password</key>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>false</value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>message-key-field</key>
        <value>driverid</value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>5 sec</value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
    </entry>
    <entry>
        <key>partition</key>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>none</value>
    </entry>
    <entry>
        <key>client.id</key>
        <value>nifi-syndicate-speed-json</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Kafka-Truck-Speed-Events-JSON-Spark-Streaming</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0</type>
                        </processors>
                    </contents>
                    <name>Publish Enriched Streams Kafka Syndication Services</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>7bdc823f-4d92-3e7e-0000-000000000000</id>
                    <parentGroupId>a8b30665-cd23-3c34-0000-000000000000</parentGroupId>
                    <position>
                        <x>1005.6033849950011</x>
                        <y>569.3951690202704</y>
                    </position>
                    <versionedComponentId>d97250de-7d6a-3e1e-9b26-4263fa932911</versionedComponentId>
                    <comments/>
                    <contents>
                        <connections>
                            <id>16d33977-143c-3d7d-0000-000000000000</id>
                            <parentGroupId>7bdc823f-4d92-3e7e-0000-000000000000</parentGroupId>
                            <versionedComponentId>de518970-1732-3644-a64a-d2f31cc33953</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>7bdc823f-4d92-3e7e-0000-000000000000</groupId>
<id>ed675bb7-c966-39d8-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>2938156d-8172-3c2a-a387-d963a2c5afe1</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>truck_speed_event</selectedRelationships>
                            <source>
<groupId>7bdc823f-4d92-3e7e-0000-000000000000</groupId>
<id>0d8527bc-5300-38b7-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>fefd994f-9dba-3a14-b1a0-0fd4cffe3946</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>283eae62-4b20-3954-0000-000000000000</id>
                            <parentGroupId>7bdc823f-4d92-3e7e-0000-000000000000</parentGroupId>
                            <versionedComponentId>476e905c-44dd-30ae-a8f8-a589a1acd7fb</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>7bdc823f-4d92-3e7e-0000-000000000000</groupId>
<id>1c39b32f-0c42-3366-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>b9dbb466-7adf-3181-9ce5-9e282359177d</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>truck_geo_event</selectedRelationships>
                            <source>
<groupId>7bdc823f-4d92-3e7e-0000-000000000000</groupId>
<id>0d8527bc-5300-38b7-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>fefd994f-9dba-3a14-b1a0-0fd4cffe3946</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>4fe6db19-3c34-344f-0000-000000000000</id>
                            <parentGroupId>7bdc823f-4d92-3e7e-0000-000000000000</parentGroupId>
                            <versionedComponentId>a4f7034a-be06-3baa-8cbe-15b6026ddf59</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>7bdc823f-4d92-3e7e-0000-000000000000</groupId>
<id>2bf7bf8f-47d6-3330-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>e1afdb05-3ca0-3688-9354-72d2a830f673</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>7bdc823f-4d92-3e7e-0000-000000000000</groupId>
<id>933c265c-5487-3537-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>e03a7f85-a1ae-3b15-b1ad-0e4f2dc5a63e</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>660052e2-6f32-3285-0000-000000000000</id>
                            <parentGroupId>7bdc823f-4d92-3e7e-0000-000000000000</parentGroupId>
                            <versionedComponentId>67fb785e-3049-3b3a-8a94-c2c06cf28245</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>7bdc823f-4d92-3e7e-0000-000000000000</groupId>
<id>933c265c-5487-3537-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>e03a7f85-a1ae-3b15-b1ad-0e4f2dc5a63e</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>7bdc823f-4d92-3e7e-0000-000000000000</groupId>
<id>1c39b32f-0c42-3366-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>b9dbb466-7adf-3181-9ce5-9e282359177d</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c72e8704-beae-3031-0000-000000000000</id>
                            <parentGroupId>7bdc823f-4d92-3e7e-0000-000000000000</parentGroupId>
                            <versionedComponentId>acc2e29e-81e6-3287-b8b5-a153a6a2a8c3</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>7bdc823f-4d92-3e7e-0000-000000000000</groupId>
<id>0d8527bc-5300-38b7-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>fefd994f-9dba-3a14-b1a0-0fd4cffe3946</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <source>
<groupId>7bdc823f-4d92-3e7e-0000-000000000000</groupId>
<id>681ee073-3f31-35a8-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>21b5df7b-74c0-399b-9869-caf7e0ac9a06</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>cf7ac6bd-364f-3787-0000-000000000000</id>
                            <parentGroupId>7bdc823f-4d92-3e7e-0000-000000000000</parentGroupId>
                            <versionedComponentId>406a3150-b2ce-3f43-ba8a-2f62afb0f44d</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>7bdc823f-4d92-3e7e-0000-000000000000</groupId>
<id>226e78ef-da58-35f3-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>935f95f2-e65d-3f27-9867-7c28a6936da2</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute/>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name/>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>7bdc823f-4d92-3e7e-0000-000000000000</groupId>
<id>ed675bb7-c966-39d8-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>2938156d-8172-3c2a-a387-d963a2c5afe1</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>681ee073-3f31-35a8-0000-000000000000</id>
                            <parentGroupId>7bdc823f-4d92-3e7e-0000-000000000000</parentGroupId>
                            <position>
<x>1278.0852972487808</x>
<y>390.1481996819724</y>
                            </position>
                            <versionedComponentId>21b5df7b-74c0-399b-9869-caf7e0ac9a06</versionedComponentId>
                            <comments/>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Truck Fleet Sensor Streams</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>226e78ef-da58-35f3-0000-000000000000</id>
                            <parentGroupId>7bdc823f-4d92-3e7e-0000-000000000000</parentGroupId>
                            <position>
<x>1575.0852972487808</x>
<y>1218.1482301995507</y>
                            </position>
                            <versionedComponentId>935f95f2-e65d-3f27-9867-7c28a6936da2</versionedComponentId>
                            <comments/>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Speed Enriched Streams</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <outputPorts>
                            <id>2bf7bf8f-47d6-3330-0000-000000000000</id>
                            <parentGroupId>7bdc823f-4d92-3e7e-0000-000000000000</parentGroupId>
                            <position>
<x>1054.0852972487808</x>
<y>1227.1482301995507</y>
                            </position>
                            <versionedComponentId>e1afdb05-3ca0-3688-9354-72d2a830f673</versionedComponentId>
                            <comments/>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Geo Enriched Streams</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>0d8527bc-5300-38b7-0000-000000000000</id>
                            <parentGroupId>7bdc823f-4d92-3e7e-0000-000000000000</parentGroupId>
                            <position>
<x>1224.0038717554926</x>
<y>508.4203950037886</y>
                            </position>
                            <versionedComponentId>fefd994f-9dba-3a14-b1a0-0fd4cffe3946</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.4.2.0.3.0-13</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>
            <name>include-zero-record-flowfiles</name>
        </value>
    </entry>
    <entry>
        <key>cache-schema</key>
        <value>
            <name>cache-schema</name>
        </value>
    </entry>
    <entry>
        <key>truck_geo_event</key>
        <value>
            <name>truck_geo_event</name>
        </value>
    </entry>
    <entry>
        <key>truck_speed_event</key>
        <value>
            <name>truck_speed_event</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>b78f4414-29c0-3dbf-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>293883d2-0e7f-3861-0000-000000000000</value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>false</value>
    </entry>
    <entry>
        <key>cache-schema</key>
        <value>false</value>
    </entry>
    <entry>
        <key>truck_geo_event</key>
        <value>SELECT * FROM FLOWFILE where eventSource = &apos;truck_geo_event&apos;</value>
    </entry>
    <entry>
        <key>truck_speed_event</key>
        <value>SELECT * FROM FLOWFILE where eventSource = &apos;truck_speed_event&apos;</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Route Telemetry Events</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>truck_geo_event</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>truck_speed_event</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.QueryRecord</type>
                        </processors>
                        <processors>
                            <id>1c39b32f-0c42-3366-0000-000000000000</id>
                            <parentGroupId>7bdc823f-4d92-3e7e-0000-000000000000</parentGroupId>
                            <position>
<x>1000.5769121052078</x>
<y>742.1326478033814</y>
                            </position>
                            <versionedComponentId>b9dbb466-7adf-3181-9ce5-9e282359177d</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.4.2.0.3.0-13</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>schema.name</key>
        <value>
            <name>schema.name</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>schema.name</key>
        <value>truck_events_avro</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Specify Schema</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>933c265c-5487-3537-0000-000000000000</id>
                            <parentGroupId>7bdc823f-4d92-3e7e-0000-000000000000</parentGroupId>
                            <position>
<x>1006.0852857448386</x>
<y>972.688521571574</y>
                            </position>
                            <versionedComponentId>e03a7f85-a1ae-3b15-b1ad-0e4f2dc5a63e</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.4.2.0.3.0-13</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>lookup-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.lookup.LookupService</identifiesControllerService>
            <name>lookup-service</name>
        </value>
    </entry>
    <entry>
        <key>result-record-path</key>
        <value>
            <name>result-record-path</name>
        </value>
    </entry>
    <entry>
        <key>routing-strategy</key>
        <value>
            <name>routing-strategy</name>
        </value>
    </entry>
    <entry>
        <key>result-contents</key>
        <value>
            <name>result-contents</name>
        </value>
    </entry>
    <entry>
        <key>record-update-strategy</key>
        <value>
            <name>record-update-strategy</name>
        </value>
    </entry>
    <entry>
        <key>lat</key>
        <value>
            <name>lat</name>
        </value>
    </entry>
    <entry>
        <key>lng</key>
        <value>
            <name>lng</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>b78f4414-29c0-3dbf-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>293883d2-0e7f-3861-0000-000000000000</value>
    </entry>
    <entry>
        <key>lookup-service</key>
        <value>e808ab19-cbc5-3211-0000-000000000000</value>
    </entry>
    <entry>
        <key>result-record-path</key>
        <value>/geoAddress</value>
    </entry>
    <entry>
        <key>routing-strategy</key>
        <value>route-to-success</value>
    </entry>
    <entry>
        <key>result-contents</key>
        <value>insert-entire-record</value>
    </entry>
    <entry>
        <key>record-update-strategy</key>
        <value>use-property</value>
    </entry>
    <entry>
        <key>lat</key>
        <value>/latitude</value>
    </entry>
    <entry>
        <key>lng</key>
        <value>/longitude</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ReverseGeoLookup</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LookupRecord</type>
                        </processors>
                        <processors>
                            <id>ed675bb7-c966-39d8-0000-000000000000</id>
                            <parentGroupId>7bdc823f-4d92-3e7e-0000-000000000000</parentGroupId>
                            <position>
<x>1514.9817281477158</x>
<y>729.4647037046028</y>
                            </position>
                            <versionedComponentId>2938156d-8172-3c2a-a387-d963a2c5afe1</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.11.4.2.0.3.0-13</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments/>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>schema.name</key>
        <value>
            <name>schema.name</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>schema.name</key>
        <value>truck_speed_events_avro</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Specify Schema</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                    </contents>
                    <name>Route, Transform and Enrich</name>
                    <variables/>
                </processGroups>
            </contents>
            <name>IOT Trucking Fleet - Data Flow</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>08/25/2020 02:53:15 UTC</timestamp>
</template>