cfm-trucking-nifi/src/main/resources/nifi-flows/DataHub/download-flow/DFX-Trucking-Ref-App-Data-Flow-DataHub-8-25-20-KafkaNoSSL-LocalRegistry.json
{
	"flowContents":{
		"identifier":"67f7ac05-ec89-3319-bd1c-5c83e149327d",
		"name":"NiFi Flow",
		"comments":"",
		"position":{
			"x":0.0,
			"y":0.0
		},
		"processGroups":[
			
		],
		"remoteProcessGroups":[
			
		],
		"processors":[
			{
				"identifier":"2edeab05-9b59-31f0-beb2-71f23a20d125",
				"name":"Specify Schema",
				"comments":"",
				"position":{
					"x":756.9680065917969,
					"y":338.0999853515626
				},
				"bundle":{
					"group":"org.apache.nifi",
					"artifact":"nifi-update-attribute-nar",
					"version":"1.10.0.2.0.2.0-70"
				},
				"style":{
					
				},
				"type":"org.apache.nifi.processors.attributes.UpdateAttribute",
				"properties":{
					"Delete Attributes Expression":null,
					"Store State":"Do not store state",
					"canonical-value-lookup-cache-size":"100",
					"schema.name":"truck_speed_events_avro",
					"Stateful Variables Initial Value":null
				},
				"propertyDescriptors":{
					"Delete Attributes Expression":{
						"name":"Delete Attributes Expression",
						"displayName":"Delete Attributes Expression",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"Store State":{
						"name":"Store State",
						"displayName":"Store State",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"canonical-value-lookup-cache-size":{
						"name":"canonical-value-lookup-cache-size",
						"displayName":"Cache Value Lookup Cache Size",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"schema.name":{
						"name":"schema.name",
						"displayName":"schema.name",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"Stateful Variables Initial Value":{
						"name":"Stateful Variables Initial Value",
						"displayName":"Stateful Variables Initial Value",
						"identifiesControllerService":false,
						"sensitive":false
					}
				},
				"schedulingPeriod":"0 sec",
				"schedulingStrategy":"TIMER_DRIVEN",
				"executionNode":"ALL",
				"penaltyDuration":"30 sec",
				"yieldDuration":"1 sec",
				"bulletinLevel":"WARN",
				"runDurationMillis":0,
				"concurrentlySchedulableTaskCount":1,
				"autoTerminatedRelationships":[
					
				],
				"scheduledState":"ENABLED",
				"componentType":"PROCESSOR",
				"groupIdentifier":"67f7ac05-ec89-3319-bd1c-5c83e149327d"
			},
			{
				"identifier":"94551b4c-4bd4-3b59-a416-979a93fffd57",
				"name":"ReverseGeoLookup",
				"comments":"",
				"position":{
					"x":180.96800659179684,
					"y":546.0999853515626
				},
				"bundle":{
					"group":"org.apache.nifi",
					"artifact":"nifi-standard-nar",
					"version":"1.10.0.2.0.2.0-70"
				},
				"style":{
					
				},
				"type":"org.apache.nifi.processors.standard.LookupRecord",
				"properties":{
					"result-contents":"insert-entire-record",
					"routing-strategy":"route-to-success",
					"lng":"/longitude",
					"result-record-path":"/geoAddress",
					"record-writer":"293883d2-0e7f-3861-bf29-20bbd3c5f98e",
					"record-reader":"b78f4414-29c0-3dbf-b2c2-e8c8c90690bc",
					"lookup-service":"e808ab19-cbc5-3211-9d1a-43dbd6b92f37",
					"record-update-strategy":"use-property",
					"lat":"/latitude"
				},
				"propertyDescriptors":{
					"result-contents":{
						"name":"result-contents",
						"displayName":"Record Result Contents",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"routing-strategy":{
						"name":"routing-strategy",
						"displayName":"Routing Strategy",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"lng":{
						"name":"lng",
						"displayName":"lng",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"result-record-path":{
						"name":"result-record-path",
						"displayName":"Result RecordPath",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"record-writer":{
						"name":"record-writer",
						"displayName":"Record Writer",
						"identifiesControllerService":true,
						"sensitive":false
					},
					"record-reader":{
						"name":"record-reader",
						"displayName":"Record Reader",
						"identifiesControllerService":true,
						"sensitive":false
					},
					"lookup-service":{
						"name":"lookup-service",
						"displayName":"Lookup Service",
						"identifiesControllerService":true,
						"sensitive":false
					},
					"record-update-strategy":{
						"name":"record-update-strategy",
						"displayName":"Record Update Strategy",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"lat":{
						"name":"lat",
						"displayName":"lat",
						"identifiesControllerService":false,
						"sensitive":false
					}
				},
				"schedulingPeriod":"0 sec",
				"schedulingStrategy":"TIMER_DRIVEN",
				"executionNode":"ALL",
				"penaltyDuration":"30 sec",
				"yieldDuration":"1 sec",
				"bulletinLevel":"WARN",
				"runDurationMillis":0,
				"concurrentlySchedulableTaskCount":1,
				"autoTerminatedRelationships":[
					"failure"
				],
				"scheduledState":"ENABLED",
				"componentType":"PROCESSOR",
				"groupIdentifier":"67f7ac05-ec89-3319-bd1c-5c83e149327d"
			},
			{
				"identifier":"0e0b760e-2561-3236-bb8e-4742878d2d25",
				"name":"Specify Schema",
				"comments":"",
				"position":{
					"x":180.96800659179684,
					"y":330.0999853515626
				},
				"bundle":{
					"group":"org.apache.nifi",
					"artifact":"nifi-update-attribute-nar",
					"version":"1.10.0.2.0.2.0-70"
				},
				"style":{
					
				},
				"type":"org.apache.nifi.processors.attributes.UpdateAttribute",
				"properties":{
					"Delete Attributes Expression":null,
					"Store State":"Do not store state",
					"canonical-value-lookup-cache-size":"100",
					"schema.name":"truck_events_avro",
					"Stateful Variables Initial Value":null
				},
				"propertyDescriptors":{
					"Delete Attributes Expression":{
						"name":"Delete Attributes Expression",
						"displayName":"Delete Attributes Expression",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"Store State":{
						"name":"Store State",
						"displayName":"Store State",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"canonical-value-lookup-cache-size":{
						"name":"canonical-value-lookup-cache-size",
						"displayName":"Cache Value Lookup Cache Size",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"schema.name":{
						"name":"schema.name",
						"displayName":"schema.name",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"Stateful Variables Initial Value":{
						"name":"Stateful Variables Initial Value",
						"displayName":"Stateful Variables Initial Value",
						"identifiesControllerService":false,
						"sensitive":false
					}
				},
				"schedulingPeriod":"0 sec",
				"schedulingStrategy":"TIMER_DRIVEN",
				"executionNode":"ALL",
				"penaltyDuration":"30 sec",
				"yieldDuration":"1 sec",
				"bulletinLevel":"WARN",
				"runDurationMillis":0,
				"concurrentlySchedulableTaskCount":1,
				"autoTerminatedRelationships":[
					
				],
				"scheduledState":"ENABLED",
				"componentType":"PROCESSOR",
				"groupIdentifier":"67f7ac05-ec89-3319-bd1c-5c83e149327d"
			},
			{
				"identifier":"65dca8c5-fc0e-3cac-99dc-c715681f5a2e",
				"name":"Kafka-Truck-Events-JSON",
				"comments":"",
				"position":{
					"x":172.96800659179684,
					"y":762.0999853515626
				},
				"bundle":{
					"group":"org.apache.nifi",
					"artifact":"nifi-kafka-2-0-nar",
					"version":"1.10.0.2.0.2.0-70"
				},
				"style":{
					
				},
				"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0",
				"properties":{
					"compression.type":"none",
					"attribute-name-regex":null,
					"record-writer":"ca40d3ad-7e02-39b7-9e2c-bdf7769537b1",
					"bootstrap.servers":"#{Kafka Broker Endpoint}",
					"sasl.kerberos.principal":null,
					"sasl.kerberos.service.name":null,
					"kerberos-credentials-service":null,
					"partition":null,
					"sasl.mechanism":"PLAIN",
					"max.block.ms":"20 sec",
					"record-reader":"b78f4414-29c0-3dbf-b2c2-e8c8c90690bc",
					"message-header-encoding":"UTF-8",
					"transactional-id-prefix":null,
					"client.id":"nifi-syndicate-geo-json",
					"ack.wait.time":"20 secs",
					"sasl.username":"#{Kafka Service Account}",
					"use-transactions":"false",
					"acks":"all",
					"security.protocol":"SASL_PLAINTEXT",
					"ssl.context.service":null,
					"max.request.size":"1 MB",
					"sasl.token.auth":"false",
					"message-key-field":"driverid",
					"partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner",
					"sasl.kerberos.keytab":null,
					"topic":"#{Kafka Sink Topic - Geo Event}",
					"sasl.password":"#{Kafka Service Account Password}"
				},
				"propertyDescriptors":{
					"compression.type":{
						"name":"compression.type",
						"displayName":"Compression Type",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"attribute-name-regex":{
						"name":"attribute-name-regex",
						"displayName":"Attributes to Send as Headers (Regex)",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"record-writer":{
						"name":"record-writer",
						"displayName":"Record Writer",
						"identifiesControllerService":true,
						"sensitive":false
					},
					"bootstrap.servers":{
						"name":"bootstrap.servers",
						"displayName":"Kafka Brokers",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"sasl.kerberos.principal":{
						"name":"sasl.kerberos.principal",
						"displayName":"Kerberos Principal",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"sasl.kerberos.service.name":{
						"name":"sasl.kerberos.service.name",
						"displayName":"Kerberos Service Name",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"kerberos-credentials-service":{
						"name":"kerberos-credentials-service",
						"displayName":"Kerberos Credentials Service",
						"identifiesControllerService":true,
						"sensitive":false
					},
					"partition":{
						"name":"partition",
						"displayName":"Partition",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"sasl.mechanism":{
						"name":"sasl.mechanism",
						"displayName":"SASL Mechanism",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"max.block.ms":{
						"name":"max.block.ms",
						"displayName":"Max Metadata Wait Time",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"record-reader":{
						"name":"record-reader",
						"displayName":"Record Reader",
						"identifiesControllerService":true,
						"sensitive":false
					},
					"message-header-encoding":{
						"name":"message-header-encoding",
						"displayName":"Message Header Encoding",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"transactional-id-prefix":{
						"name":"transactional-id-prefix",
						"displayName":"Transactional Id Prefix",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"client.id":{
						"name":"client.id",
						"displayName":"client.id",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"ack.wait.time":{
						"name":"ack.wait.time",
						"displayName":"Acknowledgment Wait Time",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"sasl.username":{
						"name":"sasl.username",
						"displayName":"Username",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"use-transactions":{
						"name":"use-transactions",
						"displayName":"Use Transactions",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"acks":{
						"name":"acks",
						"displayName":"Delivery Guarantee",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"security.protocol":{
						"name":"security.protocol",
						"displayName":"Security Protocol",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"ssl.context.service":{
						"name":"ssl.context.service",
						"displayName":"SSL Context Service",
						"identifiesControllerService":true,
						"sensitive":false
					},
					"max.request.size":{
						"name":"max.request.size",
						"displayName":"Max Request Size",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"sasl.token.auth":{
						"name":"sasl.token.auth",
						"displayName":"Token Auth",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"message-key-field":{
						"name":"message-key-field",
						"displayName":"Message Key Field",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"partitioner.class":{
						"name":"partitioner.class",
						"displayName":"Partitioner class",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"sasl.kerberos.keytab":{
						"name":"sasl.kerberos.keytab",
						"displayName":"Kerberos Keytab",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"topic":{
						"name":"topic",
						"displayName":"Topic Name",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"sasl.password":{
						"name":"sasl.password",
						"displayName":"Password",
						"identifiesControllerService":false,
						"sensitive":true
					}
				},
				"schedulingPeriod":"0 sec",
				"schedulingStrategy":"TIMER_DRIVEN",
				"executionNode":"ALL",
				"penaltyDuration":"30 sec",
				"yieldDuration":"1 sec",
				"bulletinLevel":"WARN",
				"runDurationMillis":0,
				"concurrentlySchedulableTaskCount":1,
				"autoTerminatedRelationships":[
					"success",
					"failure"
				],
				"scheduledState":"ENABLED",
				"componentType":"PROCESSOR",
				"groupIdentifier":"67f7ac05-ec89-3319-bd1c-5c83e149327d"
			},
			{
				"identifier":"b1039fe0-f01f-348d-aac2-63ee61ab27ad",
				"name":"US Central Truck Fleet - Kafka Gateway",
				"comments":"",
				"position":{
					"x":440.0,
					"y":-112.0
				},
				"bundle":{
					"group":"org.apache.nifi",
					"artifact":"nifi-kafka-2-0-nar",
					"version":"1.10.0.2.0.2.0-70"
				},
				"style":{
					
				},
				"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_0",
				"properties":{
					"header-name-regex":"schema.*",
					"sasl.username":"#{Kafka Service Account}",
					"max.poll.records":"10000",
					"record-writer":"293883d2-0e7f-3861-bf29-20bbd3c5f98e",
					"group.id":"nifi-truck-sensors-central-2",
					"bootstrap.servers":"#{Kafka Broker Endpoint}",
					"topic_type":"names",
					"sasl.kerberos.principal":null,
					"sasl.kerberos.service.name":null,
					"security.protocol":"SASL_PLAINTEXT",
					"kerberos-credentials-service":null,
					"ssl.context.service":null,
					"max-uncommit-offset-wait":"10 secs",
					"sasl.mechanism":"PLAIN",
					"sasl.token.auth":"false",
					"honor-transactions":"false",
					"sasl.kerberos.keytab":null,
					"Communications Timeout":"60 secs",
					"topic":"#{Kafka Source Topic}",
					"record-reader":"b78f4414-29c0-3dbf-b2c2-e8c8c90690bc",
					"message-header-encoding":"UTF-8",
					"sasl.password":"#{Kafka Service Account Password}",
					"auto.offset.reset":"latest"
				},
				"propertyDescriptors":{
					"header-name-regex":{
						"name":"header-name-regex",
						"displayName":"Headers to Add as Attributes (Regex)",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"sasl.username":{
						"name":"sasl.username",
						"displayName":"Username",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"max.poll.records":{
						"name":"max.poll.records",
						"displayName":"Max Poll Records",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"record-writer":{
						"name":"record-writer",
						"displayName":"Record Writer",
						"identifiesControllerService":true,
						"sensitive":false
					},
					"group.id":{
						"name":"group.id",
						"displayName":"Group ID",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"bootstrap.servers":{
						"name":"bootstrap.servers",
						"displayName":"Kafka Brokers",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"topic_type":{
						"name":"topic_type",
						"displayName":"Topic Name Format",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"sasl.kerberos.principal":{
						"name":"sasl.kerberos.principal",
						"displayName":"Kerberos Principal",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"sasl.kerberos.service.name":{
						"name":"sasl.kerberos.service.name",
						"displayName":"Kerberos Service Name",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"security.protocol":{
						"name":"security.protocol",
						"displayName":"Security Protocol",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"kerberos-credentials-service":{
						"name":"kerberos-credentials-service",
						"displayName":"Kerberos Credentials Service",
						"identifiesControllerService":true,
						"sensitive":false
					},
					"ssl.context.service":{
						"name":"ssl.context.service",
						"displayName":"SSL Context Service",
						"identifiesControllerService":true,
						"sensitive":false
					},
					"max-uncommit-offset-wait":{
						"name":"max-uncommit-offset-wait",
						"displayName":"Max Uncommitted Time",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"sasl.mechanism":{
						"name":"sasl.mechanism",
						"displayName":"SASL Mechanism",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"sasl.token.auth":{
						"name":"sasl.token.auth",
						"displayName":"Token Auth",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"honor-transactions":{
						"name":"honor-transactions",
						"displayName":"Honor Transactions",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"sasl.kerberos.keytab":{
						"name":"sasl.kerberos.keytab",
						"displayName":"Kerberos Keytab",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"Communications Timeout":{
						"name":"Communications Timeout",
						"displayName":"Communications Timeout",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"topic":{
						"name":"topic",
						"displayName":"Topic Name(s)",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"record-reader":{
						"name":"record-reader",
						"displayName":"Record Reader",
						"identifiesControllerService":true,
						"sensitive":false
					},
					"message-header-encoding":{
						"name":"message-header-encoding",
						"displayName":"Message Header Encoding",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"sasl.password":{
						"name":"sasl.password",
						"displayName":"Password",
						"identifiesControllerService":false,
						"sensitive":true
					},
					"auto.offset.reset":{
						"name":"auto.offset.reset",
						"displayName":"Offset Reset",
						"identifiesControllerService":false,
						"sensitive":false
					}
				},
				"schedulingPeriod":"0 sec",
				"schedulingStrategy":"TIMER_DRIVEN",
				"executionNode":"ALL",
				"penaltyDuration":"30 sec",
				"yieldDuration":"1 sec",
				"bulletinLevel":"WARN",
				"runDurationMillis":0,
				"concurrentlySchedulableTaskCount":1,
				"autoTerminatedRelationships":[
					"parse.failure"
				],
				"scheduledState":"ENABLED",
				"componentType":"PROCESSOR",
				"groupIdentifier":"67f7ac05-ec89-3319-bd1c-5c83e149327d"
			},
			{
				"identifier":"20945abd-1bd1-3df1-b00d-cdb350ae6489",
				"name":"Route Telemetry Events",
				"comments":"",
				"position":{
					"x":452.96800659179684,
					"y":114.0999853515626
				},
				"bundle":{
					"group":"org.apache.nifi",
					"artifact":"nifi-standard-nar",
					"version":"1.10.0.2.0.2.0-70"
				},
				"style":{
					
				},
				"type":"org.apache.nifi.processors.standard.QueryRecord",
				"properties":{
					"cache-schema":"false",
					"truck_speed_event":"#{Routing Rule - Speed Event}",
					"record-writer":"293883d2-0e7f-3861-bf29-20bbd3c5f98e",
					"record-reader":"b78f4414-29c0-3dbf-b2c2-e8c8c90690bc",
					"include-zero-record-flowfiles":"false",
					"truck_geo_event":"#{Routing Rule - Geo Event}"
				},
				"propertyDescriptors":{
					"cache-schema":{
						"name":"cache-schema",
						"displayName":"Cache Schema",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"truck_speed_event":{
						"name":"truck_speed_event",
						"displayName":"truck_speed_event",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"record-writer":{
						"name":"record-writer",
						"displayName":"Record Writer",
						"identifiesControllerService":true,
						"sensitive":false
					},
					"record-reader":{
						"name":"record-reader",
						"displayName":"Record Reader",
						"identifiesControllerService":true,
						"sensitive":false
					},
					"include-zero-record-flowfiles":{
						"name":"include-zero-record-flowfiles",
						"displayName":"Include Zero Record FlowFiles",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"truck_geo_event":{
						"name":"truck_geo_event",
						"displayName":"truck_geo_event",
						"identifiesControllerService":false,
						"sensitive":false
					}
				},
				"schedulingPeriod":"0 sec",
				"schedulingStrategy":"TIMER_DRIVEN",
				"executionNode":"ALL",
				"penaltyDuration":"30 sec",
				"yieldDuration":"1 sec",
				"bulletinLevel":"WARN",
				"runDurationMillis":0,
				"concurrentlySchedulableTaskCount":1,
				"autoTerminatedRelationships":[
					"original",
					"failure"
				],
				"scheduledState":"ENABLED",
				"componentType":"PROCESSOR",
				"groupIdentifier":"67f7ac05-ec89-3319-bd1c-5c83e149327d"
			},
			{
				"identifier":"84e7b583-5ebb-3bed-afd6-c6bfb21f9308",
				"name":"Filter Speed Events",
				"comments":"",
				"position":{
					"x":760.0,
					"y":544.0
				},
				"bundle":{
					"group":"org.apache.nifi",
					"artifact":"nifi-standard-nar",
					"version":"1.10.0.2.0.2.0-70"
				},
				"style":{
					
				},
				"type":"org.apache.nifi.processors.standard.QueryRecord",
				"properties":{
					"filtered_speeds":"SELECT * FROM FLOWFILE where eventSource = 'truck_speed_event' and speed > #{Speed Filter}",
					"cache-schema":"false",
					"record-writer":"293883d2-0e7f-3861-bf29-20bbd3c5f98e",
					"record-reader":"b78f4414-29c0-3dbf-b2c2-e8c8c90690bc",
					"include-zero-record-flowfiles":"false"
				},
				"propertyDescriptors":{
					"filtered_speeds":{
						"name":"filtered_speeds",
						"displayName":"filtered_speeds",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"cache-schema":{
						"name":"cache-schema",
						"displayName":"Cache Schema",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"record-writer":{
						"name":"record-writer",
						"displayName":"Record Writer",
						"identifiesControllerService":true,
						"sensitive":false
					},
					"record-reader":{
						"name":"record-reader",
						"displayName":"Record Reader",
						"identifiesControllerService":true,
						"sensitive":false
					},
					"include-zero-record-flowfiles":{
						"name":"include-zero-record-flowfiles",
						"displayName":"Include Zero Record FlowFiles",
						"identifiesControllerService":false,
						"sensitive":false
					}
				},
				"schedulingPeriod":"0 sec",
				"schedulingStrategy":"TIMER_DRIVEN",
				"executionNode":"ALL",
				"penaltyDuration":"30 sec",
				"yieldDuration":"1 sec",
				"bulletinLevel":"WARN",
				"runDurationMillis":0,
				"concurrentlySchedulableTaskCount":1,
				"autoTerminatedRelationships":[
					"original",
					"failure"
				],
				"scheduledState":"ENABLED",
				"componentType":"PROCESSOR",
				"groupIdentifier":"67f7ac05-ec89-3319-bd1c-5c83e149327d"
			},
			{
				"identifier":"e95a6f3a-29b3-39ae-a9ef-93af4bebfb26",
				"name":"Kafka-Truck-Speed-Events-JSON",
				"comments":"",
				"position":{
					"x":756.9680065917969,
					"y":762.0999853515626
				},
				"bundle":{
					"group":"org.apache.nifi",
					"artifact":"nifi-kafka-2-0-nar",
					"version":"1.10.0.2.0.2.0-70"
				},
				"style":{
					
				},
				"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0",
				"properties":{
					"compression.type":"none",
					"attribute-name-regex":null,
					"record-writer":"ca40d3ad-7e02-39b7-9e2c-bdf7769537b1",
					"bootstrap.servers":"#{Kafka Broker Endpoint}",
					"sasl.kerberos.principal":null,
					"sasl.kerberos.service.name":null,
					"kerberos-credentials-service":null,
					"partition":null,
					"sasl.mechanism":"PLAIN",
					"max.block.ms":"20 sec",
					"record-reader":"b78f4414-29c0-3dbf-b2c2-e8c8c90690bc",
					"message-header-encoding":"UTF-8",
					"transactional-id-prefix":null,
					"client.id":"nifi-syndicate-speed-json",
					"ack.wait.time":"20 secs",
					"sasl.username":"#{Kafka Service Account}",
					"use-transactions":"false",
					"acks":"all",
					"security.protocol":"SASL_PLAINTEXT",
					"ssl.context.service":null,
					"max.request.size":"1 MB",
					"sasl.token.auth":"false",
					"message-key-field":"driverid",
					"partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner",
					"sasl.kerberos.keytab":null,
					"topic":"#{Kafka Sink Topic - Speed Event}",
					"sasl.password":"#{Kafka Service Account Password}"
				},
				"propertyDescriptors":{
					"compression.type":{
						"name":"compression.type",
						"displayName":"Compression Type",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"attribute-name-regex":{
						"name":"attribute-name-regex",
						"displayName":"Attributes to Send as Headers (Regex)",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"record-writer":{
						"name":"record-writer",
						"displayName":"Record Writer",
						"identifiesControllerService":true,
						"sensitive":false
					},
					"bootstrap.servers":{
						"name":"bootstrap.servers",
						"displayName":"Kafka Brokers",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"sasl.kerberos.principal":{
						"name":"sasl.kerberos.principal",
						"displayName":"Kerberos Principal",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"sasl.kerberos.service.name":{
						"name":"sasl.kerberos.service.name",
						"displayName":"Kerberos Service Name",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"kerberos-credentials-service":{
						"name":"kerberos-credentials-service",
						"displayName":"Kerberos Credentials Service",
						"identifiesControllerService":true,
						"sensitive":false
					},
					"partition":{
						"name":"partition",
						"displayName":"Partition",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"sasl.mechanism":{
						"name":"sasl.mechanism",
						"displayName":"SASL Mechanism",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"max.block.ms":{
						"name":"max.block.ms",
						"displayName":"Max Metadata Wait Time",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"record-reader":{
						"name":"record-reader",
						"displayName":"Record Reader",
						"identifiesControllerService":true,
						"sensitive":false
					},
					"message-header-encoding":{
						"name":"message-header-encoding",
						"displayName":"Message Header Encoding",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"transactional-id-prefix":{
						"name":"transactional-id-prefix",
						"displayName":"Transactional Id Prefix",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"client.id":{
						"name":"client.id",
						"displayName":"client.id",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"ack.wait.time":{
						"name":"ack.wait.time",
						"displayName":"Acknowledgment Wait Time",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"sasl.username":{
						"name":"sasl.username",
						"displayName":"Username",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"use-transactions":{
						"name":"use-transactions",
						"displayName":"Use Transactions",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"acks":{
						"name":"acks",
						"displayName":"Delivery Guarantee",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"security.protocol":{
						"name":"security.protocol",
						"displayName":"Security Protocol",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"ssl.context.service":{
						"name":"ssl.context.service",
						"displayName":"SSL Context Service",
						"identifiesControllerService":true,
						"sensitive":false
					},
					"max.request.size":{
						"name":"max.request.size",
						"displayName":"Max Request Size",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"sasl.token.auth":{
						"name":"sasl.token.auth",
						"displayName":"Token Auth",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"message-key-field":{
						"name":"message-key-field",
						"displayName":"Message Key Field",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"partitioner.class":{
						"name":"partitioner.class",
						"displayName":"Partitioner class",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"sasl.kerberos.keytab":{
						"name":"sasl.kerberos.keytab",
						"displayName":"Kerberos Keytab",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"topic":{
						"name":"topic",
						"displayName":"Topic Name",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"sasl.password":{
						"name":"sasl.password",
						"displayName":"Password",
						"identifiesControllerService":false,
						"sensitive":true
					}
				},
				"schedulingPeriod":"0 sec",
				"schedulingStrategy":"TIMER_DRIVEN",
				"executionNode":"ALL",
				"penaltyDuration":"30 sec",
				"yieldDuration":"1 sec",
				"bulletinLevel":"WARN",
				"runDurationMillis":0,
				"concurrentlySchedulableTaskCount":1,
				"autoTerminatedRelationships":[
					"success",
					"failure"
				],
				"scheduledState":"ENABLED",
				"componentType":"PROCESSOR",
				"groupIdentifier":"67f7ac05-ec89-3319-bd1c-5c83e149327d"
			}
		],
		"inputPorts":[
			
		],
		"outputPorts":[
			
		],
		"connections":[
			{
				"identifier":"13bb5aa0-a8b7-3962-a2b1-d326a8a3e5c1",
				"name":"",
				"source":{
					"id":"b1039fe0-f01f-348d-aac2-63ee61ab27ad",
					"type":"PROCESSOR",
					"groupId":"67f7ac05-ec89-3319-bd1c-5c83e149327d",
					"name":"US Central Truck Fleet - Kafka Gateway",
					"comments":""
				},
				"destination":{
					"id":"20945abd-1bd1-3df1-b00d-cdb350ae6489",
					"type":"PROCESSOR",
					"groupId":"67f7ac05-ec89-3319-bd1c-5c83e149327d",
					"name":"Route Telemetry Events",
					"comments":""
				},
				"labelIndex":1,
				"zIndex":0,
				"selectedRelationships":[
					"success"
				],
				"backPressureObjectThreshold":10000,
				"backPressureDataSizeThreshold":"1 GB",
				"flowFileExpiration":"0 sec",
				"prioritizers":[
					
				],
				"bends":[
					
				],
				"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE",
				"partitioningAttribute":"",
				"loadBalanceCompression":"DO_NOT_COMPRESS",
				"componentType":"CONNECTION",
				"groupIdentifier":"67f7ac05-ec89-3319-bd1c-5c83e149327d"
			},
			{
				"identifier":"b3e6f78e-97ae-3b6c-82f7-c88c1200fb88",
				"name":"",
				"source":{
					"id":"20945abd-1bd1-3df1-b00d-cdb350ae6489",
					"type":"PROCESSOR",
					"groupId":"67f7ac05-ec89-3319-bd1c-5c83e149327d",
					"name":"Route Telemetry Events",
					"comments":""
				},
				"destination":{
					"id":"2edeab05-9b59-31f0-beb2-71f23a20d125",
					"type":"PROCESSOR",
					"groupId":"67f7ac05-ec89-3319-bd1c-5c83e149327d",
					"name":"Specify Schema",
					"comments":""
				},
				"labelIndex":1,
				"zIndex":0,
				"selectedRelationships":[
					"truck_speed_event"
				],
				"backPressureObjectThreshold":10000,
				"backPressureDataSizeThreshold":"1 GB",
				"flowFileExpiration":"0 sec",
				"prioritizers":[
					
				],
				"bends":[
					
				],
				"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE",
				"partitioningAttribute":"",
				"loadBalanceCompression":"DO_NOT_COMPRESS",
				"componentType":"CONNECTION",
				"groupIdentifier":"67f7ac05-ec89-3319-bd1c-5c83e149327d"
			},
			{
				"identifier":"ae90b68e-3507-309d-b188-bd34f68b5087",
				"name":"",
				"source":{
					"id":"0e0b760e-2561-3236-bb8e-4742878d2d25",
					"type":"PROCESSOR",
					"groupId":"67f7ac05-ec89-3319-bd1c-5c83e149327d",
					"name":"Specify Schema",
					"comments":""
				},
				"destination":{
					"id":"94551b4c-4bd4-3b59-a416-979a93fffd57",
					"type":"PROCESSOR",
					"groupId":"67f7ac05-ec89-3319-bd1c-5c83e149327d",
					"name":"ReverseGeoLookup",
					"comments":""
				},
				"labelIndex":1,
				"zIndex":0,
				"selectedRelationships":[
					"success"
				],
				"backPressureObjectThreshold":10000,
				"backPressureDataSizeThreshold":"1 GB",
				"flowFileExpiration":"0 sec",
				"prioritizers":[
					
				],
				"bends":[
					
				],
				"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE",
				"partitioningAttribute":"",
				"loadBalanceCompression":"DO_NOT_COMPRESS",
				"componentType":"CONNECTION",
				"groupIdentifier":"67f7ac05-ec89-3319-bd1c-5c83e149327d"
			},
			{
				"identifier":"455be4f8-b954-3d28-866c-7876036e142a",
				"name":"",
				"source":{
					"id":"84e7b583-5ebb-3bed-afd6-c6bfb21f9308",
					"type":"PROCESSOR",
					"groupId":"67f7ac05-ec89-3319-bd1c-5c83e149327d",
					"name":"Filter Speed Events",
					"comments":""
				},
				"destination":{
					"id":"e95a6f3a-29b3-39ae-a9ef-93af4bebfb26",
					"type":"PROCESSOR",
					"groupId":"67f7ac05-ec89-3319-bd1c-5c83e149327d",
					"name":"Kafka-Truck-Speed-Events-JSON",
					"comments":""
				},
				"labelIndex":1,
				"zIndex":0,
				"selectedRelationships":[
					"filtered_speeds"
				],
				"backPressureObjectThreshold":10000,
				"backPressureDataSizeThreshold":"1 GB",
				"flowFileExpiration":"0 sec",
				"prioritizers":[
					
				],
				"bends":[
					
				],
				"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE",
				"partitioningAttribute":"",
				"loadBalanceCompression":"DO_NOT_COMPRESS",
				"componentType":"CONNECTION",
				"groupIdentifier":"67f7ac05-ec89-3319-bd1c-5c83e149327d"
			},
			{
				"identifier":"e4520297-9e53-3dee-a443-13ffd53d6983",
				"name":"",
				"source":{
					"id":"20945abd-1bd1-3df1-b00d-cdb350ae6489",
					"type":"PROCESSOR",
					"groupId":"67f7ac05-ec89-3319-bd1c-5c83e149327d",
					"name":"Route Telemetry Events",
					"comments":""
				},
				"destination":{
					"id":"0e0b760e-2561-3236-bb8e-4742878d2d25",
					"type":"PROCESSOR",
					"groupId":"67f7ac05-ec89-3319-bd1c-5c83e149327d",
					"name":"Specify Schema",
					"comments":""
				},
				"labelIndex":1,
				"zIndex":0,
				"selectedRelationships":[
					"truck_geo_event"
				],
				"backPressureObjectThreshold":10000,
				"backPressureDataSizeThreshold":"1 GB",
				"flowFileExpiration":"0 sec",
				"prioritizers":[
					
				],
				"bends":[
					
				],
				"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE",
				"partitioningAttribute":"",
				"loadBalanceCompression":"DO_NOT_COMPRESS",
				"componentType":"CONNECTION",
				"groupIdentifier":"67f7ac05-ec89-3319-bd1c-5c83e149327d"
			},
			{
				"identifier":"1e85b0a2-ba63-3d64-b87e-e3eba75b7438",
				"name":"",
				"source":{
					"id":"2edeab05-9b59-31f0-beb2-71f23a20d125",
					"type":"PROCESSOR",
					"groupId":"67f7ac05-ec89-3319-bd1c-5c83e149327d",
					"name":"Specify Schema",
					"comments":""
				},
				"destination":{
					"id":"84e7b583-5ebb-3bed-afd6-c6bfb21f9308",
					"type":"PROCESSOR",
					"groupId":"67f7ac05-ec89-3319-bd1c-5c83e149327d",
					"name":"Filter Speed Events",
					"comments":""
				},
				"labelIndex":1,
				"zIndex":0,
				"selectedRelationships":[
					"success"
				],
				"backPressureObjectThreshold":10000,
				"backPressureDataSizeThreshold":"1 GB",
				"flowFileExpiration":"0 sec",
				"prioritizers":[
					
				],
				"bends":[
					
				],
				"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE",
				"partitioningAttribute":"",
				"loadBalanceCompression":"DO_NOT_COMPRESS",
				"componentType":"CONNECTION",
				"groupIdentifier":"67f7ac05-ec89-3319-bd1c-5c83e149327d"
			},
			{
				"identifier":"4595db3c-309a-3c66-bec1-3571a4dfaee2",
				"name":"",
				"source":{
					"id":"94551b4c-4bd4-3b59-a416-979a93fffd57",
					"type":"PROCESSOR",
					"groupId":"67f7ac05-ec89-3319-bd1c-5c83e149327d",
					"name":"ReverseGeoLookup",
					"comments":""
				},
				"destination":{
					"id":"65dca8c5-fc0e-3cac-99dc-c715681f5a2e",
					"type":"PROCESSOR",
					"groupId":"67f7ac05-ec89-3319-bd1c-5c83e149327d",
					"name":"Kafka-Truck-Events-JSON",
					"comments":""
				},
				"labelIndex":1,
				"zIndex":0,
				"selectedRelationships":[
					"success"
				],
				"backPressureObjectThreshold":10000,
				"backPressureDataSizeThreshold":"1 GB",
				"flowFileExpiration":"0 sec",
				"prioritizers":[
					
				],
				"bends":[
					
				],
				"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE",
				"partitioningAttribute":"",
				"loadBalanceCompression":"DO_NOT_COMPRESS",
				"componentType":"CONNECTION",
				"groupIdentifier":"67f7ac05-ec89-3319-bd1c-5c83e149327d"
			}
		],
		"labels":[
			
		],
		"funnels":[
			
		],
		"controllerServices":[
			{
				"identifier":"e808ab19-cbc5-3211-9d1a-43dbd6b92f37",
				"name":"Enrich-  ReverseGeoCodeLookupService",
				"comments":"",
				"type":"org.apache.nifi.lookup.script.ScriptedLookupService",
				"bundle":{
					"group":"org.apache.nifi",
					"artifact":"nifi-scripting-nar",
					"version":"1.10.0.2.0.2.0-70"
				},
				"controllerServiceApis":[
					{
						"type":"org.apache.nifi.lookup.LookupService",
						"bundle":{
							"group":"org.apache.nifi",
							"artifact":"nifi-standard-services-api-nar",
							"version":"1.10.0.2.0.2.0-70"
						}
					}
				],
				"properties":{
					"Script File":null,
					"googleApiKey":"AIzaSyA-h19EtKZMbh33QXCWVdaK5gCFfbS-GAk",
					"Script Engine":"Groovy",
					"Script Body":"import org.apache.nifi.controller.ControllerServiceInitializationContext\nimport org.apache.nifi.reporting.InitializationException\n\n\nclass GroovyLookupService implements LookupService<String> {\n\n   def apiKey\n   def log\n    \n   @Override\n    Optional<String> lookup(Map<String,String> coords) {\n      def lat = coords['lat']\n      def lng = coords['lng']\n      def fmt_addr = \"No Address\"\n      Optional.ofNullable(fmt_addr?.toString())\n    }\n\n    @Override\n    Class<?> getValueType() {\n        return String\n    }\n\n    @Override\n    Set<String> getRequiredKeys() {\n      return ['lat','lng'] as Set<String>\n    }\n\n    void setLogger(logger) {\n       log = logger\n    }\n\n    void onEnabled(context) {\n        def googleApiKeyPropertyDescriptor = context.properties.find {k,v -> k.name == 'googleApiKey'}?.key\n        apiKey = context.getProperty(googleApiKeyPropertyDescriptor)?.evaluateAttributeExpressions()?.value\n    }\n\n    @Override\n    void initialize(ControllerServiceInitializationContext context) throws InitializationException {\n\n    }\n\n    @Override\n    Collection<ValidationResult> validate(ValidationContext context) {\n        return null\n    }\n\n    @Override\n    PropertyDescriptor getPropertyDescriptor(String name) {\n        return null\n    }\n\n    @Override\n    void onPropertyModified(PropertyDescriptor descriptor, String oldValue, String newValue) {\n\n    }\n\n    @Override\n    List<PropertyDescriptor> getPropertyDescriptors() {\n        return null\n    }\n\n    @Override\n    String getIdentifier() {\n        return null\n    }\n}\n\nlookupService = new GroovyLookupService()",
					"Module Directory":null
				},
				"propertyDescriptors":{
					"Script File":{
						"name":"Script File",
						"displayName":"Script File",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"googleApiKey":{
						"name":"googleApiKey",
						"displayName":"googleApiKey",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"Script Engine":{
						"name":"Script Engine",
						"displayName":"Script Engine",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"Script Body":{
						"name":"Script Body",
						"displayName":"Script Body",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"Module Directory":{
						"name":"Module Directory",
						"displayName":"Module Directory",
						"identifiesControllerService":false,
						"sensitive":false
					}
				},
				"componentType":"CONTROLLER_SERVICE",
				"groupIdentifier":"67f7ac05-ec89-3319-bd1c-5c83e149327d"
			},
			{
				"identifier":"293883d2-0e7f-3861-bf29-20bbd3c5f98e",
				"name":"CSV Writer - HWX SR Registry",
				"comments":"",
				"type":"org.apache.nifi.csv.CSVRecordSetWriter",
				"bundle":{
					"group":"org.apache.nifi",
					"artifact":"nifi-record-serialization-services-nar",
					"version":"1.10.0.2.0.2.0-70"
				},
				"controllerServiceApis":[
					{
						"type":"org.apache.nifi.serialization.RecordSetWriterFactory",
						"bundle":{
							"group":"org.apache.nifi",
							"artifact":"nifi-standard-services-api-nar",
							"version":"1.10.0.2.0.2.0-70"
						}
					}
				],
				"properties":{
					"schema-branch":null,
					"CSV Format":"custom",
					"Quote Character":"\"",
					"Include Header Line":"false",
					"Value Separator":"|",
					"schema-cache":null,
					"Record Separator":"\\n",
					"Timestamp Format":null,
					"Escape Character":"\\","DateFormat":null,"SchemaWriteStrategy":"schema-name","NullString":null,"TrimFields":"true","schema-name":"${
						schema.name
					}
					","schema-registry":"9d47282b-22be-326f-8541-7e1eb4759e5c","TimeFormat":null,"CommentMarker":null,"schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${
						avro.schema
					}
					","QuoteMode":"MINIMAL","IncludeTrailingDelimiter":"true"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"SchemaBranch","identifiesControllerService":false,"sensitive":false},"CSVFormat":{"name":"CSVFormat","displayName":"CSVFormat","identifiesControllerService":false,"sensitive":false},"QuoteCharacter":{"name":"QuoteCharacter","displayName":"QuoteCharacter","identifiesControllerService":false,"sensitive":false},"IncludeHeaderLine":{"name":"IncludeHeaderLine","displayName":"IncludeHeaderLine","identifiesControllerService":false,"sensitive":false},"ValueSeparator":{"name":"ValueSeparator","displayName":"ValueSeparator","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"SchemaCache","identifiesControllerService":true,"sensitive":false},"RecordSeparator":{"name":"RecordSeparator","displayName":"RecordSeparator","identifiesControllerService":false,"sensitive":false},"TimestampFormat":{"name":"TimestampFormat","displayName":"TimestampFormat","identifiesControllerService":false,"sensitive":false},"EscapeCharacter":{"name":"EscapeCharacter","displayName":"EscapeCharacter","identifiesControllerService":false,"sensitive":false},"DateFormat":{"name":"DateFormat","displayName":"DateFormat","identifiesControllerService":false,"sensitive":false},"SchemaWriteStrategy":{"name":"SchemaWriteStrategy","displayName":"SchemaWriteStrategy","identifiesControllerService":false,"sensitive":false},"NullString":{"name":"NullString","displayName":"NullString","identifiesControllerService":false,"sensitive":false},"TrimFields":{"name":"TrimFields","displayName":"TrimFields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"SchemaName","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"SchemaRegistry","identifiesControllerService":true,"sensitive":false},"TimeFormat":{"name":"TimeFormat","displayName":"TimeFormat","identifiesControllerService":false,"sensitive":false},"CommentMarker":{"name":"CommentMarker","displayName":"CommentMarker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"SchemaAccessStrategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"SchemaProtocolVersion","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"SchemaVersion","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"CharacterSet","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"SchemaText","identifiesControllerService":false,"sensitive":false},"QuoteMode":{"name":"QuoteMode","displayName":"QuoteMode","identifiesControllerService":false,"sensitive":false},"IncludeTrailingDelimiter":{"name":"IncludeTrailingDelimiter","displayName":"IncludeTrailingDelimiter","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"67f7ac05-ec89-3319-bd1c-5c83e149327d"},{"identifier":"b78f4414-29c0-3dbf-b2c2-e8c8c90690bc","name":"CSVReader-HWXSRRegistry","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.10.0.2.0.2.0-70"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.10.0.2.0.2.0-70"}}],"properties":{"ignore-csv-header":"false","schema-branch":null,"CSVFormat":"custom","QuoteCharacter":"\"","ValueSeparator":"|","TimestampFormat":null,"EscapeCharacter":"\\",
					"Date Format":null,
					"Null String":null,
					"Skip Header Line":"false",
					"Trim Fields":"true",
					"schema-name":"${schema.name}",
					"schema-registry":"9d47282b-22be-326f-8541-7e1eb4759e5c",
					"csv-reader-csv-parser":"commons-csv",
					"Time Format":null,
					"Comment Marker":null,
					"schema-access-strategy":"schema-name",
					"schema-version":null,
					"csvutils-character-set":"UTF-8",
					"schema-text":"${avro.schema}"
				},
				"propertyDescriptors":{
					"ignore-csv-header":{
						"name":"ignore-csv-header",
						"displayName":"Ignore CSV Header Column Names",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"schema-branch":{
						"name":"schema-branch",
						"displayName":"Schema Branch",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"CSV Format":{
						"name":"CSV Format",
						"displayName":"CSV Format",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"Quote Character":{
						"name":"Quote Character",
						"displayName":"Quote Character",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"Value Separator":{
						"name":"Value Separator",
						"displayName":"Value Separator",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"Timestamp Format":{
						"name":"Timestamp Format",
						"displayName":"Timestamp Format",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"Escape Character":{
						"name":"Escape Character",
						"displayName":"Escape Character",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"Date Format":{
						"name":"Date Format",
						"displayName":"Date Format",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"Null String":{
						"name":"Null String",
						"displayName":"Null String",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"Skip Header Line":{
						"name":"Skip Header Line",
						"displayName":"Treat First Line as Header",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"Trim Fields":{
						"name":"Trim Fields",
						"displayName":"Trim Fields",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"schema-name":{
						"name":"schema-name",
						"displayName":"Schema Name",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"schema-registry":{
						"name":"schema-registry",
						"displayName":"Schema Registry",
						"identifiesControllerService":true,
						"sensitive":false
					},
					"csv-reader-csv-parser":{
						"name":"csv-reader-csv-parser",
						"displayName":"CSV Parser",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"Time Format":{
						"name":"Time Format",
						"displayName":"Time Format",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"Comment Marker":{
						"name":"Comment Marker",
						"displayName":"Comment Marker",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"schema-access-strategy":{
						"name":"schema-access-strategy",
						"displayName":"Schema Access Strategy",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"schema-version":{
						"name":"schema-version",
						"displayName":"Schema Version",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"csvutils-character-set":{
						"name":"csvutils-character-set",
						"displayName":"Character Set",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"schema-text":{
						"name":"schema-text",
						"displayName":"Schema Text",
						"identifiesControllerService":false,
						"sensitive":false
					}
				},
				"componentType":"CONTROLLER_SERVICE",
				"groupIdentifier":"67f7ac05-ec89-3319-bd1c-5c83e149327d"
			},
			{
				"identifier":"ca40d3ad-7e02-39b7-9e2c-bdf7769537b1",
				"name":"JSON Writer",
				"comments":"",
				"type":"org.apache.nifi.json.JsonRecordSetWriter",
				"bundle":{
					"group":"org.apache.nifi",
					"artifact":"nifi-record-serialization-services-nar",
					"version":"1.10.0.2.0.2.0-70"
				},
				"controllerServiceApis":[
					{
						"type":"org.apache.nifi.serialization.RecordSetWriterFactory",
						"bundle":{
							"group":"org.apache.nifi",
							"artifact":"nifi-standard-services-api-nar",
							"version":"1.10.0.2.0.2.0-70"
						}
					}
				],
				"properties":{
					"schema-branch":null,
					"compression-level":"1",
					"schema-cache":null,
					"Timestamp Format":null,
					"Date Format":null,
					"Pretty Print JSON":"false",
					"compression-format":"none",
					"Schema Write Strategy":"no-schema",
					"suppress-nulls":"never-suppress",
					"output-grouping":"output-oneline",
					"schema-name":"${schema.name}",
					"schema-registry":"9d47282b-22be-326f-8541-7e1eb4759e5c",
					"Time Format":null,
					"schema-access-strategy":"schema-name",
					"schema-protocol-version":"1",
					"schema-version":null,
					"schema-text":"${avro.schema}"
				},
				"propertyDescriptors":{
					"schema-branch":{
						"name":"schema-branch",
						"displayName":"Schema Branch",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"compression-level":{
						"name":"compression-level",
						"displayName":"Compression Level",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"schema-cache":{
						"name":"schema-cache",
						"displayName":"Schema Cache",
						"identifiesControllerService":true,
						"sensitive":false
					},
					"Timestamp Format":{
						"name":"Timestamp Format",
						"displayName":"Timestamp Format",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"Date Format":{
						"name":"Date Format",
						"displayName":"Date Format",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"Pretty Print JSON":{
						"name":"Pretty Print JSON",
						"displayName":"Pretty Print JSON",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"compression-format":{
						"name":"compression-format",
						"displayName":"Compression Format",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"Schema Write Strategy":{
						"name":"Schema Write Strategy",
						"displayName":"Schema Write Strategy",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"suppress-nulls":{
						"name":"suppress-nulls",
						"displayName":"Suppress Null Values",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"output-grouping":{
						"name":"output-grouping",
						"displayName":"Output Grouping",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"schema-name":{
						"name":"schema-name",
						"displayName":"Schema Name",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"schema-registry":{
						"name":"schema-registry",
						"displayName":"Schema Registry",
						"identifiesControllerService":true,
						"sensitive":false
					},
					"Time Format":{
						"name":"Time Format",
						"displayName":"Time Format",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"schema-access-strategy":{
						"name":"schema-access-strategy",
						"displayName":"Schema Access Strategy",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"schema-protocol-version":{
						"name":"schema-protocol-version",
						"displayName":"Schema Protocol Version",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"schema-version":{
						"name":"schema-version",
						"displayName":"Schema Version",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"schema-text":{
						"name":"schema-text",
						"displayName":"Schema Text",
						"identifiesControllerService":false,
						"sensitive":false
					}
				},
				"componentType":"CONTROLLER_SERVICE",
				"groupIdentifier":"67f7ac05-ec89-3319-bd1c-5c83e149327d"
			},
			{
				"identifier":"9d47282b-22be-326f-8541-7e1eb4759e5c",
				"name":"AvroSchemaRegistry",
				"comments":"",
				"type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry",
				"bundle":{
					"group":"org.apache.nifi",
					"artifact":"nifi-registry-nar",
					"version":"1.10.0.2.0.2.0-70"
				},
				"controllerServiceApis":[
					{
						"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry",
						"bundle":{
							"group":"org.apache.nifi",
							"artifact":"nifi-standard-services-api-nar",
							"version":"1.10.0.2.0.2.0-70"
						}
					}
				],
				"properties":{
					"truck_events_avro":"#{Schema - Enriched Geo Event}",
					"raw-truck_events_avro":"#{Schema - Geo Event}",
					"avro-reg-validated-field-names":"true",
					"truck_speed_events_avro":"#{Schema - Enriched Speed Event}",
					"raw-truck_speed_events_avro":"#{Schema - Speed Event}"
				},
				"propertyDescriptors":{
					"truck_events_avro":{
						"name":"truck_events_avro",
						"displayName":"truck_events_avro",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"raw-truck_events_avro":{
						"name":"raw-truck_events_avro",
						"displayName":"raw-truck_events_avro",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"avro-reg-validated-field-names":{
						"name":"avro-reg-validated-field-names",
						"displayName":"Validate Field Names",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"truck_speed_events_avro":{
						"name":"truck_speed_events_avro",
						"displayName":"truck_speed_events_avro",
						"identifiesControllerService":false,
						"sensitive":false
					},
					"raw-truck_speed_events_avro":{
						"name":"raw-truck_speed_events_avro",
						"displayName":"raw-truck_speed_events_avro",
						"identifiesControllerService":false,
						"sensitive":false
					}
				},
				"componentType":"CONTROLLER_SERVICE",
				"groupIdentifier":"67f7ac05-ec89-3319-bd1c-5c83e149327d"
			}
		],
		"variables":{
			
		},
		"parameterContextName":"IOT-Trucking-App",
		"componentType":"PROCESS_GROUP"
	},
	"externalControllerServices":{
		
	},
	"parameterContexts":{
		"IOT-Trucking-App":{
			"name":"IOT-Trucking-App",
			"parameters":[
				{
					"name":"Kafka Sink Topic - Geo Event",
					"description":"Name of sink topic for the enriched geo events",
					"sensitive":false,
					"value":"syndicate-geo-event-json"
				},
				{
					"name":"Kafka Sink Topic - Speed Event",
					"description":"Name of the Kafka topic for the enriched speed event",
					"sensitive":false,
					"value":"syndicate-speed-event-json"
				},
				{
					"name":"Schema - Geo Event",
					"description":"Schema for Geo Event",
					"sensitive":false,
					"value":"{\n \"type\": \"record\",\n \"namespace\": \"cloudera.cdf.csp.schema.refapp.trucking\",\n \"name\": \"TruckGeoEvent\",\n \"fields\": [\n  {\n   \"name\": \"eventTime\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"eventTimeLong\",\n   \"type\": \"long\",\n   \"default\": 0\n  },\n  {\n   \"name\": \"eventSource\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"truckId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"driverId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"driverName\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"routeId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"route\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"eventType\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"latitude\",\n   \"type\": \"double\"\n  },\n  {\n   \"name\": \"longitude\",\n   \"type\": \"double\"\n  },\n  {\n   \"name\": \"correlationId\",\n   \"type\": \"long\"\n  }\n ]\n}"
				},
				{
					"name":"Schema - Speed Event",
					"description":"Schema for Speed Event",
					"sensitive":false,
					"value":"{\n \"type\": \"record\",\n \"namespace\": \"cloudera.cdf.csp.schema.refapp.trucking\",\n \"name\": \"TruckSpeedEvent\",\n \"fields\": [\n  {\n   \"name\": \"eventTime\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"eventTimeLong\",\n   \"type\": \"long\",\n   \"default\": 0\n  },\n  {\n   \"name\": \"eventSource\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"truckId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"driverId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"driverName\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"routeId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"route\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"speed\",\n   \"type\": \"int\"\n  }\n ]\n}"
				},
				{
					"name":"Kafka Service Account Password",
					"description":"Service Account password to connect to Kafka cluster",
					"sensitive":true
				},
				{
					"name":"Schema - Enriched Speed Event",
					"description":"Schema for Enriched Speed Event",
					"sensitive":false,
					"value":"{\n \"type\": \"record\",\n \"namespace\": \"cloudera.cdf.csp.schema.refapp.trucking\",\n \"name\": \"TruckSpeedEventEnriched\",\n \"fields\": [\n  {\n   \"name\": \"eventTime\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"eventTimeLong\",\n   \"type\": \"long\",\n   \"default\": 0\n  },\n  {\n   \"name\": \"eventSource\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"truckId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"driverId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"driverName\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"routeId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"route\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"speed\",\n   \"type\": \"int\"\n  }\n ]\n}"
				},
				{
					"name":"Routing Rule - Speed Event",
					"description":"routing rule for speed events expressing in sql",
					"sensitive":false,
					"value":"SELECT * FROM FLOWFILE where eventSource = 'truck_speed_event' "
				},
				{
					"name":"Schema - Enriched Geo Event",
					"description":"Schema for Enriched Geo Event",
					"sensitive":false,
					"value":"{\n \"type\": \"record\",\n \"namespace\": \"cloudera.cdf.csp.schema.refapp.trucking\",\n \"name\": \"TruckGeoEventEnriched\",\n \"fields\": [\n  {\n   \"name\": \"eventTime\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"eventTimeLong\",\n   \"type\": \"long\",\n   \"default\": 0\n  },\n  {\n   \"name\": \"eventSource\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"truckId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"driverId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"driverName\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"routeId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"route\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"eventType\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"latitude\",\n   \"type\": \"double\"\n  },\n  {\n   \"name\": \"longitude\",\n   \"type\": \"double\"\n  },\n  {\n   \"name\": \"correlationId\",\n   \"type\": \"long\"\n  },\n  {\n   \"name\": \"geoAddress\",\n   \"type\": \"string\",\n   \"default\": \"None\"\n  }\n ]\n}"
				},
				{
					"name":"Speed Filter",
					"description":"",
					"sensitive":false,
					"value":"40"
				},
				{
					"name":"Kafka Service Account",
					"description":"service account used to connect to Kafka cluster",
					"sensitive":false,
					"value":"srv_truck_data_flow_service"
				},
				{
					"name":"Kafka Broker Endpoint",
					"description":"Broker Endpoint URL",
					"sensitive":false,
					"value":"kafka-test-cluster-1-broker3.gvettica.xcu2-8y8x.dev.cldr.work:9092,kafka-test-cluster-1-broker4.gvettica.xcu2-8y8x.dev.cldr.work:9092,kafka-test-cluster-1-broker5.gvettica.xcu2-8y8x.dev.cldr.work:9092"
				},
				{
					"name":"Routing Rule - Geo Event",
					"description":"routing rule for geo events expressed in sql",
					"sensitive":false,
					"value":"SELECT * FROM FLOWFILE where eventSource = 'truck_geo_event' "
				},
				{
					"name":"Kafka Source Topic",
					"description":"Kafka Source Topic for truck sensor events",
					"sensitive":false,
					"value":"gateway-central-raw-sensors"
				}
			]
		}
	},
	"flowEncodingVersion":"1.0"
}