cfm-trucking-nifi/src/main/resources/nifi-flows/DataHub/download-flow/Kafka-to-Kudu/DFX-Kafka_JSON-Impala_Kudu.json
{"flowContents":{"identifier":"2978f3d4-f9fd-3eb8-856b-93145a27f938","name":"DFX-Kafka_JSON-Impala_Kudu","comments":"","position":{"x":1088.0,"y":144.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5f68664a-46ea-3a6d-8363-0220781a43c9","name":"RetryFlowFile","comments":"","position":{"x":832.0,"y":144.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.2.0.7.0-22"},"style":{},"type":"org.apache.nifi.processors.standard.RetryFlowFile","properties":{"penalize-retries":"true","maximum-retries":"3","Fail on Non-numerical Overwrite":"false","reuse-mode":"fail","retry-attribute":"flowfile.retries"},"propertyDescriptors":{"penalize-retries":{"name":"penalize-retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false},"maximum-retries":{"name":"maximum-retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false},"Fail on Non-numerical Overwrite":{"name":"Fail on Non-numerical Overwrite","displayName":"Fail on Non-numerical Overwrite","identifiesControllerService":false,"sensitive":false},"reuse-mode":{"name":"reuse-mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false},"retry-attribute":{"name":"retry-attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"2978f3d4-f9fd-3eb8-856b-93145a27f938"},{"identifier":"f49a43f9-00da-319c-b4ba-180d8a896b99","name":"PutKudu Data Hub","comments":"","position":{"x":832.0,"y":-104.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kudu-nar","version":"1.11.4.2.0.7.0-22"},"style":{},"type":"org.apache.nifi.processors.kudu.PutKudu","properties":{"Ignore NULL":"false","Table Name":"#{Kudu Table}","kerberos-password":"#{Kudu Service Account Password}","Handle Schema Drift":"false","kerberos-principal":"#{Kudu Service Account}","Lowercase Field Names":"false","Insert Operation":"#{Kudu Operation}","kudu-operations-timeout-ms":"30000ms","Skip head line":"false","FlowFiles per Batch":"100","kerberos-credentials-service":null,"Kudu Masters":"#{Kudu Servers}","Flush Mode":"AUTO_FLUSH_BACKGROUND","Batch Size":"25000","record-reader":"98f74eb8-f81b-3932-b47c-fff96d944ff5","kudu-keep-alive-period-timeout-ms":"15000ms"},"propertyDescriptors":{"Ignore NULL":{"name":"Ignore NULL","displayName":"Ignore NULL","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Handle Schema Drift":{"name":"Handle Schema Drift","displayName":"Handle Schema Drift","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Lowercase Field Names":{"name":"Lowercase Field Names","displayName":"Lowercase Field Names","identifiesControllerService":false,"sensitive":false},"Insert Operation":{"name":"Insert Operation","displayName":"Kudu Operation Type","identifiesControllerService":false,"sensitive":false},"kudu-operations-timeout-ms":{"name":"kudu-operations-timeout-ms","displayName":"Kudu Operation Timeout","identifiesControllerService":false,"sensitive":false},"Skip head line":{"name":"Skip head line","displayName":"Skip head line","identifiesControllerService":false,"sensitive":false},"FlowFiles per Batch":{"name":"FlowFiles per Batch","displayName":"FlowFiles per Batch","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kudu Masters":{"name":"Kudu Masters","displayName":"Kudu Masters","identifiesControllerService":false,"sensitive":false},"Flush Mode":{"name":"Flush Mode","displayName":"Flush Mode","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Max Records per Batch","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"kudu-keep-alive-period-timeout-ms":{"name":"kudu-keep-alive-period-timeout-ms","displayName":"Kudu Keep Alive Period Timeout","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"2978f3d4-f9fd-3eb8-856b-93145a27f938"},{"identifier":"851979f4-aa9f-3a94-89fb-b4dc27bae3bf","name":"Consume Kafka Record 2.x","comments":"","position":{"x":832.0,"y":-336.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.11.4.2.0.7.0-22"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_0","properties":{"header-name-regex":"schema.*","sasl.username":"#{Kafka Service Account}","max.poll.records":"10000","record-writer":"a7866976-42a3-3469-8122-ceb80c77a735","group.id":"#{Kafka Consumer Group Id}","bootstrap.servers":"#{Kafka Broker Endpoint}","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"security.protocol":"SASL_SSL","kerberos-credentials-service":null,"ssl.context.service":"aa3aacf3-d38a-3c7d-8cbd-2d1dffa55968","max-uncommit-offset-wait":"1 secs","sasl.mechanism":"PLAIN","sasl.token.auth":"false","honor-transactions":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"#{Kafka Source Topic}","record-reader":"98f74eb8-f81b-3932-b47c-fff96d944ff5","message-header-encoding":"UTF-8","sasl.password":"#{Kafka Service Account Password}","auto.offset.reset":"latest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"NONE","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"2978f3d4-f9fd-3eb8-856b-93145a27f938"},{"identifier":"caab20a1-37a1-3ea3-8a71-3f33ebb9bf0e","name":"Log Event with Incorrect Schema","comments":"","position":{"x":1456.0,"y":-344.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.2.0.7.0-22"},"style":{},"type":"org.apache.nifi.processors.standard.LogAttribute","properties":{"Log prefix":null,"character-set":"UTF-8","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"2978f3d4-f9fd-3eb8-856b-93145a27f938"},{"identifier":"9cf0a113-376e-38f4-b689-37757b182d01","name":"Log Event with Kudu Failure","comments":"","position":{"x":1472.0,"y":144.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.2.0.7.0-22"},"style":{},"type":"org.apache.nifi.processors.standard.LogAttribute","properties":{"Log prefix":null,"character-set":"UTF-8","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"2978f3d4-f9fd-3eb8-856b-93145a27f938"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"ea4a26d6-e139-3d17-b49c-6045ef8e4f5e","name":"","source":{"id":"5f68664a-46ea-3a6d-8363-0220781a43c9","type":"PROCESSOR","groupId":"2978f3d4-f9fd-3eb8-856b-93145a27f938","name":"RetryFlowFile","comments":""},"destination":{"id":"9cf0a113-376e-38f4-b689-37757b182d01","type":"PROCESSOR","groupId":"2978f3d4-f9fd-3eb8-856b-93145a27f938","name":"Log Event with Kudu Failure","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["retries_exceeded","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2978f3d4-f9fd-3eb8-856b-93145a27f938"},{"identifier":"cdc653e0-f912-3275-b97f-cc626a1782c2","name":"","source":{"id":"851979f4-aa9f-3a94-89fb-b4dc27bae3bf","type":"PROCESSOR","groupId":"2978f3d4-f9fd-3eb8-856b-93145a27f938","name":"Consume Kafka Record 2.x","comments":""},"destination":{"id":"f49a43f9-00da-319c-b4ba-180d8a896b99","type":"PROCESSOR","groupId":"2978f3d4-f9fd-3eb8-856b-93145a27f938","name":"PutKudu Data Hub","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2978f3d4-f9fd-3eb8-856b-93145a27f938"},{"identifier":"d7fd5b55-3577-327a-8960-aeb09c389fe1","name":"","source":{"id":"851979f4-aa9f-3a94-89fb-b4dc27bae3bf","type":"PROCESSOR","groupId":"2978f3d4-f9fd-3eb8-856b-93145a27f938","name":"Consume Kafka Record 2.x","comments":""},"destination":{"id":"caab20a1-37a1-3ea3-8a71-3f33ebb9bf0e","type":"PROCESSOR","groupId":"2978f3d4-f9fd-3eb8-856b-93145a27f938","name":"Log Event with Incorrect Schema","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["parse.failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2978f3d4-f9fd-3eb8-856b-93145a27f938"},{"identifier":"ede5504f-ef45-3eed-9f4e-1c9d0bd0706f","name":"","source":{"id":"f49a43f9-00da-319c-b4ba-180d8a896b99","type":"PROCESSOR","groupId":"2978f3d4-f9fd-3eb8-856b-93145a27f938","name":"PutKudu Data Hub","comments":""},"destination":{"id":"5f68664a-46ea-3a6d-8363-0220781a43c9","type":"PROCESSOR","groupId":"2978f3d4-f9fd-3eb8-856b-93145a27f938","name":"RetryFlowFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2978f3d4-f9fd-3eb8-856b-93145a27f938"},{"identifier":"a41968a0-fdd3-338d-89c1-722609631706","name":"","source":{"id":"5f68664a-46ea-3a6d-8363-0220781a43c9","type":"PROCESSOR","groupId":"2978f3d4-f9fd-3eb8-856b-93145a27f938","name":"RetryFlowFile","comments":""},"destination":{"id":"f49a43f9-00da-319c-b4ba-180d8a896b99","type":"PROCESSOR","groupId":"2978f3d4-f9fd-3eb8-856b-93145a27f938","name":"PutKudu Data Hub","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":736.0,"y":80.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2978f3d4-f9fd-3eb8-856b-93145a27f938"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"843ddd54-6501-3279-9d06-d5b3dea31af8","name":"Json Tree Reader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4.2.0.7.0-22"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.2.0.7.0-22"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":"11eacc5b-38ad-32e2-ade8-e4db59cc9a53","Time Format":null,"schema-access-strategy":"hwx-content-encoded-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"2978f3d4-f9fd-3eb8-856b-93145a27f938"},{"identifier":"1996bae1-e3a2-343b-a5bc-04b3e73c99f4","name":"JSON Writer","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4.2.0.7.0-22"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.2.0.7.0-22"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"hwx-content-encoded-schema","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"${schema.name}","schema-registry":"11eacc5b-38ad-32e2-ade8-e4db59cc9a53","Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"2978f3d4-f9fd-3eb8-856b-93145a27f938"},{"identifier":"11eacc5b-38ad-32e2-ade8-e4db59cc9a53","name":"Cloudera SR","comments":"","type":"org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-hwx-schema-registry-nar","version":"1.11.4.2.0.7.0-22"},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.2.0.7.0-22"}}],"properties":{"cache-expiration":"1 hour","kerberos-credentials-service":null,"kerberos-password":"#{Schema Registry Service Account Password}","ssl-context-service":"aa3aacf3-d38a-3c7d-8cbd-2d1dffa55968","cache-size":"1000","kerberos-principal":"#{Schema Registry Service Account}","url":"#{Schema Registry Endpoint}"},"propertyDescriptors":{"cache-expiration":{"name":"cache-expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"url":{"name":"url","displayName":"Schema Registry URL","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"2978f3d4-f9fd-3eb8-856b-93145a27f938"},{"identifier":"a7866976-42a3-3469-8122-ceb80c77a735","name":"InheritJsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4.2.0.7.0-22"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.2.0.7.0-22"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"2978f3d4-f9fd-3eb8-856b-93145a27f938"},{"identifier":"98f74eb8-f81b-3932-b47c-fff96d944ff5","name":"InferJsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4.2.0.7.0-22"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.2.0.7.0-22"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"2978f3d4-f9fd-3eb8-856b-93145a27f938"},{"identifier":"2a217336-6b76-300a-82f5-052d11aca85d","name":"CSV Writer","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4.2.0.7.0-22"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.2.0.7.0-22"}}],"properties":{"schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Include Header Line":"false","Value Separator":"|","schema-cache":null,"Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Schema Write Strategy":"no-schema","Null String":null,"Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-text-property","schema-protocol-version":"1","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"#{Source Schema}","Quote Mode":"MINIMAL","Include Trailing Delimiter":"true"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"2978f3d4-f9fd-3eb8-856b-93145a27f938"},{"identifier":"1ea83b8e-6517-3771-bddd-2067b85ba1fd","name":"CSV Reader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4.2.0.7.0-22"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.2.0.7.0-22"}}],"properties":{"ignore-csv-header":"false","schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Value Separator":"|","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-text-property","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"#{Source Schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"2978f3d4-f9fd-3eb8-856b-93145a27f938"},{"identifier":"aa3aacf3-d38a-3c7d-8cbd-2d1dffa55968","name":" New NiFi SSL Context Service ","comments":"","type":"org.apache.nifi.ssl.StandardSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.11.4.2.0.7.0-22"},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.2.0.7.0-22"}}],"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":null,"Truststore Filename":"#{CDP Env Truststore File}","Truststore Password":"#{CDP Env Trustore Password}","Keystore Filename":null},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"2978f3d4-f9fd-3eb8-856b-93145a27f938"},{"identifier":"16ebce32-fc7d-32d4-806a-09b152b5f603","name":"SchemaAwareJsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.11.4.2.0.7.0-22"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.11.4.2.0.7.0-22"}}],"properties":{"Timestamp Format":"yyyy-mm-dd HH:mm:ss","schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":"11eacc5b-38ad-32e2-ade8-e4db59cc9a53","Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"2978f3d4-f9fd-3eb8-856b-93145a27f938"}],"variables":{},"parameterContextName":"DFX-Kafka_JSON-Impala_Kudu","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"DFX-Kafka_JSON-Impala_Kudu":{"name":"DFX-Kafka_JSON-Impala_Kudu","parameters":[{"name":"Table Name","description":"","sensitive":false,"value":"truck_geo_events"},{"name":"Kudu Operation","description":"","sensitive":false,"value":"UPSERT"},{"name":"Kudu Servers","description":"","sensitive":false,"value":"rt-datamart-cluster-1-master30.gvettica.xcu2-8y8x.dev.cldr.work,\nrt-datamart-cluster-1-master10.gvettica.xcu2-8y8x.dev.cldr.work,\nrt-datamart-cluster-1-master20.gvettica.xcu2-8y8x.dev.cldr.work"},{"name":"Schema Registry Endpoint","description":"","sensitive":false,"value":"https://messaging-cluster-1-registry0.gvettica.xcu2-8y8x.dev.cldr.work:7790/api/v1"},{"name":"Kafka Sink Topic","description":"The name of the the destination topic","sensitive":false,"value":"speed-events-filtered"},{"name":"Kudu Table","description":"","sensitive":false,"value":"impala::sensors.tempreadings"},{"name":"Schema Registry Service Account","description":"","sensitive":false,"value":"srv_vett_dfx_sr_service"},{"name":"CDP Env Truststore File","description":"The location of the truststore used with the cert required to talk to the Kafka cluster over SSL","sensitive":false,"value":"/var/lib/nifi/gvetticaden_dfx.jks"},{"name":"Database Name","description":"","sensitive":false,"value":"truck_fleet_db"},{"name":"Kafka Service Account Password","description":"The password for the service account","sensitive":true},{"name":"Source Schema","description":"The schema for the source topic events that are in CSV. This is required so you can do filtering on the stream of events using SQL","sensitive":false,"value":"{\n \"type\": \"record\",\n \"namespace\": \"cloudera.cdf.csp.schema.refapp.trucking\",\n \"name\": \"TruckSpeedEvent\",\n \"fields\": [\n  {\n   \"name\": \"eventTime\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"eventTimeLong\",\n   \"type\": \"long\",\n   \"default\": 0\n  },\n  {\n   \"name\": \"eventSource\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"truckId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"driverId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"driverName\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"routeId\",\n   \"type\": \"int\"\n  },\n  {\n   \"name\": \"route\",\n   \"type\": \"string\"\n  },\n  {\n   \"name\": \"speed\",\n   \"type\": \"int\"\n  }\n ]\n}"},{"name":"Kudu Service Account Password","description":"","sensitive":true},{"name":"Kafka Producer Id","description":"The id for the Kafka producer into the destination sink","sensitive":false,"value":"dfx-flow-iot-sensors-producer"},{"name":"Filter Rule","description":"The filter rule expressed in SQL to do filtering of the stream of events from the source before sending to desination.","sensitive":false,"value":"SELECT * FROM FLOWFILE where eventSource = 'truck_speed_event' and speed > 40"},{"name":"Schema Registry Service Account Password","description":"","sensitive":true},{"name":"Kafka Consumer Group Id","description":"The name of the consumer group used for the the source topic you are consuming from","sensitive":false,"value":"dfx-flow-iot-sensors-consumer"},{"name":"Kafka Service Account","description":"The service account that you will use to connect to the Kafka broker. Ensure this user has the appropriate access rights to the Kafka topics","sensitive":false,"value":"srv_vett_dfx_kafka_service"},{"name":"Kafka Broker Endpoint","description":"The Kafka broker endpont for the source and destination","sensitive":false,"value":"messaging-cluster-1-broker0.gvettica.xcu2-8y8x.dev.cldr.work:9093,messaging-cluster-1-broker1.gvettica.xcu2-8y8x.dev.cldr.work:9093,messaging-cluster-1-broker2.gvettica.xcu2-8y8x.dev.cldr.work:9093"},{"name":"Kudu Service Account","description":"","sensitive":false,"value":"srv_vett_dfx_kudu_service"},{"name":"Kafka Source Topic","description":"The name of the Kafka topic you are consuming from","sensitive":false,"value":"iottest"},{"name":"CDP Env Trustore Password","description":"The password to the Truststore","sensitive":true}]}},"flowEncodingVersion":"1.0"}